---
---

a { color: #592a8a; }

#ecu-navbar {
   z-index: 2000;
   background-color: #592a8a;
   border-bottom: 3px solid #fec923;
   margin-bottom: 0;
   .ecu-logo {
     height: 35px;
     margin: 16px 0 10px 0;
     padding-left: 5px;
     padding-top:0;
  }
  .ecu-libs-logo { height: 40px;  }
  .navbar-right {
    padding-top: 10px;
    li a { color: #fff; }
    #hours img { margin-top: -2px; height: 15px; }
    .dropdown-menu a { color: #3c3c3c; }
  }
}

.table { font-size: 90%; }
.label { display: inline-block; padding-bottom: 5px; }
.categories a { color: #fff; font-size: 1.2em; }

.panel-primary  {
  border: solid 1px #086f74;
  .panel-heading { background-color: #086f74; }
}

.btn-primary {
  background-color: #592a8a;
  border-color: #592a8a;
  &:hover { background-color: #fec923; color: #3c3c3c; }
}

.footer {
  padding-bottom: 20px;
  .ecu-footer-logo {
    margin: 5px 10px 5px 0;
    float: left;
    img { height: 35px; }
  }
  .ecu-footer-name { font-weight: bold; font-size: 13pt; }
  .ecu-footer-contact { font-size: 10pt; }
}
