---
layout: ecu
title: "Additional Infomation - Day of Infamy 1941-2001"
---

{% include breadcrumbs.html active="" %}

<h2>Additional Information for Day of Infamy 1941-2001 Exhibit</h2>
<p>
This digital history exhibit is a recreation of an exhibit, entitled Day of Infamy: 1941 –2001, that was displayed in the Manuscripts and Rare Books Department of Joyner Library, East Carolina University, Greenville, North Carolina. Long planned, it opened on December 7, 2001, the 60th anniversary of the attack, and in the wake of the 9/11 attack upon New York and Washington, DC at the start of a new world war against terror. It closed on July 4th, 2002. The Day of Infamy Exhibit featured documents, photographs, and printed materials donated to the Manuscripts and Rare Books Department by members of the United States Naval Academy’s Class of 1941. A few were used with permission from other sources.
In mounting the Day of Infamy Exhibit, we hoped to keep alive the events of that historic day through the eyes of the young men who were present and who lived through the shock and the terror. We hoped to show modern Americans that their fathers and grandfathers had successfully faced the same kind of shock and terror that they faced and to give them equal hope for the future, but more than that: in recreating the Day of Infamy Exhibit, digitally, we hope to keep alive the events of that historic day as the young men who were present and who lived through the shock and the terror experienced them.
</p>
<p>
The Day of Infamy Digital Exhibit, like the original exhibit, follows a basically chronological format and faithfully recreates the original exhibit cases.
</p>
<h3>The original catalog for the Pearl Harbor exhibit</h3>
<div class="well">
  <h1>DAY OF INFAMY 1941-2001</h1>

  <h2>EXHIBIT CATALOG</h2>
  <p><em>
  An exhibit commemorating the 60th anniversary of the Japanese attack on Pearl Harbor, December 7, 1941.
</em></p>
<p>
  The exhibit includes hundreds of documents, photos, works of art, printed materials, and audio recordings relating to the events of that "Day of Infamy."
</p><p>
  EXHIBIT LOCATION:<br/>
  Manuscripts and Rare Books Dept., Joyner Library 4th Floor, East Carolina University, Greenville, NC 27858
</p><p>
  EXHIBIT HOURS DURING SEMESTER:<br/>
  Monday - Friday: 8:00 - 5:00 PM<br/>
  Saturday: 10:00 - 2:00 PM<br/>
  Sunday: Closed
</p><p>
  EXHIBIT OPENS DEC. 7, 2001<br/>
  EXHIBIT ENDS JULY 4, 2002
  </p>
</div>
<div class="well">
  <h4>CASE 1</h4>
  <ul>
  <li>1.01 Map, by Robert M. Berish, showing location of the Pacific Fleet on 7 Dec from the perspective of a Japanese pilot. Navy History Center, Washington, DC. </li>
  <li>1.02 Map showing Pearl Harbor 7:55 AM on 7 Dec. </li>
  <li>1.03 Rescue efforts near USS West Virginia. US Army Photo #C-5904 </li>
  <li>1.04 Map showing routes of Japanese aircraft. Pearl Harbor Remembered Web Page (www.execpc.com) </li>
  <li>1.05 Photo of a relaxed serviceman watching cruiser USS Louisville in Manila, c. Nov 1941. #829.3.12 </li>
  <li>1.06 Charles P. Trumbull, c. Feb 1941. LB 182 </li>
  <li>1.07 Bio of Charles P. Trumbull. USNARA &amp; #829 </li>
  <li>1.08 Photo showing a typical day for Lt. Charles Trumbull and his friends, c. Nov 1941. #829.3.12 </li>
  <li>1.09 USS Preble (DD 345), c. 1940. US Navy Photo </li>
  <li>1.10 History of USS Preble (DD-345). DANFS </li>
  <li>1.11 David H. Jackson interview. OH 128, p. 19-27</li>
  <li>1.12 David H. Jackson, c. Feb 1941. LB 105 </li>
  <li>1.13 Bio of David H. Jackson. USNARA &amp; OH 128 </li>
  <li>1.14 Lucky Bag, the Naval Academy class yearbook, owned by Louis P. Davis. #V / 415 / 31 / L9 / 1941 </li>
  <li>1.15 History of USS Breese (DD-122 &amp; DM-18) prior to 7 Dec. DANFS &amp; #194.3 </li>
  <li>1.16 Report by Alexander B. Coxe, Jr., executive officer of minesweeper USS Breese (DM-18). #194.3.b </li>
  <li>1.17 History of destroyer USS Zane (DD-337) DANFS &amp; #555 </li>
  <li>1.18 USS Zane (DD-337), n.d. US Navy Photo. </li>
  <li>1.19 Photo taken by a Japanese pilot showing the attack on "Battleship Row." P-677/45/29 </li>
  <li>1.20 "Pearl Harbor [Before the Attack]". Article, by Victor Delano, n.d. #539.1 </li>
  <li>1.21 Bio of Victor Delano, on board battleship USS West Virginia (BB-48). USNARA </li>
  <li>1.22 Victor Delano, c. Feb 1941. LB 075.2 </li>
  <li>1.23 Bio of Archie P. Kelley, also on USS West Virginia (BB-48). USNARA &amp; OH 197 </li>
  <li>1.24 Archie P. Kelley, c. 1941. LB 108 </li>
  <li>1.25 History of battleship USS West Virginia. DANFS; OH 197; #539 </li>
  <li>1.26 Chart of USS Zane's (DD-337) sortie. #555.1.e </li>
  <li>1.27 Reports of officers of USS Zane (DD-337). #555.1.e </li>
  <li>1.28 Letter received by David M. Armstrong's father on news of the attack on Pearl Harbor. #555.1.b </li>
  <li>1.29 David M. Armstrong, c. Feb 1941. LB 048 </li>
  <li>1.30 Bio of David M. Armstrong. USNARA &amp; #555 </li>
  <li>1.31 "Pearl Harbor: An Eyewitness Account," by David M. Armstrong, American History Magazine, August 1974, p. 4-5. #555.1.g</li>
</ul>
</div>
<div class="well">
  <ul>
  <li>1.32 Interview with Joseph C. Spitler of USS Oklahoma (BB-37). OH 125, p. 8-14.</li>
  <li>1.33 Joseph C. Spitler, c. Feb 1941. LB 173.1 </li>
  <li>1.34 Photo of battleship USS Oklahoma (BB-37) P-677/46/388 </li>
  <li>1.35 Photo of USS Oklahoma (BB-37) P-677/46/30 </li>
  <li>1.36 History of USS Oklahoma (BB-37). DANFS &amp; OH 125 </li>
  <li>1.37 Bio of Richard M. Wright, on battleship USS Tennessee. USNARA &amp; OH 202 </li>
  <li>1.38 Richard M. Wright. LB 196 </li>
  <li>1.39 USS Tennessee (BB-43) later in the war. Navy Photo. </li>
  <li>1.40 History of USS Tennessee (BB-43). DANFS &amp; OH 125 </li>
  </ul>
  <h4>CASE 2</h4>
  <ul>
  <li>2.01 Bio of John R. Beardall, Jr. gunnery officer of cruiser USS Raleigh. USNARA </li>
  <li>2.02 John R. Beardall, Jr. LB 053 </li>
  <li>2.03 John R. Beardall, Jr. describes attack on USS Raleigh. OH 126, p. 1-3. </li>
  <li>2.04 USS Raleigh (CL-7) struggling to stay afloat after the attack. US Navy Photo </li>
  <li>2.05 History of USS Raleigh (CL-7). DANFS </li>
  <li>2.06 Cruiser USS Helena (CL-50). US Navy Photo. </li>
  <li>2.07 History of USS Helena (CL-50). DANFS </li>
  <li>2.08 William W. Jones. LB 107 </li>
  <li>2.09 Bio of William W. Jones. USNARA &amp; OH 101 </li>
  <li>2.10 William W. Jones' account of the attack on USS Helena. OH 101, p. 6-10 </li>
  <li>2.11 Earl A. Luehman, of USS Helena. LB 119 </li>
  <li>2.12 Interview with Earl A. Luehman. OH 129, p. 1-5. </li>
  <li>2.13 John L. Landreth of battleship USS Nevada. LB 112 </li>
  <li>2.14 Bio of John L. Landreth. USNARA &amp; OH 119 </li>
  <li>2.15 Bio of Charles J. Merdinger of USS Nevada. USNARA </li>
  <li>2.16 Charles J. Merdinger. LB 132 </li>
  <li>2.17 Joseph K. Taussig, Jr. LB 179 </li>
  <li>2.18 Bio of Joseph K. Taussig, Jr., of USS Nevada (BB-36), who lost a leg on 7 Dec. USNARA &amp; OH 091 </li>
  <li>2.19 Interview with John L. Landreth of USS Nevada (BB-36). OH 119, p. 19-32 </li>
  <li>2.20 USS Nevada (BB-36) beached after the Japanese attack. US Navy Photo #80-G-19940 </li>
  <li>2.21 History of USS Nevada (BB-36). DANFS </li>
  <li>2.22 Interview with Charles J. Merdinger, discussing the attack on USS Nevada. OH 121, p. 46-55 </li>
  <li>2.23 History of the battleship USS California (BB-44). DANFS</li>
  </ul>
</div>
<div class="well">
  <ul>
  <li>2.24 Aerial view by a Japanese pilot during the attack. US Navy Photo #NH 50931 </li>
  <li>2.25 Victory Edition of the Pearl Harbor Banner (14 August 1945) 202.2.os </li>
  <li>2.26 USS California (BB-44) before the war. US Navy Photo </li>
  <li>2.27 Alvin A. Fahrner. #202 </li>
  <li>2.28 Bio of Alvin A. Fahrner of USS California (BB-44). #202 </li>
  <li>2.29 USS California (BB-44) 7 Dec. US Navy Photo</li>
</ul>
  <h4>CASE 3</h4>
  <ul>
  <li>3.01 Lt. (jg) Lloyd O. Johnson. #677/21.1.7 </li>
  <li>3.02 Bio of Lt. (jg) Lloyd O. Johnson of USS Whitney (AD-4). #677/21/1.7 </li>
  <li>3.03 History of destroyer tender USS Whitney (AD-4). DANFS </li>
  <li>3.04 View of destroyer tender USS Whitney (AD-4), heading out of port. #677/21/1.6 </li>
  <li>3.05 Interview with Oscar David MacMillan who recalls complete surprise on 7 Dec. OH 102, p. 9-18 </li>
  <li>3.06 Sketches of the Pearl Harbor attack, showing the path of the Japanese attackers. #677/21/1.1 </li>
  <li>3.07 Oscar David MacMillan. LB 122 </li>
  <li>3.08 Bio of Oscar David MacMillan, of destroyer USS Hull (DD-350). LB 122 </li>
  <li>3.09 Bio of Francesco "Frank" Costagliola of cruiser USS Phoenix (CL-46). USNARA &amp; OH 120 </li>
  <li>3.10 Frank Costagliola. LB 070 </li>
  <li>3.11 Interview with Frank Costagliola, of cruiser USS Phoenix (CL-46). OH 120, p. 8-20 </li>
  <li>3.12 Letter, from James H. Brown, dated 11 Dec, telling his parents that he survived. #547.3.c </li>
  <li>3.13 Claim form submitted by James H. Brown for reimbursement of personal items. #547.3.c </li>
  <li>3.14 James H. Brown, engineering officer of USS Shaw (DD-373). LB (1935), p. 232 </li>
  <li>3.15 Bio of James H. Brown, a member of the US Naval Academy Class of 1935. USNARA &amp; #547 </li>
  <li>3.16 Bio of Walter L. Seedlock, of destroyer USS Shaw (DD-373). USNARA </li>
  <li>3.17 Walter L. Seedlock, c. 1941. LB 166 </li>
  <li>3.18 Most famous image of 7 Dec showing USS Shaw (DD-373) exploding. US Navy Photo #NH-86118 </li>
  <li>3.19 History of USS Shaw (DD-375). DANFS </li>
  <li>3.20 Interview with Leon Grabowsky, of battleship USS Arizona (BB-39).   OH 131, p. 11-15</li>
</ul>
</div>
<div class="well">
  <ul>
  <li>3.21 Photo of USS Arizona (BB-39) burning. P-677/45/2 </li>
  <li>3.22 History of USS Arizona (BB-39). DANFS </li>
  <li>3.23 Leon Grabowsky, c. Feb 1941. LB 090 </li>
  <li>3.24 Bio of Leon Grabowsky, of USS Arizona (BB-39). USNARA </li>
  <li>3.25 (On easel behind Case #3) Painting of destroyer USS Hull (DD 350). #677/81.os</li>
</ul>
  <h4>CASE 4</h4>
  <ul>
  <li>4.01 Photo of battleship USS Pennsylvania (BB-38). P-677/46/455 </li>
  <li>4.02 Scene of a heavy cruiser at sea. P-677/45/39 </li>
  <li>4.03 Photo of repair ship USS Medusa (AR-1). P-677/45/98 </li>
  <li>4.04 Bio of Henry Champ, of USS Medusa (AR-1). USNARA &amp; #677/45 </li>
  <li>4.05 History of USS Medusa (AR-1). DANFS </li>
  <li>4.06 Destroyer USS Monaghan (DD-354) sank a Japanese midget submarine. US Navy Photo </li>
  <li>4.07 Samuel Elliott Morrison's History of U.S.Naval Operations in W.W.II, describing Monaghan's kill. D / 773 / M6 / v.3 / c.2 (III, p. 115) </li>
  <li>4.08 History of USS Monaghan (DD-354). DANFS </li>
  <li>4.09 Telegram ordering USS Monaghan (DD-354) to get under way on Dec. 7th. #833.3.c </li>
  <li>4.10 John W. Gilpin's calculation of when USS Monaghan put to sea on 7 Dec. #833.3.c </li>
  <li>4.11 Bio of John W. Gilpin. USNARA &amp; #833 </li>
  <li>4.12 John W. Gilpin, c. Feb 1941. LB 089 </li>
  <li>4.13 Reproduction of the Honolulu Star's 2d Extra Edition for 7 Dec 1941. #833.3.d </li>
  <li>4.14 (In alcove behind case) Japanese torpedo planes taking off. US Navy Photo #NH-50603 </li>
  <li>4.15 Battleships USS Maryland (BB-46) &amp; USS Oklahoma (BB-37) 7 Dec. Navy Photo #80-G-19949 </li>
  <li>4.16 (On easel to right of Case) Portrait of John W. Gilpin, by Freda L. Reiter, (1945), USO Camp Shows, Inc. #833.3.os </li>
  <li>4.17 (In alcove behind case) Battleship USS Arizona exploding. US Navy Photo #80-G-K-13513 </li>
  <li>4.18 (In alcove behind Case) USS Arizona burning. US Navy Photo #80-G-19942 </li>
  <li>4.19 Battleship USS Utah (BB-31) capsizing. US Navy Photo #80-G-266626</li>
</ul>
  <h4>CASE 5</h4>
  <ul>
  <li>5.01 Bio of Richard L. Stewart of destroyer USS Downes (DD-375). USNARA &amp; OH 182 </li>
  <li>5.02 Richard L. Stewart, c. Feb 1941. LB 214 </li>
  <li>5.03 Wreckage of destroyers USS Downes (DD-375) &amp; USS Cassin (DD-372) lying in a flooded dry dock. US Navy Photo #80-G-19943</li>
</ul>
</div>
<div class="well">
<ul>
  <li>5.04 History of USS Downes (DD-375). DANFS &amp; OH 188 </li>
  <li>5.05 Map of route Japanese planes took over Oahu. Pearl Harbor Remembered Web Page (www.ececpc.com) </li>
  <li>5.06 Photo of battleship USS Oklahoma (BB-37) after it sank on 7 Dec. P-677/45/30 </li>
  <li>5.07 Photo of Wheeler Air Base, at Pearl Harbor, during attack on Ford Island. P-677/45/28 </li>
  <li>5.08 Louis Poisson Davis, Jr.'s diary entry for 7 Dec. #452.1.d</li>
  <li>5.09 Louis Poisson Davis, Jr., c. Feb 1941. LB 074 </li>
  <li>5.10 Bio of Louis Poisson Davis, Jr., of USS Reid (DD-369). USNARA </li>
  <li>5.11 History of destroyer USS Reid (DD-369). DANFS </li>
  <li>5.12 USS Reid (DD-369). US Navy Photo </li>
  <li>5.13 Thomas C. Buell, c. Feb 1941. LB 060 </li>
  <li>5.14 Bio of Thomas C. Buell, aboard destroyer USS Helm (DD-388). USNARA </li>
  <li>5.15 "Helm's Jap at Pearl (7 Dec 1941)," by Lt. (jg) V. A. Dybdal, of USS Helm (DD-388). #538.1 </li>
  <li>5.16 USS Helm (DD-388), c. 1942. US Navy Photo </li>
  <li>5.17 History of USS Helm (DD-388). DANFS </li>
  <li>5.18 Photo of David L. Martineau of destroyer USS Phelps (DD-360). P-677/46/624 </li>
  <li>5.19 Bio of David L. Martineau, who served on USS Phelps (DD-360). USNARA </li>
  <li>5.20 Photo of USS Phelps (DD-360). P-677/46/23 </li>
  <li>5.21 History of USS Phelps (DD-360). USNARA </li>
  <li>5.22 Destroyer USS Case (DD-370). US Navy Photo </li>
  <li>5.23 History of USS Case (DD-370). DANFS </li>
  <li>5.24 Bio of A. William Elliott, Jr. USNARA &amp; OH 168 </li>
  <li>5.25 A. William Elliott, Jr. of USS Case (DD-370). LB 083 </li>
  <li>5.26 Interview with A. William Elliott, Jr. of USS Case. OH 168, p. 6-13 </li>
  <li>5.27 Robert Hailey's diary open to 7 Dec. #643.2.c </li>
  <li>5.28 Robert Hailey, c. Feb 1941. LB 094 </li>
  <li>5.29 Bio of Robert Hailey, of cruiser USS Indianapolis (CA-28). USNARA, DANFS &amp; #643 </li>
  <li>5.30 USS Indianapolis (CA-35) US Navy Photo </li>
  <li>5.31 History of cruiser USS Indianapolis (CA-35) DANFS </li>
  <li>5.32 Cruiser USS Louisville (CA-28). US Navy Photo </li>
  <li>5.33 Josiah B. Henneberger's diary, 7-8 Dec 1941. #531.1.e </li>
  <li>5.34 History of USS Louisville (CA-28). DANFS &amp; #542</li>
</ul>
</div>
<div class="well">
  <ul>
  <li>5.35 Josiah B. Henneberger, Feb 1941. LB 097 </li>
  <li>5.36 Bio of Josiah B. Henneberger, Jr., of USS Louisville (CA-28). USNARA</li>
</ul>
  <h3>CASE 6</h3>
  <ul>
  <li>6.01 History of destroyer USS Maury (DD-401). DANFS </li>
  <li>6.02 USS Maury (DD-401) US Navy Photo </li>
  <li>6.03 Bio of Russell S. Crenshaw, Jr. OH 196 </li>
  <li>6.04 Russell S. Crenshaw, Jr., c. Feb 1941, a junior officer on USS Maury (DD-401). LB 071 </li>
  <li>6.05 Aircraft carrier USS Enterprise (CV-6). Luckily. US Navy Photo </li>
  <li>6.06 History of USS Enterprise (CV-6). Many of her men were shot down by Americans when they tried to land in Hawaii on the evening of 7 Dec. DANFS </li>
  <li>6.07 Benjamin C. Byrnside, Jr., c. Feb 1941. LB 063 </li>
  <li>6.08 Bio of Benjamin C. Byrnside, Jr. of USS Enterprise. OH 181 </li>
  <li>6.09 Interview with Benjamin C. Byrnside, Jr. who witnessed aftermath of the battle. OH 181, p. 6-8 </li>
  <li>6.10 Charles P. Trumbull's diary open to show the entries for 7-8 Dec. #829.3.12 </li>
  <li>6.11 Jules James commander of the US naval base on the British Island of Bermuda. P-223/2 </li>
  <li>6.12 Telegram "Air raid on Pearl Harbor X This is Not Drill." received by Jules James. #232.2.b </li>
  <li>6.13 Telegram "Hostilities with Japan Commenced. . . ." received by Jules James. #223.2.b </li>
  <li>6.14 Telegram "The enemy has struck a savage blow. . . ." from Navy Secretary Knox. #223.2.b </li>
  <li>6.15 John W. Newsom, c. Feb 1941. LB 141 </li>
  <li>6.16 Bio of John W. Newsom. USNARA </li>
  <li>6.17 Telegram, sent by Secretary of Navy Frank Knox. (Abridged version of 6.14) #634.1.a.4 </li>
  <li>6.18 "Execute WLP Forty Six Against Japan" Telegram received by John W. Newsom at 1940 (7:40 PM) 7 Dec. #634.1.a.2 </li>
  <li>6.19 Letter from John W. Newsom to Dear Folks, 8 Dec. 1941. #634.1.a.4 </li>
  <li>6.20 Destroyer USS Hopkins (DD-249). US Navy Photo </li>
  <li>6.21 History of USS Hopkins (DD-249). DANFS &amp; #634 </li>
  <li>6.22 Interview with John W. Newsom, of destroyer USS Hopkins (DD-249). OH 124, p. 7-9 </li>
  <li>6.23 Photo #1 of the Japanese midget submarines sunk on 7 Dec. #829.3.12 </li>
  <li>6.24 Photo #2 of the Japanese midget submarines sunk on 7 Dec. #829.3.12 </li>
  <li>6.25 History of destroyer USS Flusser (DD-368). DANFS</li>
</ul>
</div>
<div class="well">
  <ul>
  6.26 USS Flusser (DD-368). US Navy Photo
  6.26 Bio of Burns W. Spore, a junior officer on USS Flusser (DD-368) on 7 Dec. USNARA
  6.27 Burns W. Spore, c. Feb 1941. LB 173.2
</ul>
  <h4>CASE 7</h4>
  <ul>
  7.01 "The U. S. Fleet Goes Into Action. First War Pictures in the Pacific" Life Magazine (5 January 1942), p. 15. #547.7.1.2
  7.02 Newsweek Magazine cover 12 Dec 1966. #547.7.1.3
  7.03 Photo of Submarine memorial at Pearl Harbor. P-731/80
  7.04 Photo of USS Arizona memorial. P-731/82
  7.05 "Pictures from Many Fronts Build Morale," Commence Shooting Magazine (30 June 1942) #547.7.1.1 7.06 Back Cover of Coast Guard pamphlet: "Remember Pearl Harbor" soon became a national rallying cry. Spec. Ref. / D / 773.J68 / 1993
  7.07 (In alcove behind Case) USS California on 7 Dec. US Navy Photo #80-G-32463
  7.08 Pearl Harbor scene 7 Dec. US Navy Photo
  7.09 USS Oklahoma &amp; USS Hull. US Navy Photo.
</ul>
<hr/>
  <h4>SOURCES </h4>
  <em>Lucky Bag 1941</em> (Naval Academy Yearbook 1941), p. 75.<br/>

  The U.S. Naval Academy Alumni Association, Inc. <em>Register of Alumni</em>, 1997 Edition . (Annapolis, 1997)
<br/>
  <em>Dictionary of American Naval Fighting Ships</em>, 8 vols. (Navy Dept., Office of Chief of Naval Operations, Naval History Division, Washington, DC 1963)
<br/>
  Oral History Collection, Manuscripts and Rare Books Department

  <h4>CREDITS </h4>
  Exhibit Research &amp; Design: Jonathan Dembo <br/>
  Exhibit Installation: Susan Midgette, Mary Boccaccio &amp; Martha Elmore <br/>
  Photos &amp; Conservation: Lynette Lundin <br/>
  Students: Aaron Bowman, Bill Dewan, Christine Bendle <br/>

  <h4>FOR MORE INFORMATION CALL: </h4>
  Telephone: 252-328-2661 or 252-328-6671 <br/>
  Email: demboj@mail.ecu.edu
</div>
