---
layout: ecu
title: "For Further Reading - Day of Infamy 1941-2001"
---

{% include breadcrumbs.html active="" %}

<h2>For Further Reading - Day of Infamy 1941-2001 Exhibit</h2>

<hr/>

Morison, Samuel Eliot. <em>The Rising Sun in the Pacific; 1931-April 1942</em>. Boston: Little, Brown and Company, 1948.
<br/><a href="http://catalog.lib.ecu.edu/catalog/273947">Display this record in the Joyner Library catalog</a>
<br/><br/>
Mooney, James L., editor. <em>Dictionary of American naval fighting ships</em>. http://www.hazegray.org/danfs/ . Washington: Navy Dept., Office of the Chief of Naval Operations, 1959-1981.
<br/><a href="https://catalog.lib.ecu.edu/catalog/661734">Display this record in the Joyner Library catalog</a>
<br/><br/>
Naval Historical Center, Department of the Navy. <em>Online Library of Selected Images</em>. http://www.history.navy.mil/branches/org11-2.htm . 5 December 2002.
<br/><br/>
Yarnall, Paul R. <em>NavSource Photo Archives</em>. http://www.navsource.org/ . 5 December 2002.
