---
layout : ecu
title : Day of Infamy 1941-2001 - First Reactions
---

{% include breadcrumbs.html active="" %}

<h2>Day of Infamy 1941-2001 - First Reactions</h2>

<p>
  Case 2 picks up the events after the first attack and shows how the men of the
  Pacific Fleet reacted to the attack. It follows them as their initial shock
  and fear turns to awareness and determination to respond. The oral histories
  record the personal experiences of the men as they struggled to save their
  wounded or dying ships even as they attempted to strike back at the enemy.
  This case focuses on the cruisers <em>USS Raleigh</em> and the <em>USS Helena</em> and the
  battleships <em>USS Nevada</em> and the <em>USS California</em>. It tries to show the personal
  impact on the individual sailors, including Joseph Taussig, the son of an
  admiral, who lost a leg in the attack on the <em>USS Nevada</em>. It also tries to
  show how the town of Honolulu adjacent to Pearl Harbor felt the impact of the
  attacks.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.firstreactions | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
