---
layout: ecu
title: "Home - Day of Infamy 1941-2001"
---

{% include breadcrumbs.html active="home" %}

<h1>Day of Infamy 1941-2001</h1>
<h4>An exhibit commemorating the 60th anniversary of the Japanese attack on Pearl Harbor, December 7, 1941.</h4>
<hr/>
<p>
  The Japanese attack on Pearl Harbor, December 7th, 1941, struck an America unaware and unprepared; they left an America shocked into a new age. At dawn, on that Sunday morning, the dive bombers and torpedo planes of the Imperial Japanese Navy laid waste to the United States military and naval bases in the Hawaiian Islands; they also devastated the prevalent American outlook on the world: neutral, isolationist, introspective, broadly ignorant of the world. Before December 7th 1941, Americans viewed foreign relations as secondary, optional, and commercial; afterwards, they became primary, vital, and military. There has not been a day since that day, when the United States did not have military forces scattered around the world on alert for a new attack.
</p>

<p>
   For ease of navigation within this exhibit, the digital resources have been grouped into seven categories as they were in the original exhibit:
</p>


<div class="row categories">
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="warbegins.html">War Begins</a></div>
      <div class="panel-body">
        <a href="warbegins.html"><img class="img-responsive thumbnail" src="img/warbegins.jpg"/></a>
      </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="firstreactions.html">First Reactions</a></div>
      <div class="panel-body">
        <a href="firstreactions.html"><img class="img-responsive thumbnail" src="img/firstreactions.jpg"/></a>
      </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="secondwave.html">Second Wave</a></div>
      <div class="panel-body">
        <a href="secondwave.html"><img class="img-responsive thumbnail" src="img/secondwave.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="strikingback.html">Striking Back</a></div>
      <div class="panel-body">
        <a href="strikingback.html"><img class="img-responsive thumbnail" src="img/strikingback.jpg"/></a>
      </div>
    </div>
   </div>

</div>

<div class="row categories">
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="smallerships.html">Smaller Ships</a></div>
      <div class="panel-body">
        <a href="smallerships.html"><img class="img-responsive thumbnail" src="img/smallerships.jpg"/></a>
      </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="newsspreads.html">News Spreads</a></div>
      <div class="panel-body">
        <a href="newsspreads.html"><img class="img-responsive thumbnail" src="img/newsspreads.jpg"/></a>
      </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="lookingback.html">Looking Back</a></div>
      <div class="panel-body">
        <a href="lookingback.html"><img class="img-responsive thumbnail" src="img/lookingback.jpg"/></a>
      </div>
    </div>
   </div>
 </div>

<p>
<a href="ships.html">Ships of the Exhibit</a>
</p>
<p>
  <a href="men.html">Men of the Exhibit</a>
</p>
<p>
  <a href="addinfo.html">Read more about this exhibit </a>
</p>
<p>
  <a href="ffr.html">For Further Reading</a>
</p>

<div class="well">
   <p>
      You can find thousands of additional documents about the history of East Carolina University digitized
      at in our <a href="http://digital.lib.ecu.edu">Digital Collections</a>.
   </p>
</div>
