---
layout : ecu
title : Day of Infamy 1941-2001 - Looking Back
---

{% include breadcrumbs.html active="" %}

<h2>Day of Infamy 1941-2001 - Looking Back</h2>

<p>
  Case 7 tells the story of Pearl Harbor in retrospect as it appeared in
  periodicals and other publications between 1941 and 1966; it also tells the
  story of the various attempts to remember the fallen soldiers and sailors
  lost that day, most poignantly including the <em>USS Arizona</em> Memorial . It also
  tries to show how the attack on Pearl Harbor, like the attack on the Alamo
  in 1836, or the sinking of the <em>USS Maine</em> in Cuba in 1898, became both a
  rallying cry for the rest of the war and a lesson for future, reminding all
  that defeat follows disunity, and inattention to national defense invites
  attack. Photographs show the effects of the attack on the battleship
  <em>USS Oklahoma</em> and the destroyer <em>USS Hull</em>.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.lookingback | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
