---
layout: ecu
title: "Men of the Exhibit - Day of Infamy 1941-2001"
---

{% include breadcrumbs.html active="" %}

<h2>Navy men represented in the Day of Infamy Exhibit</h2>

<p>
  Listed below are the men that are in the Day of Infamy Exhibit. They are grouped by the ships they were serving on during the attack on December 7, 1941. Listed below each ship are links to images and information on persons serving on that ship. This list does not represent the entire content of the Day of Infamy Exhibit.
</p>
<hr/>
<h4>Ships of the Exhibit</h4>
<table class="table">
<tr>
  <td>
    <a href="#C1">USS West Virginia (BB-48) </a><br/>
    <a href="#C2">USS Zane (DMS-14) </a><br/>
    <a href="#C3">USS Preble (DM-20) </a><br/>
    <a href="#C4">USS Louisville (CA-28) </a><br/>
    <a href="#C5">USS Oklahoma (BB-37) </a><br/>
    <a href="#C6">USS Tennessee (BB-43) </a><br/>
    <a href="#C7">USS Raleigh (CL-7) </a><br/>
    <a href="#C8">USS Helena (CL-50) </a><br/>
    <a href="#C9">USS Nevada (BB-36)</a>
  </td>
  <td>
    <a href="#C10">USS California (BB-44) </a><br/>
    <a href="#C11">USS Whitney (AD-4) </a><br/>
    <a href="#C12">USS Hull (DD-350) </a><br/>
    <a href="#C13">USS Phoenix (CL-46) </a><br/>
    <a href="#C14">USS Shaw (DD-373) </a><br/>
    <a href="#C15">USS Arizona (BB-39) </a><br/>
    <a href="#C16">USS Medusa (AR-1) </a><br/>
    <a href="#C17">USS Monaghan (DD-354) </a><br/>
    <a href="#C18">USS Downes (DD-375)</a>
  </td>
  <td>
    <a href="#C19">USS Reid (DD-369) </a><br/>
    <a href="#C20">USS Helm (DD-388) </a><br/>
    <a href="#C21">USS Phelps (DD-360) </a><br/>
    <a href="#C22">USS Case (DD-370) </a><br/>
    <a href="#C23">USS Indianapolis (CA-35) </a><br/>
    <a href="#C24">USS Maury (DD-401) </a><br/>
    <a href="#C25">USS Enterprise (CV-6) </a><br/>
    <a href="#C26">USS Hopkins (DD-249) </a><br/>
    <a href="#C27">USS Flusser (DD-368)</a>
  </td>
</tr>
</table>
<hr/>
<a name="C1"></a>
<h3>USS West Virginia (BB-48):</h3>
<ul>
<li><a href="/ELAN/">Victor Delano</a></li>
<li><a href="/LANO/">Biographical Sketch of Victor Delano</a></li>
<li><a href="/KELL/">Archie Parmelle Kelley</a></li>
<li><a href="/LLEY/">Biographical Sketch of Archie Parmelle Kelley</a></li></li>
</ul><br/><a name="C2"></a>
<h3>USS Zane (DMS-14):</h3>
<ul>
<li><a href="/RMST/">David Martin Armstrong</a></li>
<li><a href="/WALT/">[Friend of David M. Armstrong to Armstrong's father]</a></li>
<li><a href="/TRON/">Biographical Sketch of David M. Armstrong</a></li>
<li><a href="/EYEW/">"Pearl Harbor! An Eyewitness Account"</a></li></li>
</ul><br/><a name="C3"></a>
<h3>USS Preble (DM-20):</h3>
<ul>
<li><a href="/ACKS/">David H. Jackson</a></li>
<li><a href="/JACK/">David H. Jackson Interview</a></li>
<li><a href="/KSON/">Biographical Sketch of David H. Jackson</a></li></li>
</ul><br/><a name="C4"></a>
<h3>USS Louisville (CA-28):</h3>
<ul>
<li><a href="/TRUM/">Charles P. Trumbull</a></li>
<li><a href="/RUMB/">[Lt. Charles Trumbull and friends]</a></li>
<li><a href="/UMBU/">Charles P. Trumbull, Diary</a></li>
<li><a href="/MBUL/">Biographical Sketch of Charles P. Trumbull</a></li>
<li><a href="/ENNE/">Josiah B. Henneberger</a></li>
<li><a href="/HENN/">Josiah B. Henneberger, Diary</a></li>
<li><a href="/BHEN/">Biographical Sketch of Josiah B. Henneberger, Jr.</a></li></li>
</ul><br/><a name="C5"></a>
<h3>USS Oklahoma (BB-37):</h3>
<ul>
<li><a href="/PITL/">Joseph C. Spitler</a></li>
<li><a href="/SPIT/">Joseph C. Spitler Interview</a></li></li>
</ul><br/><a name="C6"></a>
<h3>USS Tennessee (BB-43):</h3>
<ul>
<li><a href="/RICH/">Richard M. Wright</a></li>
<li><a href="/IGHT/">Biographical Sketch of Richard M. Wright</a></li></li>
</ul><br/><a name="C7"></a>
<h3>USS Raleigh (CL-7):</h3>
<ul>
<li><a href="/EARD/">John R. Beardall, Jr.</a></li>
<li><a href="/BEAR/">John R. Beardall, Jr. Interview</a></li>
<li><a href="/DALL/">Biographical Sketch of John R. Beardall, Jr.</a></li></li>
</ul><br/><a name="C8"></a>
<h3>USS Helena (CL-50):</h3>
<ul>
<li><a href="/ONES/">William W. Jones</a></li>
<li><a href="/JONE/">William W. Jones Interview</a></li>
<li><a href="/AMWJ/">Biographical Sketch of William W. Jones</a></li>
<li><a href="/UEHM/">Earl A. Luehman</a></li>
<li><a href="/LUEH/">Earl A. Luehman Interview</a></li></li>
</ul><br/><a name="C9"></a>
<h3>USS Nevada (BB-36):</h3>
<ul>
<li><a href="/ERDI/">Charles J. Merdinger</a></li>
<li><a href="/MERD/">Charles J. Merdinger Interview</a></li>
<li><a href="/INGE/">Biographical Sketch of Charles J. Merdinger</a></li>
<li><a href="/ANDR/">John L. Landreth</a></li>
<li><a href="/LAND/">John L. Landreth Interview</a></li>
<li><a href="/RETH/">Biographical Sketch of John L. Landreth</a></li>
<li><a href="/TAUS/">Joseph K. Taussig, Jr.</a></li>
<li><a href="/SSIG/">Biographical Sketch of Joseph K. Taussig, Jr.</a></li></li>
</ul><br/><a name="C10"></a>
<h3>USS California (BB-44):</h3>
<ul>
<li><a href="/FAHR/">Alvin A. Fahrner</a></li>
<li><a href="/AHRN/">Biographical Sketch of Alvin A. Fahrner</a></li></li>
</ul><br/><a name="C11"></a>
<h3>USS Whitney (AD-4):</h3>
<ul>
<li><a href="/LLOY/">Lt. Lloyd O. Johnson</a></li>
<li><a href="/LOYD/">Biographical Sketch of Lt. Lloyd O. Johnson</a></li></li>
</ul><br/><a name="C12"></a>
<h3>USS Hull (DD-350):</h3>
<ul>
<li><a href="/ACMI/">Oscar David MacMillan</a></li>
<li><a href="/MACM/">Oscar David MacMillan Interview</a></li>
<li><a href="/CMIL/">Biographical Sketch of Oscar David MacMillan</a></li></li>
</ul><br/><a name="C13"></a>
<h3>USS Phoenix (CL-46):</h3>
<ul>
<li><a href="/COST/">Francesco Costagliola</a></li>
<li><a href="/OSTA/">Frank Costagliola Interview</a></li>
<li><a href="/GLIO/">Biographical Sketch of Francesco Costagliola</a></li></li>
</ul><br/><a name="C14"></a>
<h3>USS Shaw (DD-373):</h3>
<ul>
<li><a href="/OWNB/">James H. Brown</a></li>
<li><a href="/ROWN/">[Claim form submitted by James H. Brown]</a></li>
<li><a href="/JOHN/">[To parents of James H. Brown]</a></li>
<li><a href="/OWNA/">Biographical Sketch of James H. Brown</a></li>
<li><a href="/SEED/">Walter L. Seedlock</a></li>
<li><a href="/DLOC/">Biographical Sketch of Walter L. Seedlock</a></li></li>
</ul><br/><a name="C15"></a>
<h3>USS Arizona (BB-39):</h3>
<ul>
<li><a href="/RABO/">Leon Grabowsky</a></li>
<li><a href="/GRAB/">Leon Grabowsky Interview</a></li>
<li><a href="/SKYO/">Biographical Sketch of Leon Grabowsky</a></li></li>
</ul><br/><a name="C16"></a>
<h3>USS Medusa (AR-1):</h3>
<ul>
<li><a href="/CHAM/">Henry Champ</a></li>
<li><a href="/AMPO/">Biographical Sketch of Henry Champ</a></li></li>
</ul><br/><a name="C17"></a>
<h3>USS Monaghan (DD-354):</h3>
<ul>
<li><a href="/ILPI/">John Wallace Gilpin</a></li>
<li><a href="/GILP/">[John W. Gilpin's calculation of when USS Monaghan was put to sea]</a></li>
<li><a href="/LPIN/">[Portrait of John W. Gilpin]</a></li>
<li><a href="/PINU/">Biographical Sketch of John W. Gilpin</a></li></li>
</ul><br/><a name="C18"></a>
<h3>USS Downes (DD-375):</h3>
<ul>
<li><a href="/STEW/">Richard L. Stewart</a></li>
<li><a href="/STIN/">Richard L. Stewart Interview</a></li>
<li><a href="/BSTE/">Biographical Sketch of Richard L. Stewart</a></li></li>
</ul><br/><a name="C19"></a>
<h3>USS Reid (DD-369):</h3>
<ul>
<li><a href="/OISS/">Louis P. Davis, Jr.</a></li>
<li><a href="/POIS/">Louis P. Davis, Jr., Diary</a></li>
<li><a href="/BPOI/">Biographical Sketch of Louis Poisson Davis, Jr.</a></li></li>
</ul><br/><a name="C20"></a>
<h3>USS Helm (DD-388):</h3>
<ul>
<li><a href="/BUEL/">Thomas C. Buell</a></li>
<li><a href="/BBUE/">Biographical Sketch of Thomas C. Buell</a></li></li>
</ul><br/><a name="C21"></a>
<h3>USS Phelps (DD-360):</h3>
<ul>
<li><a href="/NEAU/">David L. Martineau</a></li>
<li><a href="/BMAR/">Biographical Sketch of David L. Martineau</a></li></li>
</ul><br/><a name="C22"></a>
<h3>USS Case (DD-370):</h3>
<ul>
<li><a href="/ELLI/">August W. Elliott, Jr.</a></li>
<li><a href="/LLIO/">August W. Elliott, Jr. Interview</a></li>
<li><a href="/AMEL/">Biographical Sketch of August W. Elliott, Jr.</a></li></li>
</ul><br/><a name="C23"></a>
<h3>USS Indianapolis (CA-35):</h3>
<ul>
<li><a href="/AILE/">Robert Hailey</a></li>
<li><a href="/HAIL/">Robert Hailey, Diary</a></li>
<li><a href="/BHAI/">Biographical Sketch of Robert Hailey</a></li></li>
</ul><br/><a name="C24"></a>
<h3>USS Maury (DD-401):</h3>
<ul>
<li><a href="/RENS/">Russell S. Crenshaw, Jr.</a></li>
<li><a href="/CREN/">Biographical Sketch of Russell S. Crenshaw, Jr.</a></li></li>
</ul><br/><a name="C25"></a>
<h3>USS Enterprise (Cv-6):</h3>
<ul>
<li><a href="/BYRN/">Benjamin C. Byrnside, Jr.</a></li>
<li><a href="/RNSI/">Benjamin C. Byrnside, Jr. Interview</a></li>
<li><a href="/YRNS/">Biographical Sketch of Benjamin C. Byrnside, Jr.</a></li></li>
</ul><br/><a name="C26"></a>
<h3>USS Hopkins (DD-249):</h3>
<ul>
<li><a href="/EWSO/">John W. Newsom</a></li>
<li><a href="/SOMN/">John W. Newsom Interview</a></li>
<li><a href="/WSOM/">[Letter from John W. Newsom to Dear Folks]</a></li>
<li><a href="/BNEW/">Biographical Sketch of John W. Newsom</a></li></li>
</ul><br/><a name="C27"></a>
<h3>USS Flusser (DD-368):</h3>
<ul>
<li><a href="/SPOR/">Burns W. Spore</a></li>
<li><a href="/BSPO/">Biographical Sketch of Burns W. Spore</a>
</ul>
