---
layout : ecu
title : Day of Infamy 1941-2001 - News Spreads
---

{% include breadcrumbs.html active="" %}

<h2>Day of Infamy 1941-2001 - News Spreads</h2>

<p>
  Case 6 shows through documents, diary entries, and photographs, how the news
  of Pearl Harbor spread throughout the Navy and the United States in the hours
  and days after the attack; it explores the reactions of the men as they began
  to absorb the meaning of the attack for themselves, their ships, and the
  United States. Telegrams reaching as far away as Bermuda that morning tell
  the story of how the news spread. Particularly affecting are the accounts of
  the men aboard the naval task force that had been escorting the aircraft
  carrier <em>USS Enterprise</em>, which had been delivering supplies to Wake Island,
  far to the West in the Pacific Ocean. They had been scheduled to arrive back
  at Pearl Harbor on the evening of December 6th, but had slowed down due to
  bad weather. When they arrived at Pearl Harbor, on the evening of December
  7th, it was to witness the harbor ablaze with sinking and sunken ships, with
  the bodies of their dead comrades floating in the sea. Diaries and oral
  histories of men from the destroyers <em>USS Maury</em> and <em>USS Hopkins</em>, and the <em>USS Flusser</em> as well as those on the <em>Enterprise</em> itself are here. Perhaps the
  greatest shock hit the naval aviators from the <em>Enterprise</em>, many of whom were
  shot down and killed by American anti-aircraft men, trigger-happy after the
  events of the day.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.newsspreads | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
