---
layout : ecu
title : Day of Infamy 1941-2001 - Second Wave
---

{% include breadcrumbs.html active="" %}

<h2>Day of Infamy 1941-2001 - Second Wave</h2>

<p>
Case 3 continues the story, focusing on the second wave of the Japanese attacks.
Because the Japanese concentrated their attacks on the battleships and cruisers,
they suffered the most. Most notably, it tells the story of the battleship
<em>USS Arizona</em> which was struck by a bomb that exploded her main
ammunition magazines killing almost the entire crew of more than 1,000 men.
Case 3 also follows the fortunes of several smaller ships that were attacked
during the second wave, including the destroyer tender <em>USS Whitney</em>, the
destroyers <em>USS Hull</em> and <em>USS Shaw</em>, and the cruiser <em>USS Phoenix</em>. Especially
horrifying are the photographs of the <em>USS Shaw</em> -- immobile in her dry-dock -- 
exploding in flames after a bomb struck her magazine.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.secondwave | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
