---
layout: ecu
title: "Ships - Day of Infamy 1941-2001"
---

{% include breadcrumbs.html active="" %}

<h2>Ships represented in the Day of Infamy Exhibit</h2>
<p>
Listed below are the ships that are in the Day of Infamy Exhibit.  The ships are grouped by their class and whether they were at Pearl Harbor or elsewhere in the Pacific during the attack on December 7, 1941.  Listed below each ship are links to images and information on that ship.  This list does not represent the entire content of the Day of Infamy Exhibit.<br>
</p>
<b>Ships in the Exhibit that were at Pearl Harbor during the attack</b>
<ul>
<li><a href="#C1">Battleships</a></li>
<li><a href="#C2">Destroyers</a></li>
<li><a href="#C3">High Speed Minesweeper</a></li>
<li><a href="#C4">Light Cruisers</a></li>
<li><a href="#C5">Light Minelayers</a></li>
<li><a href="#C6">Auxillary</a></li>
<li><a href="#C7">Destroyer Tender</a></li>
<li><a href="#C8">Repair Ship</a></li>
</ul>
<br/>
<b>Ships in the Exhibit that were not at Pearl Harbor during the attack</b>
<ul>
<li><a href="#C9">Destroyers</a></li>
<li><a href="#C10">Heavy Cruisers</a></li>
<li><a href="#C11">Aircraft Carrier</a></li>
</ul>
<hr/>
<a name="C1"></a>
<h3>Battleships:</h3>
<ul>
<li><em>USS Arizona</em> (BB-39)</li>
<li><a href="secondwave/burn/">[The USS Arizona burning]</a></li>
<li><a href="secondwave/HARI/">Historical Sketch of USS Arizona</a></li>
<li><a href="lookingback/ZONA/">[USS Arizona memorial]</a></li>
</ul>
<br/>
<ul>
<li><em>USS California</em> (BB-44)</li>
<li><a href="firstreactions/NPCL/">[USS California, port side view]</li>
<li><a href="firstreactions/HCAL/">Historical Sketch of USS California</li>
<li><a href="firstreactions/NPCA/">[USS California passing under the Golden Gate Bridge]</li>
<li><a href="lookingback/NPCF/">[USS California damaged during attack]</a></li>
</ul>
<br/>
<ul>
<li><em>USS Maryland</em> (BB-46)</li>
<li><a href="strikingback/NPMY/">[USS Maryland and capsized USS Oklahoma]</a></li>
</ul><br/>
<ul>
<li><em>USS Nevada</em> (BB-36)</li>
<li><a href="firstreactions/NPNE/">[USS Nevada beached at Pearl Harbor]</li>
<li><a href="firstreactions/HNEV/">Historical Sketch of USS Nevada</a>
</ul><br/>
<ul>
<li><em>USS Oklahoma</em> (BB-37)</li>
<li><a href="warbegins/OKLA/">[Battleship USS Oklahoma]</li>
<li><a href="warbegins/AHOM/">Historical Sketch of USS Oklahoma</li>
<li><a href="lookingback/NPOK/">[Men working on capsized USS Oklahoma]</li>
<li><a href="warbegins/KLAH/">[USS Oklahoma sunk]</li>
<li><a href="smallerships/LAHO/">[Righting USS Oklahoma, at Pearl Harbor]</a></li>
</ul><br/>
<ul>
<li><em>USS Pennsylvania</em> (BB-38)</li>
<li><a href="strikingback/PENN/">[View of USS Pennsylvania]</a></li>
</ul><br/>
<ul>
<li><em>USS Tennessee</em> (BB-43)</li>
<li><a href="warbegins/NPTE/">[USS Tennessee & sunken USS West Virginia]</li>
<li><a href="warbegins/NESS/">Historical Sketch of USS Tennessee</a></li>
</ul><br/>
<ul>
<li><em>USS West Virginia</em> (BB-48)</li>
<li><a href="warbegins/RGIN/">Historical Sketch of USS West Virginia</li>
<li><a href="warbegins/NPWE/">[View of USS West Virginia]</li>
<li><a href="warbegins/NPWV/">[Rescuing survivor near USS West Virginia] (Black & White)</li>
<li><a href="lookingback/WEEK/">[Rescuing survivor near USS West Virginia] (Color)</a></li>
</ul>
<br/>
<a name="C2"></a>
<h3>Destroyers:</h3>
<ul>
<li><em>USS Case</em> (DD-370)</li>
<li><a href="smallerships/NPCS/">[View of USS Case]</li>
<li><a href="smallerships/HCAS/">Historical Sketch of USS Case</a></li>
</ul><br/>
<ul>
<li><em>USS Cassin</em> (DD-372)</li>
<li><a href="smallerships/NPWR/">[Wreckage of destroyers USS Downes & USS Cassin]</a></li>
</ul><br/>
<ul>
<li><em>USS Monaghan</em> (DD-354)</li>
<li><a href="strikingback/NPMO/">[Destroyer USS Monaghan]</li>
<li><a href="strikingback/HMON/">Historical Sketch of USS Monaghan</li>
<li><a href="strikingback/TELE/">[Telegram to USS Monaghan]</li>
<li><a href="strikingback/MONA/">[Description of USS Monaghan sinking a submarine]</a></li>
</ul><br/>
<ul>
<li><em>USS Downes</em> (DD-375)</li>
<li><a href="smallerships/DOWN/">Historical Sketch of USS Downes</a></li>
</ul><br/>
<ul>
<li><em>USS Helm</em> (DD-388)</li>
<li><a href="smallerships/NPHM/">[View of USS Helm]</li>
<li><a href="smallerships/HELH/">Historical Sketch of USS Helm</a></li>
</ul><br/>
<ul>
<li><em>USS Hull</em> (DD-350)</li>
<li><a href="secondwave/HULL/">[Painting of the destroyer USS Hull]</a></li>
</ul><br/>
<ul>
<li><em>USS Phelps</em> (DD-360)</li>
<li><a href="smallerships/PHEL/">[View of USS Phelps]</li>
<li><a href="smallerships/ELPS/">Historical Sketch of USS Phelps</a></li>
</ul><br/>
<ul>
<li><em>USS Reid</em> (DD-369)</li>
<li><a href="smallerships/NPRE/">[View of USS Reid]</li>
<li><a href="smallerships/HREI/">Historical Sketch of USS Reid</a></li>
</ul><br/>
<ul>
<li><em>USS Shaw</em> (DD-373)</li>
<li><a href="secondwave/NPSH/">[USS Shaw explodes during the Japanese attack]</a></li>
</ul>
<br/>
<a name="C3"></a>
<h3>High Speed Minesweeper:</h3>
<ul>
<li><em>USS Zane</em> (DMS-14)</li>
<li><a href="warbegins/TROY/">Historical Sketch of USS Zane</li>
<li><a href="warbegins/NPZA/">[The USS Zane off San Francisco]</li>
<li><a href="warbegins/ANES/">[Chart of USS Zane's sortie]</li>
<li><a href="warbegins/MOOR/">[Reports of officers on USS Zane]</a></li>
</ul>
<br/>
<a name="C4"></a>
<h3>Light Cruisers:</h3>
<ul>
<li><em>USS Helena</em> (CL-50)</li>
<li><a href="firstreactions/NPHE/">[USS Helena off the Mare Island Navy Yard]</li>
<li><a href="firstreactions/HHEL/">Historical Sketch of USS Helena</a></li>
</ul><br/>
<ul>
<li><em>USS Phoenix</em> (CL-46)</li>
<li><a href="lookingback/NPPH/">[USS Phoenix steams past Battleship Row]</a></li>
</ul><br/>
<ul>
<li><em>USS Raleigh</em> (CL-7)</li>
<li><a href="firstreactions/NPRA/">[USS Raleigh after she was torpedoed]</li>
<li><a href="firstreactions/HRAL/"> Historical Sketch of USS Raleigh </a></li>
</ul>
<br/>
<a name="C5"></a>
<h3>Light Minelayers:</h3>
<ul>
<li><em>USS Breese</em> (DM-18)</li>
<li><a href="warbegins/EESE/">Historical Sketch of USS Breese</li>
<li><a href="warbegins/NPBR/">[View of USS Breese]</li>
<li><a href="warbegins/BREE/">[Report on Japanese air raid]</a></li>
</ul><br/>
<ul>
<li><em>USS Preble</em> (DM-20)</li>
<li><a href="warbegins/PREB/">Historical Sketch of USS Preble</li>
<li><a href="warbegins/NPPR/">[View of USS Preble]</a></li>
</ul>
<br/>
<a name="C6"></a>
<h3>Auxillary:</h3>
<ul>
<li><em>USS Utah</em> (AG-16)</li>
<li><a href="strikingback/NPUT/">[Battleship USS Utah capsizing]</a></li>
</ul>
<br/>
<a name="C7"></a>
<h3>Destroyer Tender:</h3>
<ul>
<li><em>USS Whitney</em> (AD-4)</li>
<li><a href="secondwave/TEND/">[Destroyer tender USS Whitney leaving port]</li>
<li><a href="secondwave/TNEY/">Historical Sketch of USS Whitney</a></li>
</ul>
<br/>
<a name="C8"></a>
<h3>Repair Ship:</h3>
<ul>
<li><em>USS Medusa</em> (AR-1)</li>
<li><a href="strikingback/MEDU/">[The repair ship USS Medusa]</li>
<li><a href="strikingback/HMED/">Historical Sketch of USS Medusa</a></li>
</ul>
<br/>
<a name="C9"></a>
<h3>Destroyers</h3>
<ul>
<li><em>USS Flusser</em> (DD-368)</li>
<li><a href="newsspreads/NPFL/">[View of USS Flusser]</li>
<li><a href="newsspreads/HFLU/">Historical Sketch of USS Flusser</a></li>
</ul><br/>
<ul>
<li><em>USS Maury</em> (DD-401)</li>
<li><a href="newsspreads/NPMA/">[View of USS Maury]</li>
<li><a href="newsspreads/HMAU/">Historical Sketch of USS Maury</a></li>
</ul><br/>
<ul>
<li><em>USS Hopkins</em> (DD-249)</li>
<li><a href="newsspreads/NPHO/">[View of USS Hopkins]</li>
<li><a href="newsspreads/HOPK/">Historical Sketch of USS Hopkins </a></li>
</ul>
<br/>
<a name="C10"></a>
<h3>Heavy Cruisers</h3>
<ul>
<li><em>USS Louisville</em> (CA-28)</li>
<li><a href="smallerships/LOUI/">Historical Sketch of USS Louisville</li>
<li><a href="smallerships/NPLO/">[View of USS Louisville]</li>
<li><a href="warbegins/PALM/">[Serviceman watching the cruiser USS Louisville]</a></li>
</ul><br/>
<ul>
<li><em>USS Indianapolis</em> (CA-35)</li>
<li><a href="smallerships/NPIN/">[USS Indianapolis, view forward]</li>
<li><a href="smallerships/HIND/">Historical Sketch of USS Indianapolis</a></li>
</ul><br/>
<a name="C11"></a>
<h3>Aircraft Carrier</h3>
<ul>
<li><em>USS Enterprise</em> (Cv-6)</li>
<li><a href="newsspreads/NPEN/">[Aircraft carrier USS Enterprise]</li>
<li><a href="newsspreads/HENT/">Historical Sketch of USS Enterprise</a></li>
</ul>
<br/>
