---
layout : ecu
title : Day of Infamy 1941-2001 - Smaller Ships
---

{% include breadcrumbs.html active="" %}

<h2>Day of Infamy 1941-2001 - Smaller Ships</h2>

<p>
Case 5 follows the fortunes of several other ships as the morning of December
7th progressed. A transcript of an oral history with Richard L. Stewart of the
destroyer <em>USS Downes</em> describes how his ship was attacked and exploded while in
dry-dock and how he had to leap from the burning ship, falling several stories
to the floor of the empty dry-dock breaking his ankles; and how, nevertheless,
he spent the rest of the day driving even more badly wounded men to hospitals,
despite the pain from his broken bones. Photographs show that the adjacent
destroyer <em>USS Cassin</em> suffered equally. The case also follows the story of the
destroyers <em>USS Reid</em> and <em>USS Helm</em>, which attempted to attack another Japanese
submarine. Also here is the story of the destroyer <em>USS Phelps</em>. The case also
begins to tell the story of ships that were not at Pearl Harbor during the
attack, focusing on the cruisers <em>USS Indianapolis</em> and <em>USS Louisville</em>, which
were at sea that day. Diaries reveal how the men aboard the cruisers learned
of the attacks and their feelings upon hearing the news.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.smallerships | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
