---
layout : ecu
title : Day of Infamy 1941-2001 - Striking Back
---

{% include breadcrumbs.html active="" %}

<h2>Day of Infamy 1941-2001 - Striking Back</h2>

<p>
Case 4 shows how some of the ships at Pearl Harbor began to react and strike
back against the Japanese. Getting under way while under attack, they attempted
to maneuver through the Japanese bombs and the sinking ships that blocked the
channel in order to gain the open sea. Other ships, including the repair ship
<em>USS Medusa</em>, began to try to rescue men from the stricken and sinking war ships;
two destroyers, the <em>USS Hull</em> and the <em>USS Monaghan</em>, actually managed to attack
and sink several small Japanese submarines that attempted to enter Pearl Harbor
and add to the American losses. The case contains the telegram ordering the
Monaghan to sea that morning; it also contains a portrait of John Gilpin, who
was the communications officer aboard the Monaghan . The case also follows the
fortunes of several other ships that had been hit earlier, including the
battleships <em>USS Pennsylvania</em>, <em>USS Arizona</em>, and <em>USS Maryland</em>. The front page
of the Honolulu Star’s 2d extra edition for December 7th, 1941 shows how the
news spread throughout the islands.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.strikingback | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
