---
layout : ecu
title : Day of Infamy 1941-2001 - War Begins
---

{% include breadcrumbs.html active="" %}

<h2>Day of Infamy 1941-2001 - War Begins</h2>

<p>
  Case 1 provides an overview of the military and naval situation in the days
  leading up to December 7th. It provides maps, photographs and documents that
  orient the viewer to the situation as it existed in the days, hours, and
  moments leading up to the attack. Case 1 reveals the US Navy utterly at peace
  and unprepared for war. It shows the location of the United States Pacific
  Fleet at anchor in Pearl Harbor; it traces the routes that the Japanese
  pilots took on their way to and from Pearl Harbor. Photographs show the
  devastation close up and as the Japanese fliers saw it. Biographies, oral
  history interviews, magazine articles, and photographs explore the lives of
  the young naval officers, who had only graduated from Annapolis in February
  1941, in the last days of peace and in the first moments of World War II.
  Ship histories present the events of the day from the perspective of the
  naval vessels themselves, a wider view than could be seen by the individual
  officers. It focuses on the battleships USS West Virginia , USS Oklahoma and
  the USS Tennessee , the cruiser USS Louisville , the destroyers USS Preble
  and USS Zane , the minesweeper USS Breese , and the men who served on them.
  Letters and documents reveal the impact of the attack on the families of the
  men and their own personal losses of property.
</p>
<br/><br/>
<table class="table">
  {% assign items = site.warbegins | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
