---
layout: ecu
title: "Hostilities with Japan Commenced"
customdate: "6.13"
order: 13
---

{% include breadcrumbs.html %}

<h3>Hostilities with Japan Commenced..., 7 December 1941</h3>
<b>Notes</b>
<p>This telegram was received by Jules James, commander of the US Naval base in Bermuda.</p>

<div class="well">
  <label>Text and Images from Telegram</label><br/>

  <a href="../../img/AIDR/3AIDR001.jpg">
    <img src="../../img/AIDR/7AIDR001.jpg" />
  </a><br/><br/>
<p>
<b>Transcription for the image above:</b>
</p><p>

OOOO
</p><p>
7 DEC 41
</p><p>
NSS NR 987 Z FSL 1842 D8N O
</p><p>
HOSTILITIES WITH JAPAN COMMENCED WITH AIR RAID ON PEARL HARBOR
</p><p>
INFO: A<br/>
B<br/>
O<br/>
COMMO FILE
</p><p>
CINC PACIFIC
</p><p>
PACIFIC FLEET
</p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Hostilities with Japan Commenced. . . .", 7 December 1941, Jules James Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Jules James Papers #223.2.b. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0223">Display Collection Guide</a></td>
  </tr>
</table>
