---
layout: ecu
title: "Telegram sent by Secretary of Navy, Frank Knox"
customdate: "6.17"
order: 17
---

{% include breadcrumbs.html %}

<h3>Telegram sent by Secretary of Navy, Frank Knox, 7 December 1941</h3>
<b>Notes</b>
<p>This is the abridged version of 6.14, "The enemy has struck a savage blow. . . ."</p>

<div class="well">
  <label>Text and Images from Telegram</label><br/>

  <a href="../../img/AVAG/3AVAG001.jpg">
    <img src="../../img/AVAG/7AVAG001.jpg" />
  </a><br/><br/>
<p>
<b>Transcription for the image above:</b>
</p><p>

THE ENEMY HAS STRUCK A SAVAGE, TREACHEROUS BLOW. WE ARE AT WAR, ALL OF US: THERE IS NO TIME NOW FOR DISPUTED OR DELAY OF ANY KIND. WE MUST HAVE SHIPS AND MORE SHIPS, GUNS AND MORE GUNS, MEN AND MORE MEN-FASTER AND FASTER. THERE IS NO TIME TO LOSE. THE NAVY MUST LEAD THE WAY. SPEED UP-IT IS YOUR NAVY AND YOUR NATION:
</p><p>
/s/ FRANK KNOX.<br/>
Sec of Navy
</p><p>
Copy of message sent morning of Dec. 7 1941 to all ships in the navy.

</p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Telegram sent by Secretary of Navy, Frank Knox], 7 December 1941, John W. Newsom Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>John W. Newsom Papers #634.1.a.4. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0634">Display Collection Guide</a></td>
  </tr>
</table>
