---
layout: ecu
title: "Biographical Sketch of John W. Newsom (USS Enterprise)"
customdate: "6.16"
order: 16
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of John W. Newsom (<em>USS Hopkins</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
John W. Newsom was born in Kansas on July 24, 1919. He received an appointment to the Naval Academy from the state of North Carolina. Newsom served aboard the <em>USS Hopkins</em> during the attack on Pearl Harbor. He retired as Captain of the U.S. Navy on September 1, 1964, and has received the Combat Action Ribbon and the Naval Unit Commendation Ribbon. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td> The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997)./td>
  </tr>
</table>

</div>
