---
layout: ecu
title: "Biographical Sketch of Burns W. Spore (USS Flusser)"
customdate: "6.27"
order: 27
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Burns W. Spore (<em>USS Flusser</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Burns W. Spore was born on May 3, 1918, in Virginia. He received an appointment at-large to the Naval Academy. Spore served aboard the <em>USS Flusser</em> during the attack on Pearl Harbor. He retired a U. S. Naval Captain on October 29, 1969. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997). </td>
  </tr>
</table>

</div>
