---
layout: ecu
title: "Benjamin C. Byrnside, Jr., Naval Academy Yearbook, 1941"
customdate: "6.07"
order: 7
---

{% include breadcrumbs.html %}

<h3>Benjamin C. Byrnside, Jr. (<em>USS Enterprise</em>) <em>Naval Academy Yearbook</em>, 1941</h3>

<div class="well">
  <label>Image from Yearbook</label><br/>

  <a href="../../img/BYRN/3BYRN001.jpg">
    <img src="../../img/BYRN/7BYRN01.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Benjamin C. Byrnside, Jr., <em>The Lucky Bag of the Class of 1941</em>. Raleigh: Edwards &amp; Broughton Company, 1941.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Special Ref V 415 J1 L9 1935 <a href="http://catalog.lib.ecu.edu/catalog/443750">View Catalog Record</a></td>
  </tr>
</table>