---
layout: ecu
title: "Biographical Sketch of Russell S. Crenshaw, Jr. (USS Maury)"
customdate: "6.03"
order: 3
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Russell S. Crenshaw, Jr. (<em>USS Maury</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Russell S. Crenshaw, Jr. was born in Maryland on April 5, 1920. He received an at-large appointment to the Naval Academy. Crenshaw served aboard the <em>USS Maury</em> during the attack on Pearl Harbor. He retired as U. S. Naval Captain and has received the Silver Star Medal, two Legion of Merit awards, and the Presidential Unit Citation. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
  <tr>
    <td>Russell S. Crenshaw Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 196. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0196">Display Collection Guide</a></td>
  </tr>
</table>

</div>
