---
layout: ecu
title: "Historical Sketch of USS Flusser (DD-368)"
customdate: "6.25"
order: 25
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS Flusser</em> (DD-368)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
DD-368 was named for civil war naval; hero Charles Williamson Flusser (1832 -1864) who commanded the Commodore Perry during the attack on Roanoke Island and who was killed in action against the CSS Albemarle off Plymouth, NC 19 April 1864. A destroyer DD-368 was the fourth in the line of naval vessels named <em>Flusser</em>.
</p><p>
Based in Pearl Harbor until the outbreak of war, <em>Flusser</em> was actually at sea, screening the carrier Lexington (CV-2) when the Japanese attacked Pearl Harbor. After the attack <em>Flusser's</em> force hunted the retiring Japanese fleet before returning to Pearl Harbor on 12 December where she witnessed the devastation first-hand. Serving throughout the Pacific War, Flusser received 8 battle stars for her service. After the war <em>Flusser</em> was decommissioned on 16 December 1946 and sold 6 January 1954. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    <td><em>Dictionary of American Naval Fighting Ships</em>, 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963).</td>
  </tr>

</table>

</div>
