---
layout: ecu
title: "Historical Sketch of USS Maury (DD-401)"
customdate: "6.01"
order: 1
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS Maury</em> (DD-401)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
The destroyer DD-401 was named for noted American astronomer, hydrographer, and naval officer, Comdr. Matthew Fontaine Maury (1806-1873). Maury was appointed Superintendent of the Department of Charts and Instruments in 1842, and upon the establishment of the Naval Observatory in 1844 became its superintendent. He published many well known scientific works and became known as the "Pathfinder of the Seas," around the world. Following the outbreak of the Civil War, Maury joined the Confederate Navy, in which he attained the rank of commodore. At the end of the war he occupied the chair of physics at the Virginia Military Institute.
</p><p>
The second to bear the name, <em>Maury</em> (DD-401) was commissioned 5 August 1938 and assigned to the Pacific Fleet based at Pearl Harbor. She was returning home from Wake Island escorting <em>Enterprise</em>, (CV-6), when word of the Japanese attack reached her soon after 0900, 7 December 1941. By the time the force returned to Pearl Harbor only one enemy vessel had been sighted and sunk by carrier aircraft, the submarine I-70 on the 10th.
</p><p>
Although she missed the Battle of Coral Sea, <em>Maury</em> participated in the critical battles at Midway and in the Solomon Islands serving as an escort for <em>Enterprise</em> and convoys. <em>Maury</em> also supported the invasions of Tarawa and Makin in the Gilberts 20 November 1943. Early in 1944 Maury joined TF 58, as a screen for the "flattops," as their planes raided throughout the Southwest Pacific Theater. She served in the Marianas campaigns and in the climactic battles of the Philippine Sea and Leyte Gulf in 1944. <em>Maury</em> spent most of November 1944 east of the Philippines in support of operations on Leyte and Samar. The end of the war found <em>Maury</em> in New York for repairs. She was sold in June 1946 and scrapped shortly thereafter. <em>Maury</em> received 16 battle stars for World War II service. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    <td><em>Dictionary of American Naval Fighting Ships</em>, 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume IV, pp. 278-279. </td>
  </tr>

</table>

</div>
