---
layout: ecu
title: "Photo #2 of sunken Japanese midget submarine"
customdate: "6.24"
order: 24
---

{% include breadcrumbs.html %}

<h3>Photo #2 of sunken Japanese midget submarine, 7 December 1941</h3>
<b>Notes</b>
<p>This photo was in the diary of Charles P. Trumbull.</p>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/IDGE/3IDGE001.jpg">
    <img src="../../img/IDGE/7IDGE001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Photo #2 of sunken Japanese midget submarine], 7 December 1941, Charles Pendleton Trumbull Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Charles Pendleton Trumbull Papers #829.3.12. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0829">Display Collection Guide</a></td>
  </tr>
</table>
