---
layout: ecu
title: "Jules James on the British Island of Bermuda"
customdate: "6.11"
order: 11
---

{% include breadcrumbs.html %}

<h3>Jules James on the British Island of Bermuda, no date</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/JULE/3JULE001.jpg">
    <img src="../../img/JULE/7JULE001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Jules James on the British Island of Bermuda], n.d., Jules James Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Jules James Papers #223/2. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0223">Display Collection Guide</a></td>
  </tr>
</table>
