---
layout: ecu
title: "Aircraft carrier USS Enterprise (CV-6)"
customdate: "6.05"
order: 5
---

{% include breadcrumbs.html %}

<h3>Aircraft carrier USS Enterprise (CV-6), no date</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPEN/3NPEN001.jpg">
    <img src="../../img/NPEN/7NPEN001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Aircraft carrier USS Enterprise ], n.d., David L. Martineau Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, David L. Martineau Papers #677/46/454. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-046">Display Collection Guide</a></td>
  </tr>
</table>
