---
layout: ecu
title: "View of USS Flusser (DD-249)"
customdate: "6.26"
order: 26
---

{% include breadcrumbs.html %}

<h3>View of USS Flusser (DD-368), no date </h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPFL/3NPFL001.jpg">
    <img src="../../img/NPFL/7NPFL001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>NavSource Photo Archives. "View of USS Flusser ," 24 September 2002. http://www.navsource.org/archives/05/0536803.jpg (25 November 2002).</td>
  </tr>
</table>
