---
layout: ecu
title: "View of USS Hopkins (DD-249)"
customdate: "6.20"
order: 20
---

{% include breadcrumbs.html %}

<h3>View of USS Hopkins (DD-249), no date </h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPHO/3NPHO001.jpg">
    <img src="../../img/NPHO/7NPHO001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>NavSource Photo Archives. "View of USS Hopkins ," 24 September 2002. http://www.navsource.org/archives/11/11091301.jpg (25 November 2002).</td>
  </tr>
</table>
