---
layout: ecu
title: "Air raid on Pearl Harbor X This is Not Drill"
customdate: "6.12"
order: 12
---

{% include breadcrumbs.html %}

<h3>Air raid on Pearl Harbor X This is Not Drill, 7 December 1941</h3>
<b>Notes</b>
<p>This telegram was received by Jules James, commander of the US Naval base in Bermuda.</p>

<div class="well">
  <label>Text and Images from Telegram</label><br/>

  <a href="../../img/RAID/3RAID001.jpg">
    <img src="../../img/RAID/7RAID001.jpg" />
  </a><br/><br/>
<p>
<b>Transcription for the image above:</b>
</p><p>
[Page 1]
</p><p>
OOOO
</p><p>
7 DEC 41
</p><p>
NSS NR 977 Z 0F2 1830 0F3 0F4 1F0 O
</p><p>
AIRRAID ON PEARL HARBOR X THIS IS NOT DRILL
</p><p>
COPY TO: A<br/>
B<br/>
O<br/>
COMMO FILE
</p><p>
CINCPAC
</p><p>
CINCLANT
</p><p>
CINCASIATIC
</p><p>
OPNAV
</p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Air raid on Pearl Harbor X This is Not Drill.", 7 December 1941, Jules James Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Jules James Papers #223.2.b. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0223">Display Collection Guide</a></td>
  </tr>
</table>
