---
layout: ecu
title: "Benjamin C. Byrnside, Jr. Interview (USS Enterprise)"
customdate: "6.09"
order: 9
---

{% include breadcrumbs.html %}

<h3>Benjamin C. Byrnside, Jr. Interview (<em>USS Enterprise</em>), 28 April 2001</h3>

<div class="well">
  <label>Text from Interview Excerpt</label><br/>

<p>
[ . . . you jumped right onto the <em>Enterprise</em>. Can you tell me about that? That must have been an amazing experience.]
</p><p>
It was. . . . I was made assistant navigator, which was a very good job, because I was on the bridge. . . . I was on the bridge and quite aware of what the maneuvers were and what was going on. . . .
</p><p>
We operated out of Hawaii for the whole summer of '41 . . . with fleet exercises, as realistic as we could make them. . . . (In November) Halsey was given Battle Order Number One in which we were instructed to travel . . . to act as though we were at war. . . . We were supposed to come in and moor in Pearl Harbor on the morning of December 7. But we had to slow down to speeds the destroyers could handle, so we had to change our estimated time of arrival to the afternoon or evening of December 7.
</p><p>
As usual we sent in some of our planes to land on Ford Island at Pearl, and being on the bridge I could hear some of the chatter on the radio between the pilots and ship. The pilots were screaming, "Watch out for that airplane! Don't shoot this is a U.S. plane." . . .
</p><p>
We went to battle stations. . . . A couple of minutes of listening to this chatter and we could tell that they were actually in combat, but nothing had been said about it being Japan. . . . We went into Pearl the next day and found, of course, all of the carnage that most people have already read about and seen: Ships being sunk to the water line and capsized and been brought aground. Everybody gave us the cheers as we went by. They were glad to see somebody that could still fight, I guess. . . .
</p><p>
On the night of the seventh, we were sending four fighter planes in to land at Ford Island. These planes had been cleared to go in, but evidently the gun crews and so forth on the ships were so nervous by this time that they shot down our planes. I think one of them landed on Ford Island and the others were shot down. The one that landed said they were still shooting at him as he was going down the runway. I think either one or two of the pilots were killed.
</p><p>
As we started into Pearl on December eighth, the most striking thing we saw right away as we neared the entrance was the tail section and part of the fuselage of a plane that had crashed in the water. It had the number "6" on it; it was one of our planes. It crash landed right off the beach before you entered the harbor. 
</p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Benjamin C. Byrnside, Jr. Interview, Oral History Collection , April 28, 2001.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Oral History No. 182, p. 6-8. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0182">Display Collection Guide</a></td>
  </tr>
</table>