---
layout: ecu
title: "The enemy has struck a savage blow"
customdate: "6.14"
order: 14
---

{% include breadcrumbs.html %}

<h3>The enemy has struck a savage blow..., 9 December 1941</h3>
<b>Notes</b>
<p>This telegram was received by Jules James, commander of the US Naval base in Bermuda.</p>

<div class="well">
  <label>Text and Images from Telegram</label><br/>

  <a href="../../img/SAVA/3SAVA001.jpg">
    <img src="../../img/SAVA/7SAVA001.jpg" />
  </a><br/><br/>
<p>
<b>Transcription for the image above:</b>
</p><p>

[Page 1]
</p><p>
9
</p><p>
RRRRRR
</p><p>
9 DEC 1941
</p><p>
NAM NR4 L Z SNOW 081940 TEND ZRK GR132
</p><p>
THE ENEMY HAS STRUCK A SAVAGE COMMA TREACHEROUS BLOW X WE ARE AT WAR COMMA ALL OF US EXCLAMATION POINT THERE IS NO TIME NOW FOR DISPUTES OR DELAY OF ANY KIND X WE MUST HAVE SHIPS AND MORE SHIPS COMMA GUNS AND MORE GUNS COMMA MEN AND MORE MEN DASH FASTER AND FASTER X THERE IS X NO TIME TO LOSE X THE NAVY MUST LEAD THE WAY X SPEED UP DAST IT IS YOUR NAVY AND YOUR NATION EXLAMATIN POINT SIGNED FRANK KNOX SECRETARY OF THE NAVY X PARAGRAPH X NAVAL ACTIVITIES WILL POST ON ALL BULLETIN BOARDS INSPECTORS WILL REQUEST MAXIMUM PUBLICITY BY NAVAL CONTRACTORS X ALL SUGGESTIONS FOR THE REMOVAL OF RESTRICTIONS OF EVERY NATURE WHICH WILL ELIMINATE OR TEND TO ELIMINATE DELAY IN PRODUCTION WLL BE WELCOME
</p><p>
4530/0412/GA
</p><p>
INFO: A, B, S, K, D, M, MOBHOSP, DARISLE, ORDISLE
</p><p>
ALL SHIPS PRESENT,
</p><p>
ALNAV FILE,
</p><p>
SECNAV
</p><p>
ALNAVSTAS
</p><p>
FILE,
</p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The enemy has struck a savage blow. . . .", 9 December 1941, Jules James Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Jules James Papers #223.2.b. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0223">Display Collection Guide</a></td>
  </tr>
</table>
