---
layout: ecu
title: "John W. Newsom Interview (USS Hopkins)"
customdate: "6.22"
order: 22
---

{% include breadcrumbs.html %}

<h3>John W. Newsom Interview (<em>USS Hopkins</em>), 5 June 1991</h3>

<div class="well">
  <label>Text from Interview Excerpt</label><br/>

  <p>
I was assigned aboard a destroyer minesweeper out in Pearl Harbor. . . . I will never forget when they passed the word about the uniform we were supposed to report aboard our assigned ships in. The crews on the carriers reported aboard in aloha shirts, the battleship guys reported aboard without ties, and those on the cruisers reported aboard in aloha shirts. Then they got down to the old four-stack destroyers and we had to go in full white dress with side arms.

We were the lowest in the fleet and there were no admirals around within a hundred miles of us. I was aboard the <em>USS Hopkins</em> (DMS-13). . . . . The <em>Hopkins</em> was a day out of Pearl Harbor when the Japanese attacked. We had taken some civilian workers down to Johnston Island, which is south of Honolulu, Hawaii, to help build an air strip. We were on our way back to Pearl Harbor when we got the message. In fact, I have a copy of the first message sent out. I kept that. "This is no drill! Repeat. This is no drill! There are Japanese attacking."

We got into Pearl Harbor the next morning. . . . En route, we had fired at planes and dropped depth charges, killing a bunch of fish. I'm sure we thought every one was a submarine. . . When we arrived the next day, there were still bodies floating around and fires burning. . . .

It was traumatic as hell. I never will forget. We had a smart aleck young engineer, a fireman, who was all mouth. . . . He started moaning and groaning about this and that. That's the first time I remember lighting into him and saying in effect, "God-dammit! Don't you see what's happening? Knock off your bitching. This is a war." I really laced into him. . . I was really upset. That's when it really hit me. It hadn't hit me before; although we were steaming all day and going to battle stations all night. But it was very traumatic to see dead bodies floating around and to see the <em>Oklahoma</em> and all those other ships that had been sunk. . . . 
</p>


</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>John W. Newsom Interview, Oral History Collection, 5 June 1991.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Oral History No. 124, p. 7-9. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0124">Display Collection Guide</a></td>
  </tr>
</table>