---
layout: ecu
title: "Charles P. Trumbull, Diary (USS Louisville)"
customdate: "6.10"
order: 10
---

{% include breadcrumbs.html %}

<h3>Charles P. Trumbull, Diary (<em>USS Louisville</em>), 7 December 1941</h3>

<div class="well">
  <label>Text and Images from Diary</label><br/>

<a href="../../img/UMBU/3UMBU00F.jpg">
    <img src="../../img/UMBU/7UMBU00F.jpg" />
  </a><br/><br/>

<a href="../../img/UMBU/3UMBU054.jpg">
    <img src="../../img/UMBU/7UMBU054.jpg" />
  </a><br/><br/>
<p>

[Page 54]
</p><p>
December 7, Sunday
</p><p>
Passed close by Vanikoro this morning. It is one of the Santa Cruz Islands [part of the Solomon Islands] and is a trading place. Natives now out in their outriggers with taro, yams, bananas, mats and native handicrafts, but the medium of exchange is pipes, tobacco and trinkets.
</p><p>
Next we pass by the Ellice Islands and head toward Pearl, passing close by Baker and Hawland Islands (where Amelia Earheart is supposedly crashed). We will reach home on the 15th. That will be 22 days on board for the men - who didn't get off at Borneo.
</p><p>
At 1600 today it became the 7th in zone +5 so is Bette's birthday. Wish I could help her celebrate it.
</p>
<a href="../../img/UMBU/3UMBU055.jpg">
    <img src="../../img/UMBU/7UMBU055.jpg" />
  </a><br/><br/>
<a href="../../img/UMBU/3UMBU056.jpg">
    <img src="../../img/UMBU/7UMBU056.jpg" />
  </a><br/><br/>
<p>
[Page 55]
</p><p>
December 8, Monday
</p><p>
At quarters today it was announced that the Japanese have started hostilities against us. Soon after we heard that Japan had declared war against the United States by making a surprise early morning attack on Pearl Harbor. (it was last night by our time.) Apparently the whole fleet was caught completely unprepared and great damage was done. The Japs report several ships sunk including several battleships.
</p><p>
Manilla and Singapore also were bombed. Guam and Wake reported lost.
</p><p>
The Japs certainly picked the right time - when all the officers were on weekends and asleep at home .
</p><p>
When we received word of
</p><p>
[Page 56]
</p><p>
the war we were just north of the Japanese mandated islands so changed course from 048 to 072 to pass south of the Ellice Islands. Later we received orders to proceed to Pago Pago, Samoa for fuel and further orders.
</p><p>
We broke out ammunition at all guns, keeping an [a] shell in each tray at 2 secs and three in the fuse pots at 3 secs. A new Condition III watch puts into effect using twelve officiers and four fire controlmen in the directors with no battery officier. My new job is no longer mine since all orders are cancelled so I am back in A.A. again
</p><p>
Reports say Nevada was damaged and towed in. Also the West Virginia was badly damaged and that one battleship capsized. I wonder how Archie made out.
</p>
<a href="../../img/UMBU/3UMBU057.jpg">
    <img src="../../img/UMBU/7UMBU057.jpg" />
  </a><br/><br/>
<a href="../../img/UMBU/3UMBU058.jpg">
    <img src="../../img/UMBU/7UMBU058.jpg" />
  </a><br/><br/>
<p>
[Page 57]
</p><p>
1st December 9, Tuesday
</p><p>
Crossed 180th meridian this afternoon putting it back to December 8th. Tommorrow is again December 9th.
</p><p>
We have begun to have radio reports about ourselves. The first was that the Scott was sunk. Later on we heard that both the Scott and the Coolidge have been sunk.
</p><p>
The feeling on board is very tense an [and] everyone is straining to pick up any target. Everyone feels uneasy since we have no destroyers to fight subs nor no radar to pick up ships or aircraft. We have AA offence for an hour at sunrise and sunset now.
</p><p>
[Page 58]
</p><p>
2nd December 9 Tuesday
</p><p>
We hear now that when the Scott and Coolidge were sunk we were engaged with two heavy crusiers having already sunk a third.
</p><p>
Washington has confirmed the loss of many planes, one battleship and one destroyer with several ships damaged. It seems as though the Japs have gotten away with it, too.
</p>
<a href="../../img/UMBU/3UMBU059.jpg">
    <img src="../../img/UMBU/7UMBU059.jpg" />
  </a><br/><br/>
<p>

[Page 59]
</p><p>
December 10, Wednesday
</p><p>
At 0300 this morning when we were ten miles from Samoa, we received orders to proceed to Pearl Harbor immediately . Also we had to acknowledge on high non directional frequency.
</p><p>
California is getting panicy [panicky] about air raids for two Jap carriers have been reported off the coast.
</p><p>
H.M.S. Prince of Wales and H.M.S. Repulse were sunk off Indo China today by Jap planes after a three hour fight.
</p>
<a href="../../img/UMBU/3UMBU060.jpg">
    <img src="../../img/UMBU/7UMBU060.jpg" />
  </a><br/><br/>
<p>
[Page 60]
</p><p>
December 11, Thursday
</p><p>
Japs trying to land on Luzon [in the Philippine Islands] . Dutch aviation sunk one Jap battleship - of the Haruna class.
</p><p>
Reports from Guam and Midway indicate that the Japs have them, but the Marines on Wake are holding out bravely, having supposedly sunk some crusiers and destroyers.
</p><p>
While I had the AA watch the Coolidge signaled submarine sighted and we went to general quarters. Things really moved fast all right. Apparently they only saw wind streaks which they thought were sub tracks . Just after we secured she sent over that there was a sub dead ahead. We did see some motion up there but not like a sub or torpedo, it was a school of fish.
</p>
<a href="../../img/UMBU/3UMBU061.jpg">
    <img src="../../img/UMBU/7UMBU061.jpg" />
  </a><br/><br/>
<a href="../../img/UMBU/3UMBU062.jpg">
    <img src="../../img/UMBU/7UMBU062.jpg" />
  </a><br/><br/>
<p>
[Page 61]
</p><p>
December 12, Friday
</p><p>
The weather has been quite hot but the wind has been strong. We are thankful that the moon rises very late now so that we are in little danger from subs. We can't zig zag because of the fuel shortage . The Scott has fuel enough to go 60 miles past Honolulu. Apparently the captain is worried for we are only in condition x-ray on and below the second deck , and he lights cigarettes on the bridge all night.
</p><p>
The main battery has been in somewhat of a condition III during the war with director I fully manned and turret II partially so.
</p><p>
We crossed the equator on the first watch (20-24) tonight.
</p><p>
U.S. Army pilots sunk another
</p><p>
[Page 62]
</p><p>
Jap battleship in Haruna class. Off Luzon a captain Kelly led the attack and dove very low to drop his bombs on the ship whereby [thereby] sinking her. Killed on way back to his base.
</p><p>
Apparently there are many subs around Oahu for we keep hearing reports of them. A two man, two torpedo sub has been reported captured. 
</p>
<a href="../../img/UMBU/3UMBU063.jpg">
    <img src="../../img/UMBU/7UMBU063.jpg" />
  </a><br/><br/>
<p>

[Page 63]
</p><p>
December 13, Saturday
</p><p>
Had a very quick Captains inspection this morning passed Christmas Island to port but couldn't see it. Headed 355 for Hawaii.
</p><p>
Japs are putting out all kinds of reports now. They claim the Enterprise, the Pennsylvannia and the West Verginia. It is pretty good dope that the Enterprise lost all but 15 of her planes but they were bombed on Ford Island while she was at sea.
</p>
<a href="../../img/UMBU/3UMBU064.jpg">
    <img src="../../img/UMBU/7UMBU064.jpg" />
  </a><br/><br/>
<p>
[Page 64]
</p><p>
December 14, Sunday
</p><p>
A beautiful day for us for it is squally, overcast very rough, and a 35 knot wind is blowing off the bow. Have 900 miles to go yet.
</p><p>
The straight dope is out now. Frank Knox (SECNAV) has flown to Pearl Harbor and returned with the dope. He says that one battleship capsized but it was one of our oldest. (probably Oklahoma) Also the Arizona was completely destroyed by a lucky bomb down the main smoke pipe. Three destroyers, Shaw, Dawnes, and Cassen sunk, and of course many planes lost.
</p>
<a href="../../img/UMBU/3UMBU065.jpg">
    <img src="../../img/UMBU/7UMBU065.jpg" />
  </a><br/><br/>
<p>
[Page 65]
</p><p>
December 15, Monday
</p><p>
Had quite an exiciting day today with AA offence four times and general quarters once of course two of the AA offences were for sunrise and sunset. In the morning a plane was sighted but it turned out to be one of our own PBY's [Patrol Bomber Y-"Patrol Flying Boat"] on patrol.
</p><p>
On afternoon watch (mine) we sighted a freighter and went to G.Q. [General Quarters] but it turned out to be a U.S.A.T.
</p><p>
The japs bombed Johnson Island and left it in flames today. They have been following us around all right Oahu, Wake, Manilla, Bagurio, Borneo (British though) and now New Guinea and northern Austrailia have been bombed.
</p>

<a href="../../img/UMBU/3UMBU066.jpg">
    <img src="../../img/UMBU/7UMBU066.jpg" />
  </a><br/><br/>
<a href="../../img/UMBU/3UMBU067.jpg">
    <img src="../../img/UMBU/7UMBU067.jpg" />
  </a><br/><br/>
<a href="../../img/UMBU/3UMBU068.jpg">
    <img src="../../img/UMBU/7UMBU068.jpg" />
  </a><br/><br/>
<a href="../../img/UMBU/3UMBU069.jpg">
    <img src="../../img/UMBU/7UMBU069.jpg" />
  </a><br/><br/>
<a href="../../img/UMBU/3UMBU070.jpg">
    <img src="../../img/UMBU/7UMBU070.jpg" />
  </a><br/><br/>
<a href="../../img/UMBU/3UMBU071.jpg">
    <img src="../../img/UMBU/7UMBU071.jpg" />
  </a><br/><br/>
<p>
[Page 66]
</p><p>
December 16, Tuesday
</p><p>
Terribly rough today. Went to G.Q at 0800 and then set condition II and condition Yoke. Were supposed to pick up two destroyers at 0600 but they missed us. We saw them from our foretops and chased them for a while but had to give up and return to the convoy. two PBY's saw us and apparently got the word to the cans [Destroyers] for they came steaming up around 0900 - the Reed and the Cummings.
</p><p>
Off Pearl Harbor at 1530. Destroyers and PT boats [Patrol Torpedo Boat] all over the place patrolling the entrance. A new boom or sub net is being built at the entrance. We steamed in astern of the Chester and several destroyers. The Chester has been to Manilla and helped bring
</p><p>
[Page 67]
</p><p>
the Marines out of Shanghai, and is apparently just returning.
</p><p>
While entering we could see all the wrecked hangers at Hickam Field and the barricks where one bomb killed 350 soldiers. A plane is in the water just off the entrance.
</p><p>
As we turned up the last channel we could see many wrecked planes an Ford Island. Also I saw what I never thought I would - a U.S. battleship on the bottom - her main deck awash. Naturally everyone thought her to be the Arizona and noticed that she wasn't completely wrecked and that her colors were still flying. But then as we proceed further the worst sight I ever laid eyes on presented itself.
</p><p>
[Page 68]
</p><p>
First we could see the bottom and one screw of the Oklahomia sticking up out of the water. Inboard and forward of her was another battleship on the bottom- one of the California class- more badly damaged than what we first thought was the Arizona but what we now realize was the Nevada. Aft of the Oklahoma is another battleship on the bottom and practically a heap of junk her foremast is burned to a frazzle to above the bridge. There has undoubttedly been a torpedo hit amidships for her- whole side is ripped away and guns and shields and bulkheads are twisted together in one wasted mess. It is where the West Virginia is always moored and resembles her alright. As we passed
</p><p>
[Page 69]
</p><p>
by I could read West Virginia on her stern which is barely above the water.
If Archie or JT were on board I don't see how they could have lived through that.
</p><p>
Aft of the West Virginia is the worst looking junk heap I have ever seen - just one big twisted mass of guns and steel- the Arizona, her foremast burned to a crisp to the very top has toppeled over forward, her second turret has blown up, her midships is unrecognizable and wreckage is strewn everywhere. Anybody who would have lived through that would be a marvel. I just wonder if any of the heads of departments I know were on her- Archies' uncle , Mr. Folger or Mr. Butwell.
</p><p>
Knox [SECNAV] said 2361 men were
</p><p>
[Page 70]
</p><p>
lost and 91 officers. That seems small for such destruction as we have seen today. It absolutely made everyone on board sick and speechless. Here we had expected to find two battleships lost and return to find five (Nevada, California, Oklahoma, West Virgina, and Arizona) on the bottom with the Maryland , Tennessee, and Pennsylvania at the docks obviously being repaired.
</p><p>
We saw the Cassen at the dock literally torn in two by a magazine explosion.
</p><p>
Apparently the U.S. doesn't believe in putting out the straight dope. Of course you can see that the people wouldn't like to hear that five of their eight battleships are sitting on the bottom.
</p><p>
Moored along side the Salt Lake City. Condition III to be maintained in port.
</p><p>
[Page 71]
</p><p>
Had a big conference in wardroom to square away on everything. Everyone is to get one day in four ashore from 0900-1700. All married men get off tomorrow so I get off day after tomorrow. We will stand one in four Condition III watches.
</p><p>
The uniform for men on all ships seems to be dungarees, while even the O.O.D's [Officer of the Day] are wearing khakis. All officers are carring pistols. The Louisville is staying as before though.
</p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Diary of Charles P. Trumbull], 7-16 December 1941, Charles Pendelton Trumbull Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Charles Pendelton Trumbull Papers #829.3.12. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0829">Display Collection Guide</a></td>
  </tr>
</table>