---
layout: ecu
title: "Execute WLP Forty Six Against Japan"
customdate: "6.18"
order: 18
---

{% include breadcrumbs.html %}

<h3>Execute WLP Forty Six Against Japan, 7 December 1941</h3>
<b>Notes</b>
<p>This telegram was received by John Newsom at 7:40 PM, 7 December 1941</p>

<div class="well">
  <label>Text and Images from Telegram</label><br/>

  <a href="../../img/WLPF/3WLPF001.jpg">
    <img src="../../img/WLPF/7WLPF001.jpg" />
  </a><br/><br/>
<p>
<b>Transcription for the image above:</b>
</p><p>
USS Argonne-1-29-42-10M.
</p><p>
NAVAL DISPATCH
</p><p>
HEADING
</p><p>
NR 398 Z SNOW 071930/142 RAFT 0 GR BT
</p><p>
EXECUTE WLP FORTY SIX AGAINST JAPAN
</p><p>
1940/DEC 7 '41/HW/JC VIA NPL F
</p><p>
TOR OPR SUPV DATE
</p><p>
From: SECNAV
</p><p>
To:<br/>
for action ALNAV
</p><p>
To:<br/>
for information
</p><p>
"A" for action
</p><p>
"X" for information
</p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Execute WLP Forty Six Against Japan", 7 December 1941, John W. Newsom Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>John W. Newsom Papers #634.1.a.2. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0634">Display Collection Guide</a></td>
  </tr>
</table>
