---
layout: ecu
title: "Letter from John W. Newsom to Dear Folks"
customdate: "6.19"
order: 19
---

{% include breadcrumbs.html %}

<h3>Letter from John W. Newsom to Dear Folks, 8 December 1941</h3>

<div class="well">
  <label>Text and Images from Letter</label><br/>

  <a href="../../img/WSOM/3WSOM001.jpg">
    <img src="../../img/WSOM/7WSOM001.jpg" />
  </a><br/><br/>
<p>
Letters written from USS Hopkins to family from 8 Dec. 41 to Sept 42
</p><p>
Dec. 8 1941
</p><p>
Dear Folks
</p><p>
Am safe and happy and everything is OK. Don't worry about a thing. I'll lit [let] you know if any thing is wrong at all as soon as I can. But, don't worry at all. Probably won't heve [have] time to write for a while but will try to do my best to write later. Don't worry!!
</p><p>
Love to all of you
</p><p>
John Newsom
</p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Letter from John W. Newsom to Dear Folks], 8 December 1941, John W. Newsom Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>John W. Newsom Papers #634.1.a.4. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0634">Display Collection Guide</a></td>
  </tr>
</table>
