---
layout: ecu
title: "Biographical Sketch of Benjamin C. Byrnside, Jr. (USS Enterprise)"
customdate: "6.08"
order: 8
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Benjamin C. Byrnside, Jr. (<em>USS Enterprise</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Benjamin Claude Byrnside, Jr. was born on 17 February 1918 in North Carolina. He was appointed to Annapolis from West Virginia and graduated as a member of the Class of 1941. Byrnside was service as an officer aboard the aircraft carrier <em>USS Enterprise</em> (CV 6) at the time of the attack on Pearl Harbor. Byrnside earned qualification in submarine warfare, attended the Industrial College of the Armed Forces, and the Naval War College for Advanced Study in Strategy. He also earned an MA in Business Administration from George Washington University (1971). For his military service he was awarded the Legion of Merit, Joint Service Commendation, and Presidential Unit Citation medals. Byrnside retired on 1 July 1971 with the rank of Captain, U.S. Navy. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>Benjamin C. Byrnside Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 181. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0181">Display Collection Guide</a></td>
  </tr>
</table>

</div>
