<ul class="breadcrumb">

  {% if include.active == "home" %}
    <li class="active">Home</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
  {% endif %}

  {% if include.active == "warbegins" %}
    <li class="active">War Begins</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/warbegins.html">War Begins</a></li>
  {% endif %}

  {% if include.active == "firstreactions" %}
    <li class="active">First Reactions</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/firstreactions.html">First Reactions</a></li>
  {% endif %}

  {% if include.active == "secondwave" %}
    <li class="active">Second Wave</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/secondwave.html">Second Wave</a></li>
  {% endif %}

  {% if include.active == "strickingback" %}
    <li class="active">Stricking Back</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/strickingback.html">Stricking Back</a></li>
  {% endif %}

  {% if include.active == "smallerships" %}
    <li class="active">Smaller Ships</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/smallerships.html">Smaller Ships</a></li>
  {% endif %}

  {% if include.active == "newsspreads" %}
    <li class="active">News Spreads</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/newsspreads.html">News Spreads</a></li>
  {% endif %}

  {% if include.active == "lookingback" %}
    <li class="active">Looking Back</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/lookingback.html">Looking Back</a></li>
  {% endif %}

</ul>
