---
layout: ecu
title: "The U. S. Fleet Goes Into Action: First War Pictures in the Pacific"
customdate: "7.01"
order: 1
---

{% include breadcrumbs.html %}

<h3>The U. S. Fleet Goes Into Action: First War Pictures in the Pacific", <em>Life Magazine</em>, 5 January 1942</h3>

<div class="well">
  <label>Text and Images from Magazine</label><br/>

  <a href="../../img/LMAG/3LMAG015.jpg">
    <img src="../../img/LMAG/7LMAG015.jpg" />
  </a><br/><br/>
<p>
[Caption] At 9 o'clock on the sunny morning of Dec. 7, the articles of war are read to the crew of a U.S. heavy cruiser on active duty in the Pacific Ocean
</p><p>
THE U.S. FLEET GOES INTO ACTION
</p><p>
FIRST WAR PICTURES IN PACIFIC
</p><p>
The Japanese attack on Pearl Harbor Dec. 7 found a fast powerful task force of the U. S. Fleet carrying out scouting and patrol duty in the middle of the Pacific. Aboard a heavy cruiser in this task force were two LMAG staff men-Photographer Bob Landry and Reporter Richard Wilcox-who had been assigned to cover Hawaii and the Pacific Fleet three weeks prior to the outbreak of war. For more than a week at sea with this fighting force they were privileged to obtain the following picture-and-word account-the first to be approved by the Navy Department-which shows how the U. S. Fleet quickly manned its battle stations and went into action against the enemy.
</p><p>
Because of Pearl Harbor, there has been a public tendency to low-rate the U. S. Navy. Landry's pictures and Wilcox's text reveal the error of this snap judgment. On the following pages the reader will see a grim fleet force that looks quite different from the Navy of maneuvers and reviews. Here are the ships and planes and men that must keep an aggressive contest going against the Navy's main enemy-the Japanese Fleet. 
</p>

<p>
[Page 16]
</p>

<a href="../../img/LMAG/3LMAG016a.jpg">
    <img src="../../img/LMAG/7LMAG016a.jpg" />
  </a><br/><br/>
<p>
[Caption] Small boats are thrown overboard as ship strips for action. Holes were chopped in bottom so they would sink quickly. Boats would be dangerous in battle because they splinter when hit.
</p>

<a href="../../img/LMAG/3LMAG016b.jpg">
    <img src="../../img/LMAG/7LMAG016b.jpg" />
  </a><br/><br/>
<p>
[Caption] Paint cans go over side, as do all other inflamables and nonessential ship's gear. Ship's piano and polished mahogany boarding ladders, which could throw deadly splinters, followed.

</p>

<a href="../../img/LMAG/3LMAG016c.jpg">
    <img src="../../img/LMAG/7LMAG016c.jpg" />
  </a><br/><br/>
<p>
[Caption] Decks are painted gray to make the ship less visible from the air. All brightwork, white canvas hose, tarpaulins, even sailors' hats were daubed to make them inconspicuous in the bright sun.
</p>

<a href="../../img/LMAG/3LMAG016ad.jpg">
    <img src="../../img/LMAG/7LMAG016d.jpg" />
  </a><br/><br/>
<p>
[Caption] Life lines are removed from fo'c'sle [forecastle]. These might interfere with fire from revolving foward turrets during battle. The whole ship was stripped and ready for action within an hour's time.
</p>

<a href="../../img/LMAG/3LMAG016e.jpg">
    <img src="../../img/LMAG/7LMAG016e.jpg" />
  </a><br/><br/>
<p>
[Caption] Machine-gun ammunition is loaded in the crew's mess hall. Instead of the big Sunday dinner origially planed for, crew ate hastily made sandwiches and prepared bullet belts for service.
</p>

<a href="../../img/LMAG/3LMAG016f.jpg">
    <img src="../../img/LMAG/7LMAG016f.jpg" />
  </a><br/><br/>
<p>
[Caption] Extra ammunition is broken out and brought up to secondary batteries for emergency. The crews of these guns are so good they can put four shells into air before first one hits the target.

[Page 17]
</p>

<a href="../../img/LMAG/3LMAG017a.jpg">
    <img src="../../img/LMAG/7LMAG017a.jpg" />
  </a><br/><br/>
<p>
[Caption] War paint is applied to hangar doors. If left untouched, these shiny aluminum sheets would be the first thing enemy ships might see at a distance, would provide a perfect target bearing for a hit amidships. They were the first things painted.
</p>

<a href="../../img/LMAG/3LMAG017b.jpg">
    <img src="../../img/LMAG/7LMAG017b.jpg" />
  </a><br/><br/>
<p>

[Caption] Crash boat is manned every minute that planes are up or alerted (which is every hour of daylight). The officer with cap (in rear) is the ship's doctor. The aviator (right) would salvage bomb-sight and confidential papers from disabled plane. 
</p>
<p>

The FIRST TEN DAYS of the WAR AT SEA
</p><p>
by RICHARD WILCOX
</p><p>
I was standing on the bridge of a U. S. heavy cruiser, hundreds of miles west of Pearl Harbor, the Sunday morning Japan began its attack. We had left Pearl three days before, a strong striking force made up of heavy cruisers, destroyers and an aircraft carrier, bound for maneuvers off the Islands. We went out in single file in the morning sun, scout bombers loaded with bombs guarding our way, past mighty lines of battleships, lean submarines and strong cruisers. Here lay the most tremendous example of American naval power, black and deadly, waiting for the word that would let it fulfill its mission in the world.
</p><p>
As soon as we had cleared the harbor, we knew that we were on more than maneuvers. Speculation ran through our ship like wildfire. No one knew where we were going, but we were ready for anything. Our men were at condition watches every minute, all guns were manned, planes were patrolling hundreds of miles at sea all about us. This force was alert, eager to prove its mettle.
</p><p>
The morning of Dec. 7 I went up to the bridge early because the captain had said that we would probably launch our cruiser planes as an additional scouting force. At 8 a. m. we got a message from the flagship, directing us to have our planes ready for launching in ten minutes. I hurried below to get LMAG Photographer Landry as we wanted pictures of this exciting event. When I got back on the bridge the captain seemed different. He took me into the charthouse and handed me a message to read. "This is a funny thing that just came in," he said. The message read: HOSTILITIES WITH JAPAN COMMENCED 8 THIS MORNING AIR ATTACK PEARL HARBOR.
</p><p>
For the first hour no one really believed that the message was true. But then disturbing things began to happen. All Hawaiian radio stations went dead. We began to pick up amateur shortwave stations that spread alarming rumors (afterwards proved false) about the fierceness of the Japanese attack. After that there could be no doubt about it. Official dispatches kept coming in which confirmed the war. One of these directed our force to turn and rendezvous with the Fleet at sea west of the Islands. We turned east at full speed, the foam curling in white waves over the speedy destroyers guarding our heavier ships from the submarines. Planes from the carrier roared off ahead to ward off air attack.
</p><p>
Our first business was to strip the ship for action. Months before lists had been made of everything that was a luxury or a potential danger and not essential to a fighting ship. Methodically each one of these things was disposed of in a few hours. Long whaleboats, which could send deadly splinters singing over the decks, were chopped up and dropped overboard to sink. Over went polished mahogany boarding ladders, the ship's piano, combustibles and other articles. Code books were put into weighted canvas bags. Stores of kerosene and other unessential oils were pumped overboard at night so that their slick 
</p>
<p>
[Page 18]
</p><p>
would not betray our position. Extra ammunition was broken out and ready boxes filled for action. Then a crew set to work painting the decks and brightwork. In an hour our ship was gray island of destruction. Everything had been painted-decks, hangar doors, brightwork, white canvas hose. Even the tops of the sailkors' white hats were daubed so that they could not be picked up from the air.
</p><p>
Sunday dinner had originally been planned as a gala holiday affair. There was to be a smoker afterwards for the crew, with wrestling matches, skits and songs. Instead the crew ate standing up, their mess tables and halls filled with boxes of ammunition which they had been putting into belts. It was during dinner that the captain made the announcement to the crew. His voice was calm and grave over the broadcasting system. He announced that the United States had been treacherously attacked, but that it could never be beaten. He said that now the long training for war was given has ship and crew were to be tested but it was read. "I counsel you to be cheerful and of stout heart," his words echoed through the speeding ship. "No ship can be beat us at our best." At the end of his short talk he read a dispatch that had just been reveived from the Secretary of the Navy: WHILE YOU HAVE SUFFERED FROM A TREACHEROUS ATTACK, YOUR COMMANDOR IN CHEIF HAS BEEN INFORMED THAT YOUR COURAGE AND STAMINA REMAIN MAGNIFICENT. YOU KNOW YOU WILL HAVE YOUR REVENGE. RECRUITING STATES ARE JAMMED WITH MEN EAGER TO JOIN YOU!
</p><p>
The reaction to this message was the mot stirring sight I have ever seen. As one man the crew cheered. Bets flew back and forth between rival turret members as to which would get the first ship. I saw one ammunition handler say a prayer over each shell he sent up the hoist to the turret. The men, as ready as the ship, were eager to avenge the men at Pearl Harbor.
</p><p>
We went east, at forced draft, all the day without incident. At nightfall I was on the bridge when another message was reveived. It was terse and to the point, stating the enemy ships had been sighted off Oahu and we were to intercept and engage them.
</p><p>
That long night sleep was out of the question because we could not tell when we might intercept the enemy force. All battle stations were manned, from the skyports at the top of the masts to the water tenders in the boiler rooms below. One old boatswain's mate, who had been in the Navy for 21 years, was everywhere, in his duties in the damgae-control party, and everywhere he went he offered encouragement. "Those Japs
</p>

<a href="../../img/LMAG/3LMAG018a.jpg">
    <img src="../../img/LMAG/7LMAG018a.jpg" />
  </a><br/><br/>
<p>
[Caption] Aviators check their wind and directional bearings before taking off on scouting duty. Bearings have to be very carefully calculated, because when the planes return the ship is miles away from its position when they took off.
</p>
<a href="../../img/LMAG/3LMAG018b.jpg">
    <img src="../../img/LMAG/7LMAG018b.jpg" />
  </a><br/><br/>
<p>
[Caption] Tense with anxiety, three aviators wait for a plane which is overdue. They well know the many hazards of flying at sea during war - empty fuel tanks or a squadron of fast, deadly fighters from which a scout plane might not get away.
</p>
<a href="../../img/LMAG/3LMAG018c.jpg">
    <img src="../../img/LMAG/7LMAG018c.jpg" />
  </a><br/><br/>
<p>
[Caption] Back from scouting duty, a cruiser's plane comes up alongside to be recovered. This plane is almost out of gas, after ranging far at sea, and has just signaled that his companion ship has been forced down at sea due to lack of fuel. Problem is to find plane in the vast waste of the Pacific. 
</p>

<p>
[Page 19]
</p><p>
fight?" his voice would boom up from below decks, "those bastards couldn't lick their weight in marshmallows."
</p><p>
An hour before sunrise the next morning we prepared to launch our planes to scout. In watery, early morning light our pilots stood in charthouse, checking wind and directional bearings. Their faces were grim. Each of those young men knew what would happen if he ran into a formation of enemy fighters in a scouting plane. The most he could hope to do was to radio back news, then fight as long as he could in a plan with little firepower. Yet they were happy and glad to go. In a few minutes they were in their planes on the catapults. In another minute their hands waved to us and they shot out over the sea, banked and headed for the horizon.
</p><p>
As daylight broke the captain gave the orders for the day. They were short and to the point: SHOOT THE PANTS OFF THE SONS OF HEAVEN. Vigilance increased as we went along. There was brief flurry of excitement as a ship was sighted on the horizon but she turned out to be another heavy cruiser coming to join our force. The sight of her additional guns and planes made everyone feel better. She joined our formation and we kept on in our course of interception.
</p><p>
Towards the middle of the morning it became apparent that we had missed the enemy. It is hard to realize on a map just how big the Pacific Ocean really is. Groups of plans can scout for hundreds of miles without covering any appreciable distance in that vast body of water. The enemy had most likely changed course a few degrees in the night and we had missed them. Now our worry turned to our planes, which were long overdue. Finally one of them appeared and signaled that the other had been forced down at sea behind us. We recovered the signaling plane and headed back for the other. We soon sighted her, a tiny blue dot in the waves, and drew alongside. The pilot and the radio man were two of the most grateful (should be greatful) human beings imaginable. In wartime, a plane forced down at sea is usually left there because it is too dangerous for a lone ship to search for it.
</p><p>
We began to live new lives in the next days of war. The crew's instructions were simple: Eat, Work and Fight. Conditions of readiness were set at all times and men had to be ready to man battle stations at any moment. During one general quarters on turret of ours was manned by a completely naked crew, who had been in the shower when the alarm shounded. Bob Landry appeared on deck in the middle of one night with a camera, a tin hat and nothing else. Both of us had been instructed how to operate a .50-.cal. gun in case a gunner was shot and we had to fill in during action.

</p>


<a href="../../img/LMAG/3LMAG019a.jpg">
    <img src="../../img/LMAG/7LMAG019a.jpg" />
  </a><br/><br/>
<p>
[Caption] The missing plane is found by cruiser which turned back to search. The pilot and radio man had spent hours on the wings, balancing the plane so that is would not capsize in rough seas. They were both seasick from the continual roll.
</p>
<a href="../../img/LMAG/3LMAG019b.jpg">
    <img src="../../img/LMAG/7LMAG019b.jpg" />
  </a><br/><br/>
<p>
[Caption] The happiest man on ship is the rescued pilot. He realizes, as do all Navy pilots, that a ship cannot often search for missing planes during war. A lone ship is perfect prey for submarines and would be costly price to pay for a plane. 
</p>

<p>
[Page 20]
</p><p>
Now our ships were beginning to show the effects of their gruling days at sea. The destroyers had been tossed about so long that their gray war paint had been battered off and they shone a brilliant red. Fuel was running low for the whole force. Towards the end of the week we were told that we would be refueled at sea.
</p><p>
The day before the refueling I sat in the officers' wardroom helping the officers censor the crew's mail. Censorship laws had been put into effect immediately at the start of hostilities. The letters reflected the spirit of the crew. There was no fear or apprehension in them, only a feeling of optimisim. "Here's a good letter," said one of the officers passing it over to me.
</p><p>
Dear Mother,
</p><p>
Don't be worried. I'm all right. We're not killing people, we're just cleaning the scum off the ocean. Please tell Willie to join the Navy right away if he hasn't already. Love.
</p><p>
That night we met the tanker and a new destroyer division which had come out to relieve the one which had been with us since the start of the war. Meeting this force, in the dead of night, showed me exactly how ready our force was. We picked up the oncoming ships by listening apparatus. In three minutes every gun in the force was trained on those approaching ships; Suddenly one of our cruisers turned its powerful searchlights on them and they rose up out of the sea like sitting ducks. Our cruisers, in complete blackness, could have blown them out of the water in seconds. The ships gave the proper recognition signals, however, and swung in to join us. The next morning we started to fuel.
</p><p>
Fueling at sea is a ticklish business, even in peace. In war it is one of the riskiest of fleet operations. The tanker and the ship being fueled offer perfect targets of a submarine because they have to proceed at a slow speed during the process. We had an extra-heavy plane patrol in the air and our destroyers searched all the surrounding water with sound apparatus, hunting for subs.
</p><p>
We were sitting in our cabin, just before sunset, when a strained voice came over the ship's broadcasting system, "A torpedo has just been fired at one of our cruisers." We were on the bridge in seconds. The torpedo had missed the cruiser being fueled by a good 50 yd. Its wake could still be seen beyond her. The cruiser had broken away from the tanker and all our heavy shps were zigzagging at high speed. A mile, astern, four or our destroyers were converging towards one spot, working swiftly, quietly, implacably. In another minute two of our planes were inthe air, heading for the destroyers. White columns of spray climbed into the air and a dull noise crept across the water. We saw a yellow c'epth bomb fall from one of our planes. The plane was back in five minutes, the pilot grinning up at us. "Oil," he shouted, "a big patch of oil and hunks of cork and debris." He had two desserts for dinner that night.
</p><p>
The next day we were transferred to one of the returning destroyers to go back to Pearl Harbor. At dinner that night, in the small, stuffy wardroom, the captain's urgent voice came over the communication tube. "All officers report to the bridge immediately!" We hurried up the narrow, slippery ladders in the dark. The captain was giving orders to the crew. The leader of our squadron had picked up a submarine cruising on the surface, charging her batteries. Our formation was moving in for the kill.
</p><p>
There, in the pitch-black night, was enacted a fascinating drama. From all four quarters our ships moved in, listening apparatus set. I could hear the frantic "throb, throb" of the sub's propellers as she turned this way and that, in her desperate efforts to escape. But all her efforts were useless. She was like some great fish caught in a net of steel. We moved closer and closer in the dark, our depth charges set and ready for release. Suddenly it came. Our captain's hand pulled the release lever. Far away, as from down some long, cold corridor, muffled explosions came to us. Japan had one less submarine.
</p><p>
At 9 the next morning we were off Oahu, coming in steadily. The island looked as peaceful as when we had left. Everyone on board was anxiously waiting to get into the harbor and see the damage. In a single file we approached the net. Fast torpedo boats circled around us, inspecting us with wary eyes. The Navy was taking no chances with any ship. Finally the net was opened and we entered the harbor.
</p><p>
Changes could be seen everywhere. Every few yards on the shore was a pillbox from which bristled machine guns and mortars. Field pieces poked their snouts out of innocent clumps of palm trees and bushes. As we rounded a bend -of the harbor, every man on deck drew in his breath. As we passed the damaged ships men's fists were clenched and their eyes clouded with hatred. There is no need for people to tell the Navy to remember Pearl Harbor. Every man in the Fleet who saw that sight has it engraved indelibly on his brain.
</p><p>
In a few hours I was standing with a high-ranking officer, looking out through his windows into the harbor, looking once more at the twisted ships. "This is one lesson we shall never forget," he said flatly, completely. Then as he looked beyond the damaged ships to a great cruiser, loading heavy, pointed shells from a flat barge, his eyes lighted. "And it's a lesson which we'll soon improve upon."
</p>

<a href="../../img/LMAG/3LMAG020a.jpg">
    <img src="../../img/LMAG/7LMAG020a.jpg" />
  </a><br/><br/>
<p>
[Caption] Wearing battle dress, the crew of an anti-aircraft gun man their stations. They are clean-cut, self-reliant, confident of their gun and their ability.
</p>
<a href="../../img/LMAG/3LMAG020b.jpg">
    <img src="../../img/LMAG/7LMAG020b.jpg" />
  </a><br/><br/>
<p>
[Caption] Mattresses are put around rail to protect gunners from flying splinters.
</p>
<a href="../../img/LMAG/3LMAG020c.jpg">
    <img src="../../img/LMAG/7LMAG020c.jpg" />
  </a><br/><br/>
<p>
[Caption] Crew of signal bridge keep eyes on unidentified plane coming in from sun. Every man quickly learned silhouettes of Japanese airplanes and battleships. 
</p>

<p>
[Page 21]
</p>

<a href="../../img/LMAG/3LMAG021a.jpg">
    <img src="../../img/LMAG/7LMAG021a.jpg" />
  </a><br/><br/>
<p>
[Caption] With every gun manned a heavy cruiser plows through the Pacific searching for enemy ships.
</p>
<a href="../../img/LMAG/3LMAG021b.jpg">
    <img src="../../img/LMAG/7LMAG021b.jpg" />
  </a><br/><br/>
<p>
[Caption] Lookout drinks from water bottle aloft. Vigil is kept here day and night.
</p>
<a href="../../img/LMAG/3LMAG021c.jpg">
    <img src="../../img/LMAG/7LMAG021c.jpg" />
  </a><br/><br/>
<p>
[Caption] Cruisers swing into battle line on report that ship had been sighted. Vulnerable carrier drops behind for protection. The ship proved to be another cruiser, reinforcing task force. 
</p>
<p>
[Page 22]
</p>
<a href="../../img/LMAG/3LMAG022.jpg">
    <img src="../../img/LMAG/7LMAG022.jpg" />
  </a><br/><br/>
<p>
[Caption] A torpedo has just been fired at one of the cruisers, which is fueling at sea. In this great photograph, the cruiser has swung sharply out at high speed (note the wake) and the aircraft carrier is laying down a smokescreen (background). The whole force begins to zigzag at forced draft, as a submarine can almost never hit a fast-moving ship which is changing course.
</p>
<p>
[Page 23]
</p>
<a href="../../img/LMAG/3LMAG023a.jpg">
    <img src="../../img/LMAG/7LMAG023a.jpg" />
  </a><br/><br/>
<p>
[Caption] Destroyers rush up to guard the carrier, most vulnerable target of the force. Submarine had been stalking ships, hoping for lucky shot at one of them.
</p>
<a href="../../img/LMAG/3LMAG023b.jpg">
    <img src="../../img/LMAG/7LMAG023b.jpg" />
  </a><br/><br/>
<p>
[Caption] Carrier is now well out of range. Hours just before sunset and sunrise are best for torpedo attack as the dim light prevents periscope from being seen.
</p>
<a href="../../img/LMAG/3LMAG023c.jpg">
    <img src="../../img/LMAG/7LMAG023c.jpg" />
  </a><br/><br/>
<p>
[Caption] Into dusk goes a cruiser-catapulted plane, heading for the doomed submarine. Plane's depth bombs found their mark, oily slick marking sub's grave. 
</p>

<p>
[Page 24]
</p><p>
CLEAN-UP CREWS AT PEARL HARBOR SPEED THE WORK OF REFITTING AND REPAIR
</p><p>
When LMAG's photo-reporting team returned to Pearl Harbor from their ten-day cruise with a task force in the Pacific, they were escorted immediately to flag headquarters at the Navy Yard. During the next four days they were privileged to view the damage wrought by Japanese raiders on land and on water. They saw the gaping hangars of Hickam Field. They saw the sunken hulk of the battleship Arizona (above) its decks awash, its paint blistered by fire and its plates scarred by flying steel. They saw the gun crews constantly on the alert, all along the shores of Pearl Harbor's vital inlet, and at every battery and turret of every anchored vessel.
</p><p>
But most impressive was the diligence and fervor of the Navy's clean-up and repair crews. Hundreds of them dwelt in khaki tent cities pitched among sugarcane fields on the banks of the harbor only a few yards from the craft on which they worked. By night and by day they labored with but a single common purpose in view. Officers and men alike prayed for and looked forward to the hour when all their ships would be ready once more for action and able to take their revenge.
</p>

<a href="../../img/LMAG/3LMAG024a.jpg">
    <img src="../../img/LMAG/7LMAG024a.jpg" />
  </a><br/><br/>

<p>
[Caption] The sunken "Arizona" still flies the Stars and Stripes from her stern. This great picture was taken by an official Navy photographer a few days after the savage Japanese attack on Pearl Harbor. It shows smoke still seeping from the Arizona's gutted hull; it shows the great gaping wounds inflicted amidships; and it shows the paint blistered and gone from the after turrets. But the Arizona can still fight. High aloft, on the fighting top of her mainmast, two anti-aircraft guns point at the empty sky, ready for action. A salvage tender chuffs off to the right.
</p>
<a href="../../img/LMAG/3LMAG024b.jpg">
    <img src="../../img/LMAG/7LMAG024b.jpg" />
  </a><br/><br/>
<p>
[Caption] Mid-morning coffee is served to ship's crew from huge urn on quarterdeck.
</p>
<a href="../../img/LMAG/3LMAG024c.jpg">
    <img src="../../img/LMAG/7LMAG024c.jpg" />
  </a><br/><br/>
<p>
[Caption] A battleship's crew cheers a fight talk delivered by the officer of the deck. 
</p>
<p>
[Page 25]
</p>
<a href="../../img/LMAG/3LMAG025a.jpg">
    <img src="../../img/LMAG/7LMAG025a.jpg" />
  </a><br/><br/>
<p>
[Caption] From the tool room a repair crew gets wrenches, torches, other implements of rehabilitation.
</p>
<a href="../../img/LMAG/3LMAG025b.jpg">
    <img src="../../img/LMAG/7LMAG025b.jpg" />
  </a><br/><br/>
<p>
[Caption] FROM-CINCPAC - Your conduct and action have been splendid. We took a blow yesterday (Sunday). It will not be a short war. We will give many heavy blows to the "Japanese" - KEEP SMILING - CARRY ON
</p><p>
While you have suffered from a treacherous attack, your commander-in-chief has informed me that your courage and stamina remain magnificent. You know you will have your revenge. Recruiting stations are jammed with men eager to join you. - "OPNAV
</p>
<a href="../../img/LMAG/3LMAG025c.jpg">
    <img src="../../img/LMAG/7LMAG025c.jpg" />
  </a><br/><br/>
<p>
[Caption] Troops billeted in tents beside the harbor guard a battleship that weathered Japanese attack.
</p>
<a href="../../img/LMAG/3LMAG025d.jpg">
    <img src="../../img/LMAG/7LMAG025d.jpg" />
  </a><br/><br/>
<p>
[Caption] MEMO FOR ALL HANDS - ALL HANDS ARE CAUTIONED NOT TO EAT SUGAR CANE GROWING IN FIELD ASTERN OF SHIP. PROBABLY TREATED WITH POISONOUS COMPOUND 
</p>
<p>
[Page 26]
</p>
<a href="../../img/LMAG/3LMAG026a.jpg">
    <img src="../../img/LMAG/7LMAG026a.jpg" />
  </a><br/><br/>
<p>
[Caption] Far across the island of Oahu, 15 miles from Pearl Harbor, the Japanese bombers swoop down on the Kaneohe Naval Air Station early on the historic morning of Dec. 7. A civilian photographer took these great pictures as the first smoke columns began to rise.
</p>
<a href="../../img/LMAG/3LMAG026b.jpg">
    <img src="../../img/LMAG/7LMAG026b.jpg" />
  </a><br/><br/>
<p>
[Caption] Brought from his bed by the thunder of exploding bombs, this pajama-clad islander has rushed out on his terrace to scan with binoculars smoke-swept scene. Back and forth Jap planes roared, while at Pearl Harbor other bombs were falling from other planes. 
</p>
<p>
[Page 27]
</p>
<a href="../../img/LMAG/3LMAG027.jpg">
    <img src="../../img/LMAG/7LMAG027.jpg" />
  </a><br/><br/>
<p>
[Caption] A squadron of Japanese raiders speck the sky above the smoke clouds rising from the dirty work they wrought below. 
</p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td> "The U. S. Fleet Goes Into Action: First War Pictures in the Pacific" <em>Life Magazine</em> (Chicago, Illinois), 5 January 1942, James Harvey Brown Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>James Harvey Brown Papers #547.7.1.2. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0547">Display Collection Guide</a></td>
  </tr>
</table>