---
layout: ecu
title: "Pictures Keep Up Morale"
customdate: "7.05"
order: 5
---

{% include breadcrumbs.html %}

<h3>Pictures Keep Up Morale, <em>Commence Shooting Magazine</em>, 30 June 1942</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/MANY/3MANY048a.jpg">
    <img src="../../img/MANY/7MANY048a.jpg" />
  </a><br/><br/>
<p>A STORM-TOSSED SUPPLY SHIP drags its anchor and is driven close to Iceland's jagged shores by the winter wind. A Navy photographer on an accompanying ship made this stirring shot at the height of the storm's fury. Better than any words, it tells the story of the unremitting danger that besets the ships and men who brave the wintry North Atlantic.
</p>
  <a href="../../img/MANY/3MANY048b.jpg">
    <img src="../../img/MANY/7MANY048b.jpg" />
  </a><br/><br/>
<p>
THE BLAZING HULK of the battleship "Arizona" sends oily smoke into the Hawaiian sky. The photograph tells of the agonizing death of a ship, twisted and wracked by flame. Pictures like this enrage Americans, make them anxious to fight and avenge.
</p>
  <a href="../../img/MANY/3MANY048c.jpg">
    <img src="../../img/MANY/7MANY048c.jpg" />
  </a><br/><br/>
<p>
U.S.S. "LAFAYETTE," formerly the "Normandie," lies cold and dead alongside her pier after the fire that gutted her and caused her to capsize. The quiet, somber mood of this photograph makes people realize the grimness of war.
</p>
  <a href="../../img/MANY/3MANY049a.jpg">
    <img src="../../img/MANY/7MANY049a.jpg" />
  </a><br/><br/>
<p>
THE MAGAZINE of the destroyer "Shaw" explodes with a tremendous blast of smoke and flame at Pearl Harbor, Dec. 7, 1941. An alert Navy man got this picture at exact moment of explosion and made a picture which will go down as one of the greatest of the war. Magnificent shots like this come seldom but the cameraman must always be ready when they do.
</p>
  <a href="../../img/MANY/3MANY049b.jpg">
    <img src="../../img/MANY/7MANY049b.jpg" />
  </a><br/><br/>
<p>

BROADSIDE FROM A HEAVY CRUISER is fired at Japanese forces during a U.S. raid on Wake Island. The picture conscious captain of the cruiser, pausing for an instant from his duties on the bridge, took this remarkable news photograph.
</p>
  <a href="../../img/MANY/3MANY046.jpg">
    <img src="../../img/MANY/7MANY046.jpg" />
  </a><br/><br/>
  <a href="../../img/MANY/3MANY047a.jpg">
    <img src="../../img/MANY/7MANY047a.jpg" />
  </a><br/><br/>
<p>
[Caption] Here Photographer Gives Glamor Even To Welders
</p>
  <a href="../../img/MANY/3MANY047b.jpg">
    <img src="../../img/MANY/7MANY047b.jpg" />
  </a><br/><br/>
<p>
[Caption] A Sailor With Signal Flags Becomes A Navy Symbol
</p>

  <a href="../../img/MANY/3MANY047c.jpg">
    <img src="../../img/MANY/7MANY047c.jpg" />
  </a><br/><br/>
<p>
[Caption] Splash Of White Spray Brings Poetry To This Picture
</p>
  <a href="../../img/MANY/3MANY047d.jpg">
    <img src="../../img/MANY/7MANY047d.jpg" />
  </a><br/><br/>
<p>
[Caption] Clouds High Above The Landscape Lend Beauty To This
</p>


</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Pictures Keep Up Morale," <em>Commence Shooting Magazine</em>, 30 June 1942, James Harvey Brown Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>James Harvey Brown Papers #547.7.i. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0547">Display Collection Guide</a></td>
  </tr>
</table>
