---
layout: ecu
title: "USS California damaged during attack (BB-44)"
customdate: "7.07"
order: 7
---

{% include breadcrumbs.html %}

<h3><em>USS California</em> damaged during attack (BB-44), 7 December 1941</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPCF/3NPCF001.jpg">
    <img src="../../img/NPCF/7NPCF001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy." <em>USS California </em>damaged, during the Pearl Harbor attack," 24 September 2002. http://www.history.navy.mil/photos/images/g30000/g32463.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>
