---
layout: ecu
title: "Men working on capsized USS Oklahoma"
customdate: "7.08"
order: 8
---

{% include breadcrumbs.html %}

<h3>Men working on capsized <em>USS Oklahoma</em> (BB-37), 7 December 1941</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPOK/3NPOK001.jpg">
    <img src="../../img/NPOK/7NPOK001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. "Men working on capsized <em>USS Oklahoma</em>," 24 September 2002. http://www.history.navy.mil/photos/images/g10000/g19941.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>
