---
layout: ecu
title: "Remember Pearl Harbor"
customdate: "7.06"
order: 6
---

{% include breadcrumbs.html %}

<h3>Remember Pearl Harbor" [Back cover] <em>Coast Guard-Manned Naval Vessels in World War II</em> by Robert E. Johnson, 1993</h3>

<div class="well">
  <label>Image from Pamphlet</label><br/>

  <a href="../../img/QICK/3QICK001.jpg">
    <img src="../../img/QICK/7QICK001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Robert Erwin Johnson, <em>Coast Guard-Manned Naval Vessels in World War II</em>, 1993, Washington, D.C.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td> Special Ref D 773 J68 1993. <a href="http://catalog.lib.ecu.edu/catalog/653710">View Catalog Record</a></td>
  </tr>
</table>
