---
layout: ecu
title: "Submarine memorial at Pearl Harbor"
customdate: "7.03"
order: 3
---

{% include breadcrumbs.html %}

<h3>Submarine memorial at Pearl Harbor, no date </h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/SUBM/3SUBM001.jpg">
    <img src="../../img/SUBM/7SUBM001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Submarine memorial at Pearl Harbor], n.d., Walter K. Small, Jr. Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Walter K. Small Jr. Papers #731/80. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0731">Display Collection Guide</a></td>
  </tr>
</table>
