---
layout: ecu
title: "Rescuing survivor near USS West Virginia (BB-48)"
customdate: "7.02"
order: 2
---

{% include breadcrumbs.html %}

<h3>Rescuing survivor near <em>USS West Virginia</em> (BB-48), 7 December 1941</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/WEEK/3WEEK001.jpg">
    <img src="../../img/WEEK/7WEEK001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. "Rescuing survivor near USS West Virginia ," 24 September 2002. http://www.history.navy.mil/photos/images/ac00001/ac05904.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Photograph from the Army Signal Corps Collection in the U.S. National Archives</td>
  </tr>
</table>
