---
layout: ecu
title: "USS Arizona memorial"
customdate: "7.04"
order: 4
---

{% include breadcrumbs.html %}

<h3><em>USS Arizona</em> memorial, no date </h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/ZONA/3ZONA001.jpg">
    <img src="../../img/ZONA/7ZONA001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[<em>USS Arizona memorial</em>], n.d., Walter K. Small, Jr. Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Walter K. Small Jr. Papers #731/82. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0731">Display Collection Guide</a></td>
  </tr>
</table>
