---
layout: ecu
title: "USS Arizona burning"
customdate: "3.21"
order: 21
---

{% include breadcrumbs.html %}

<h3><em>USS Arizona</em> burning (BB-39), circa December 1941</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/BURN/3BURN001.jpg">
    <img src="../../img/BURN/7BURN001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td> 	[ USS Arizona burning], December 1941, Henry Champ Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Henry Champ Papers #677/45/2. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-045">Display Collection Guide</a></td>
  </tr>
</table>