---
layout: ecu
title: "Biographical Sketch of Oscar David MacMillan (USS Hull)"
customdate: "3.08"
order: 8
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Oscar David MacMillan (<em>USS Hull</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Oscar David MacMillan was born on 13 May 1919. He was appointed to Annapolis by the Secretary of the Navy and graduated as a member of the Class of 1941. At the time of the Pearl Harbor attack, MacMillan was serving on the destroyer <em>USS Hull</em> (DD 350). He earned the Bronze Star, Naval Unit Commendation Ribbon, and Meritorious Service medals. MacMillan retired with the rank of Captain, U.S. Navy. He died on 9 August 1989.  
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr><td>United States Naval Academy, Golden Lucky Bag: Class of 1941 , Herff Jones Company, Getysburg PA, 1991. <a href="http://catalog.lib.ecu.edu/catalog/685347">Display Catalog Record</a> </td></tr>
</table>

</div>
