---
layout: ecu
title: "Biographical Sketch of Walter L. Seedlock (USS Shaw)"
customdate: "3.16"
order: 16
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Walter L. Seedlock (<em>USS Shaw</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Walter F. Seedlock was born in California on December 10, 1918. He received an appointment to the Naval Academy from the state of Ohio. Seedlock served aboard the <em>USS Shaw</em> during the attack on Pearl Harbor. He retired as Captain of the U.S. Navy on September 8, 1949, and remained on active duty in the U.S. Navy Reserve from 1951 to 1954. He has received the Purple Heart. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>

</table>

</div>
