---
layout: ecu
title: "Biographical Sketch of Francesco Costagliolan (USS Phoenix)"
customdate: "3.09"
order: 9
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Oscar Francesco Costagliola (<em>USS Phoenix</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Francesco Costagliola was born in Cranston, Rhode Island on August 24, 1917. He received an appointment at Rhode Island to the Naval Academy. Costagliola served aboard the cruiser <em>USS Phoeni</em>x (CL 46) during the attack on Pearl Harbor. He retired as U. S. Naval Captain on September 30, 1968, and has received the Legion of Merit as well as two Bronze Star Medals. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr><td>Francesco Constagliola Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 120. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0120">Display Collection Guide</a></td></tr>
</table>

</div>
