---
layout: ecu
title: "Leon Grabowsky Interview"
customdate: "3.20"
order: 20
---

{% include breadcrumbs.html %}

<h3>Leon Grabowsky Interview (<em>USS Arizona</em>), 7 June 1991</h3>

<div class="well">
  <label>Text from Interview Excerpt</label><br/>

  <p>
[When you graduated in February 1941, you were assigned to the USS Arizona]

<em>USS Arizona</em> . . . . In August of 1941, we went on an extended cruise for two weeks at sea with the Fleet on maneuvers. The doctors on the ship were obliged to give annual physicals to all their officers. . . . I took the physical and I flunked it. I had albuminuria. They thought my kidneys were not filtering albumin. They thought it was a consequence of my illness in the spring. As soon as we got in from this cruise, they sent me over to the hospital again. I spend three weeks with doctors who were all trying to find something . . . . An order was later sent to the ship to send Leon Grabowsky over to the Naval Hospital in Pearl Harbor for an examination "to see whether or not he is qualified to stay in the Navy" -- a board of survey they called it back in those days. The doctor, who was a commander, said it was the only way that I could get rid of the paperwork. . . . On the fourth or fifth of December, I was sent to the hospital to face a board of survey. I was in the hospital the morning the ship blew up. The doctor is dead, the skipper is dead, everybody is dead, but I am alive. That is why I am a survivor.
</p><p>
[So you survived due to an overactive prostate?] Yes.
</p><p>
[There were a few survivors from the Arizona, weren't there?]
</p><p>
All of my division -- I had eighty men in the A Division -- they all died. . . . We got out to the ship. The stem was still above water and the flag was all ripped to shreds by shrapnel. I took my clothes off and swam through the burning oil, trying to get to the mast, but couldn't do it. We had to abandon the effort. . . . 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Leon Grabowsky Interview, Oral History Collection , 7 June 1991.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Oral History No. 131, p. 11-15. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0131">Display Collection Guide</a></td>
  </tr>
</table>
