---
layout: ecu
title: "Historical Sketch of USS Arizona (BB-39)"
customdate: "3.22"
order: 22
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS Arizona</em> (BB-39)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Named for 48th state BB-39, the third ship to bear the name <em>Arizona</em>, was commissioned 17 October 1916. During the Japanese attack on Pearl Harbor <em>Arizona</em> took hits from one torpedo and eight bombs. One of the bombs penetrated a powder magazine which then exploded completely wrecking her. 1104 members of her crew died as a result. <em>Arizona</em> remains where she sank a memorial to those who died on her. Rear Admiral I. C. Kidd and Captain F. Van Valkenburgh, respectively, were posthumously awarded Medals of Honor for remaining at their posts despite the risks; Lt. Commander S. G. Fuqua, the senior surviving officer of the <em>Arizona</em> also received the Medal of Honor. <em>Arizona</em> received one battle star for her actions that day. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>Dictionary of American Naval Fighting Ships , 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume I, pp.61. </td></tr>
</table>

</div>
