---
layout: ecu
title: "To parents of James H. Brown"
customdate: "3.12"
order: 12
---

{% include breadcrumbs.html %}

<h3>To parents of James H. Brown, 11 December 1941</h3>

<div class="well">
  <label>Text and Images from Letter</label><br/>

  <a href="../../img/JOHN/3JOHN001.jpg">
    <img src="../../img/JOHN/7JOHN001.jpg" />
  </a><br/><br/>

<a href="../../img/JOHN/3JOHN002.jpg">
    <img src="../../img/JOHN/7JOHN002.jpg" />
  </a><br/><br/>

<p>
<b>Transcription for the images above:</b>
</p><p>
[Page 1]
</p><p>
Dec 11 (mailed Dec 12)
I lost everything I had but was unharmed in any way. Address future mail to me in U.S.S. Thorton, of which I am executive officer. P.O. is still Pearl Harbor. Censorship is in effect. Do not put my rank in front of my name on envelope. Do not worry. I have a good job.
</p><p>
All my love,<br/>
James
</p><p>
J.H. Brown<br/>
U.S.S. Thorton<br/>
Fleet Postoffice [Post Office]<br/>
Pearl Harbor, T.H.
</p><p>
Over
</p><p>
[Page 2]
</p><p>
11/19/69-This is copy of telgram (I 'spect) [(I expect)] you sent Mother and Dad. Perhaps it was a letter since it says "mailed" 12/12. I found it among our "papers." 
</p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Sketches showing the path of Japanese attackers], December 7, 1941, Lloyd O. Johnson Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Lloyd O. Johnson Papers #677/21/1.1. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-021">Display Collection Guide</a></td>
  </tr>
</table>