---
layout: ecu
title: "Lt. Lloyd O. Johnson (USS Whitney)"
customdate: "3.01"
order: 1
---

{% include breadcrumbs.html %}

<h3>Lt. Lloyd O. Johnson (<em>USS Whitney</em>) no date </h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/LLOY/3LLOY001.jpg">
    <img src="../../img/LLOY/7LLOY001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Lt. Lloyd O. Johnson, n.d., Lloyd O. Johnson Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Lloyd O. Johnson Papers #677/21.1.7. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-021">Display Collection Guide</a></td>
  </tr>
</table>