---
layout: ecu
title: "Biographical Sketch of Lt. Lloyd O. Johnson (USS Whitney)"
customdate: "3.02"
order: 2
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Lt. Lloyd O. Johnson (<em>USS Whitney</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Lloyd O. Johnson was born 10 December 1906 near Sheridan, IL. He enlisted in the Navy on 10 February 1928. At the time of the Japanese attack, he had risen to the rank of warrant officer and was serving as the pay clerk on board the destroyer tender <em>USS Whitney</em> in Pearl Harbor. Luckily she survived the attack unscathed, for she stored spare torpedoes, ammunition, and provisions for the all destroyers of the Pacific Fleet. If <em>Whitney</em> had been hit, the explosion would have rivaled the one on the <em>Shaw</em>. <em>Whitney</em> also provisioned, repaired and overhauled the destroyers. Her loss would have crippled the Pacific Fleet for many months. Johnson was commissioned as an officer in the Supply Corps, on 15 June 1942, and retired, on 31 October 1961, with the rank of Lt. Commander. He subsequently worked for Chase Manhattan Bank until 1971 and earned a BA from Richmond College, NY (1972).  
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr><td>Lloyd O. Johnson Papers #677/21, East Carolina Manuscript Collection, Manuscripts and Rare Books Department. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-021">View Collection Guide</a></td></tr>
</table>

</div>
