---
layout: ecu
title: "Oscar David MacMillan Interview (USS Hull)"
customdate: "3.05"
order: 5
---

{% include breadcrumbs.html %}

<h3>Oscar David MacMillan Interview (<em>USS Hull</em>), 6 February 1988</h3>

<div class="well">
  <label>Text from Interview Excerpt</label><br/>

  <p>
[You were primarily involved in maneuvers out of Hawaii during the summer of 1941?]
</p><p>
I spent the summer on normal Fleet operations. We would probably be at sea for three weeks out of a month and then in for one week, or maybe two out and two in. . . I was at that time, a bachelor. . . . We went out for the last three weeks in November, with my division of destroyers coming back into port on Friday, December the fifth. We were assigned to a tender, the old <em>Dobbin</em> -- a repair ship. . . . On Saturday, we started taking all the defective parts to the tender. . . . Consequently, the ship was not in very good shape on Sunday morning at eight o'clock when the whole thing blew up in our faces.
</p><p>
I was on board with the two other ensigns. All the other officers were ashore with their families. . . . We didn't have a gun that would fire. The remarkable thing is . . . that we had guns shooting within. . . . My ship was credited with one definite kill and one possible on a Jap plane. . . . We had one-third of the crew and one-third of the officers. . . .
</p><p>
I kept thinking I was going to wake up and it was just going to have been a dream. You can't imagine going from absolute peacetime to total war, with planes pulling out of their dives and flying by so close you could see the expression on the pilots' faces. They pulled out just at bridge level, and I was up on the gun director at the top of the bridge. I was mad at myself, because I was in such a hurry to get up to my battle station, that I didn't go to the safe and get my forty-five pistol. We kept them in the safe because they were accountable and a high value item that disappeared if not kept locked up. I got up to the top of the director and I could have been shooting ducks in a gallery with my pistol if I had had it, but I didn't. That was some morning. The officers straggled back in along with the rest of the crew. A lot of them had been hurt and injured by the strafing over on the liberty piers. . . . 
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Oscar David MacMillan Interview, Oral History Collection, 6 February 1988.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Oral History No. 102, p. 9-18. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0102">Display Collection Guide</a></td>
  </tr>
</table>