---
layout: ecu
title: "Frank Costagliola Interview (USS Phoenix)"
customdate: "3.11"
order: 11
---

{% include breadcrumbs.html %}

<h3>Frank Costagliola Interview (<em>USS Phoenix</em>),  30 March 1990</h3>

<div class="well">
  <label>Text from Interview Excerpt</label><br/>

  <p>
I was at Pearl Harbor when the Japanese attacked. I was in my stateroom getting ready to catch a boat scheduled to leave at 8:15. I was going to go over to one of the battleships for church services. I had gotten up somewhere around 7:30 and was in my stateroom shaving when I thought I heard gunfire. I looked out the porthole . . . on our port side, but I didn't see anything. . . . I heard them pass the words "Set Condition III, Watch Two in the anti-aircraft battery." I was in the fourth section so it didn't bother me; however, I knew it was very unusual to have a drill on Sunday. . . .
</p><p>
I was . . . standing there in my underwear, and boatswain Bergstad came banging on the door. He said, "Mr. Costagliola, Mr. Costagliola, the Japs are attacking!"
</p><p>
I said, "My God! What do I do next?" The first question that came to my mind was, "What should I wear?" . . . . I got my clothes on and started running back there. As I passed the quarterdeck, Mark Hanna, Class of 1940, said to me, "Costy, goddamnit do something." He was the officer of the deck. He said, "Put on your .45!" So I turned around, went back down to my room, and strapped on my .45. I was in a daze. Then I headed on up to the after anti-aircraft director. . . .
</p><p>
When I got up to the after anti-aircraft director, I looked around and there was the <em>Arizona</em>, just a terrific column of black smoke. I could see the crackling flames. . . .
</p><p>
I saw a B-17 off on our starboard side that looked like it was trying to land at Hickam Field. I yelled up to Hanna that it looked like our starboard battery was shooting at this B-17. He yelled down to me, "Costy, go down there and tell them to shoot only at the planes with the red balls on the wings!" 
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Frank Costagliola Interview, Oral History Collection , 30 March 1990.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Oral History No. 120, p. 8-20. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0120">Display Collection Guide</a></td>
  </tr>
</table>