---
layout: ecu
title: "James H. Brown, Naval Academy Yearbook, 1941"
customdate: "3.14"
order: 14
---

{% include breadcrumbs.html %}

<h3>James H. Brown (<em>USS Shaw</em>) <em>Naval Academy Yearbook</em>, 1935</h3>

<div class="well">
  <label>Image from Yearbook</label><br/>

  <a href="../../img/OWNB/3OWNB001.jpg">
    <img src="../../img/OWNB/7OWNB001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>James H. Brown, <em>The Lucky Bag of the Class of 1935</em>. Raleigh: Edwards &amp; Broughton Company, 1935.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Special Ref V 415 J1 L9 1935 <a href="http://catalog.lib.ecu.edu/catalog/443750">View Catalog Record</a></td>
  </tr>
</table>