---
layout: ecu
title: "Leon Grabowsky, Naval Academy Yearbook, 1941"
customdate: "3.23"
order: 23
---

{% include breadcrumbs.html %}

<h3>Leon Grabowsky (<em>USS Arizona</em>) <em>Naval Academy Yearbook</em>, 1941</h3>

<div class="well">
  <label>Image from Yearbook</label><br/>

  <a href="../../img/RABO/3RABO001.jpg">
    <img src="../../img/RABO/7RABO001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Leon Grabowsky, <em>The Lucky Bag of the Class of 1941</em>. Raleigh: Edwards &amp; Broughton Company, 1941.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Special Ref V 415 J1 L9 1935 <a href="http://catalog.lib.ecu.edu/catalog/443750">View Catalog Record</a></td>
  </tr>
</table>