---
layout: ecu
title: "Sketches showing the path of Japanese attackers"
customdate: "3.06"
order: 6
---

{% include breadcrumbs.html %}

<h3>Sketches showing the path of Japanese attackers, 7 December 1941</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/SKET/3SKET001.jpg">
    <img src="../../img/SKET/7SKET001.jpg" />
  </a><br/><br/>

<a href="../../img/SKET/3SKET002.jpg">
    <img src="../../img/SKET/7SKET002.jpg" />
  </a><br/><br/>

<a href="../../img/SKET/3SKET003.jpg">
    <img src="../../img/SKET/7SKET003.jpg" />
  </a><br/><br/>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Sketches showing the path of Japanese attackers], December 7, 1941, Lloyd O. Johnson Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Lloyd O. Johnson Papers #677/21/1.1. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-021">Display Collection Guide</a></td>
  </tr>
</table>