---
layout: ecu
title: "Biographical Sketch of  Leon Grabowsky (USS Arizona)"
customdate: "3.24"
order: 24
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of  Leon Grabowsky (<em>USS Arizona</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Leon Grabowsky was born on September 18, 1917, in California. He received an appointment at-large to the Naval Academy. Grabowsky served aboard the <em>USS Arizona</em> during the attack on Pearl Harbor. He retired as U. S. Naval Captain on June 30, 1971, and has received the Navy Cross, the Bronze Star Medal, three Navy Commendation Medals, and the Meritorious Service Medal. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>

</table>

</div>
