---
layout: ecu
title: "Destroyer tender USS Whitney leaving port"
customdate: "3.04"
order: 4
---

{% include breadcrumbs.html %}

<h3>Destroyer tender <em>USS Whitney</em> leaving port (AD-4), no date</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/TEND/3TEND001.jpg">
    <img src="../../img/TEND/7TEND001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[View of destroyer tender USS Whitney ], n.d., Lloyd O. Johnson Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Lloyd O. Johnson Papers #677/21/1.6. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-021">Display Collection Guide</a></td>
  </tr>
</table>
