---
layout: ecu
title: "Historical Sketch of USS Whitney (AD-4)"
customdate: "3.03"
order: 3
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS Whitney</em> (AD-4)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Named for William Collins Whitney (1841- 1904), who served as secretary of the Navy during the Cleveland administration, 1885-89, where he did much to improve the navy. The <em>Whitney</em> (AD-4) was commissioned on 2 September 1924. Together with her sister ship Dobbin (AD-3), the destroyer tender was designed to provide service, supplies and repairs for three divisions of destroyers for a two-month period under wartime conditions. As such, her facilities included storage capacity for fuel and lubricating oil, fresh water, provisions, spare parts, and repair facilities such as optical and machine shops.
</p><p>
<em>Whitney</em> was engaged in routine actions on the weekend of 6 and 7 December 1941 as two carrier task forces were at sea. All the battleships, however, were in port as well as a number of other ships engaging in routine upkeep and repairs or rest and recreation. Among the ships in upkeep status were the destroyers <em>Conyngham</em> (DD-371), <em>Case</em> (DD 370), <em>Reid</em> (DD369), <em>Tucker</em> (DD-374), and <em>Selfridge</em> (DD-357) that were moored alongside <em>Whitney</em> at berths X-8 and X-OS. The destroyer tender was providing steam, electricity, as well as flushing and fresh water to the five destroyers alongside. Most of the tender's officers and some 90 percent of her enlisted men were on board when, shortly before 0800, the attack began.
</p><p>
<em>Whitney</em> sailors witnessed the attack's beginning; and, at 0800, the ship went to general quarters. A minute later, the first Japanese plane passed over the <em>Whitney</em> nest, strafing as it came. Within five minutes of the general alarm, <em>Whitney</em> had unlimbered her .50-caliber machine guns. At 0809, she began to make preparations to get underway, and began issuing supplies to the ships alongside: most in "cold iron" status with dead machinery plants due to their upkeep status. A minute later <em>Whitney's</em> heavier antiaircraft guns began firing, her 3-inch guns barking at passing Japanese aircraft, hurling out the first of the 88 rounds she would send up at the Japanese attackers.
</p><p>
<em>Whitney</em> began issuing ammunition and ordnance stores to the destroyers alongside at 0830, securing steam devices to those ships at about the same time. At 1000, shortly after the attack ended, <em>Reid</em> and <em>Selfridge</em> got underway, followed much later by <em>Case</em>, <em>Tucker</em>, and <em>Conyngham</em>. Although all Japanese planes had cleared the area shortly after 0945, jittery gunners (uncertain of the nationality of any planes appearing overhead) fired accidentally at American aircraft throughout the day, <em>Whitney</em> logging firings at 1105 and 2110.
</p><p>
After the Japanese had left, there was plenty to do in the wake of the devastating attack. At 1130, <em>Whitney</em> received orders to remain at anchor, which she did. At 1335, the tender sent over five lengths of hose and two submersible pumps to <em>Raleigh</em> (CL-7), then fighting for survival where she had been torpedoed alongside Ford Island early in the attack. With no wounded on board, <em>Whitney's</em> doctors assisted in handling casualties on board Solace (AH-5), moored nearby.
</p><p>
Comdr. N. M. Pigman, <em>Whitney's</em> commanding officer, subsequently wrote in his after action report that his men had been "calm and unexcited throughout" the attack, manning their battle stations efficiently and carrying out their orders "promptly and without confusion." He gave them the highest praise for their conduct during the engagement that had catapulted the United States into global war.
</p><p>
Over the next few months, <em>Whitney</em> performed her vital tender services at Pearl Harbor, before she took on a cargo of ammunition, torpedoes, fuel, and supplies and departed Hawaiian waters on the 18 April 1942 for Operation "Watchtower," the invasion of the Solomons. <em>Whitney</em> arrived in Noumea, New Caledonia, on the 20th. From late October 1943 through the end of the war, <em>Whitney</em> serviced many types of ships and craft in the Southwest Pacific and the Philippines where she remained until VJ Day.
</p><p>
After returning to San Diego, <em>Whitney</em> was decommissioned on 22 October 1946. She was sold for scrap on 18 March 1948. <em>Whitney</em> received one battle star for her World War II service. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>Dictionary of American Naval Fighting Ships , 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume VIII, pp. 283-285. </td></tr>
</table>

</div>
