---
layout: ecu
title: "Biographical Sketch of Alvin A. Fahrner (USS California)"
customdate: "2.28"
order: 28
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Alvin A. Fahrner (<em>USS California</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Alvin Arthur Fahrner was born in 1915, in Farmville, VA. He graduated from midshipman school and was posted to the battleship <em>USS California</em>, then based at Pearl Harbor. He witnessed the Japanese attack on 7 December 1941. After serving on convoy duty in the Atlantic (1942-43) Fahrner became an aide to the admiral commanding COMBATDIV 9 with the 3d and 5th fleets (1943-45) and saw action in most of the major Pacific naval engagements that occurred during that period. Fahrner retired from active service in 1947. From 1960 until his retirement in 1980, Fahrner was a professor of history at ECU where he became famous for his humorous lectures on his wartime experiences. He died on 20 October 1994. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr><td>Alvin Arthur Fahrner Papers #202, East Carolina Manuscript Collection, Manuscripts and Rare Books Department. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0202">View Collection Guide</a></td></tr>
</table>

</div>
