---
layout: ecu
title: "Biographical Sketch of William W. Jones (USS Helena)"
customdate: "2.09"
order: 9
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of William W. Jones (<em>USS Helena</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
William W. Jones was born in California on May 21, 1918. He received an appointment to the Naval Academy from the state of Texas. Jones served aboard the USS Helena during the attack on Pearl Harbor. He retired as Captain of the U.S. Navy on July 1, 1971, and has received the Distinguished Service Medal and the Naval Unit Commendation Medal. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr><td>William W. Jones Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 101. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0101">View Collection Guide</a></td></tr>

</table>

</div>
