---
layout: ecu
title: "John R. Beardall, Jr. Interview (USS Raleigh)"
customdate: "2.03"
order: 3
---

{% include breadcrumbs.html %}

<h3>John R. Beardall, Jr. Interview (<em>USS Raleigh</em>), 6 June 1991</h3>

<div class="well">
  <label>Text from Interview Excerpt</label><br/>

  <p>
I was on board the <em>Raleigh</em> on December 7, 1941, at the time of the attack. It was a Sunday morning. I was a senior member of the gunnery department aboard ship. We had to take over and man the anti-aircraft battery. Like anybody else, I had my initiation into the war. We were hit by a torpedo in the dead engineering spaces. To tell you the truth that woke me up. I was still in my bunk at the time. We hustled up topside and the first impression I got was seeing those airplanes coming in with that Japanese red meatball on their wings. It didn't take long to realize what was going on. We got the antiaircraft battery in action -- we had ammunition up at the guns. We claimed, like some other ships did I guess, that we knocked down five airplanes. I don't think that was ever proven. The Raleigh took another bomb hit. Because of some counter flooding made by the damage control parties, we ended up sitting on the bottom, right side up. We didn't capsize and we still had enough freeboard to be above water.
</p><p>
We stayed there until such time as they could pump the water out and get us into dry dock. We were packed up and sent back to Mare Island. Shortly after I arrived on Mare Island, I was attached to new construction on the East Coast. This was the <em>USS Cleveland</em> (CL-55), which was the first of its class. 
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>John R. Beardall, Jr. Interview, Oral History Collection, 6 June 1991.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Oral History No. 126, p. 1-3. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0126">Display Collection Guide</a></td>
  </tr>
</table>