---
layout: ecu
title: "Biographical Sketch of John R. Beardall, Jr. (USS Raleigh)"
customdate: "2.01"
order: 1
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of John R. Beardall, Jr. (<em>USS Raleigh</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
John Reginald Beardall, Jr. was born on 8 April 1919. He received an at-large appointment to the naval academy. During his naval career Beardall earned a surface warfare qualification. He attended the Armed Forces Staff College; the Naval War College, Naval Warfare, Senior Course; and the Massachusetts Institute of Technology, where he earned an MS in electrical engineering. At the time of Pearl Harbor, Beardall was serving on the cruiser <em>USS Raleigh</em> (CL 7). Beardall earned the Bronze Star, Navy Commendation, Naval Unit Commendation Ribbon, Joint Service Commendation, and the Meritorious Service medals. He retired on 1 January 1971 with the rank of Captain, U.S. Navy.
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr><td>Dictionary of American Naval Fighting Ships , 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume VIII, pp. 222-227. </td></tr>

</table>

</div>
