---
layout: ecu
title: "Alvin A. Fahrner"
customdate: "2.27"
order: 27
---

{% include breadcrumbs.html %}

<h3>Alvin A. Fahrner (<em>USS California</em>), no date</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/FAHR/3FAHR001.jpg">
    <img src="../../img/FAHR/7FAHR001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Alvin A. Fahrner, n.d., Alvin A. Fahrner Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Alvin A. Fahrner Papers #202. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0202">Display Collection Guide</a></td>
  </tr>
</table>