---
layout: ecu
title: "Historical Sketch of USS California (BB-44)"
customdate: "2.23"
order: 23
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS California</em> (BB-44)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Named for the Golden State, BB-44 was the fifth to bear the name "<em>California</em>" . Commissioned 10 August 1921 she was the flagship for the Pacific Fleet (later known as Battle Fleet [Battle Force], U. S. Fleet).
</p><p>
On 7 December <em>California</em> was moored at the southernmost berth of "Battleship Row" and was with other dreadnoughts of the Battle Force when the Japanese carrier planes struck. Since she was preparing to undergo a material inspection, <em>California's</em> watertight integrity was somewhat impaired and, when struck, she suffered great damage. At 0805 a bomb exploded below decks setting off an antiaircraft ammunition magazine and killing about 50 men. A second bomb ruptured her bow plates. Despite valiant efforts to keep the ship afloat, the leaks could not be plugged, and <em>California</em> settled into the mud. Only her superstructure remained above sea level. <em>California</em> suffered 159 casualties during the attack, including 98 fatalities.
</p><p>
Following repairs <em>California</em> returned to action. During her abbreviated wartime service <em>California</em> earned 7 battle stars. <em>California</em> was decommissioned 14 February 1947 and was sold 10 July 1959.

</p>
<p>Compiled from:</p>
<table class="table">
  <tr>

    <td>Dictionary of American Naval Fighting Ships , 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume I, pp.14-15.</td></tr>
</table>

</div>
