---
layout: ecu
title: "Biographical Sketch of Charles J. Merdinger (USS Nevada)"
customdate: "2.15"
order: 15
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Charles J. Merdinger (<em>USS Nevada</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Charles J. Merdinger was born in Nevada on April 20, 1918. He received an appointment to the Naval Academy from the state of Wisconsin. Merdinger served aboard the <em>USS Nevada</em> during the attack on Pearl Harbor. He retired as Captain of the U.S. Navy on July 31, 1970, and has received the Legion of Merit, Meritorious Service Medal, Combat Action Ribbon, and the Naval Unit Commendation Ribbon. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>

</table>

</div>
