---
layout: ecu
title: "William W. Jones Interview (USS Helena)"
customdate: "2.10"
order: 10
---

{% include breadcrumbs.html %}

<h3>William W. Jones Interview (<em>USS Helena</em>), 6 February 1988</h3>
<b>Notes</b>
<p>Gives an account of the attack on <em>USS Helena</em>. </p>
<div class="well">
  <label>Text from Interview Excerpt</label><br/>

  <p>
[Where was the <em>Helena</em> during Pearl Harbor?]
</p><p>
Right alongside 10-10 dock, just aft of the dry dock where the <em>Cassin</em> and <em>Downes</em> were bombed and the ship we were in got hit. . . . I was officer of the deck . . . that Sunday morning. There was a signalman named Flood who was an old China-hand. He had the duty up on the signal bridge. I was standing on the quarterdeck. . . . He called down and said that there were Japanese planes overhead. He could see the "meatball" and he recognized them because he had seen them bomb Shanghai. I watched and, as the first plane went into a dive, my first thought was that he was pulling a mock attack. Then I saw a bomb come off, going toward Ford Island.
</p><p>
. . . I ran in there and announced something to the effect that "Japanese planes are bombing Pearl Harbor! Man your battle stations!" I didn't say, "This is no drill." But I did say, "Break out service ammunition."
</p><p>
. . . Immediately after I made the announcement, a torpedo hit . . . in the forward engine room. . . . One thing I distinctly remember was seeing a torpedo plane go across our ship towards battleship row. The cockpit in the plane was open and the pilot was leaning out first one side and then the other, sighting-up. He couldn't have been over fifty feet in the air. My recollection is that I fired my forty-five automatic at him, but that might be colored by what I wished I had done.
</p><p>
By this time, there were a lot of burned people coming up on deck. ction on the East Coast. This was the <em>USS Cleveland</em> (CL-55), which was the first of its class. 
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>William W. Jones Interview, Oral History Collection , February 6, 1988.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Oral History No. 101, p. 6-10. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0101">Display Collection Guide</a></td>
  </tr>
</table>