---
layout: ecu
title: "John L. Landreth Interview (USS Nevada)"
customdate: "2.19"
order: 19
---

{% include breadcrumbs.html %}

<h3>John L. Landreth Interview (<em>USS Nevada</em>), 31 March 1990</h3>

<div class="well">
  <label>Text from Interview Excerpt</label><br/>

  <p>
There were [four] of us [from the Class of 1941] . . . aboard the <em>Nevada</em> . . . . There was no other class that had more then one person aboard. We were all aboard ship that morning. . . . Of all the officers aboard the <em>Nevada</em> in the anti-aircraft division, I was the only one that didn't go to the hospital.
</p><p>
[What were you doing that morning when the alarm went off?]
</p><p>
I was strolling leisurely into breakfast. So when the alarm went off, I began kind of cursing because it was Sunday morning, and they had been having these fire drills. I said, "You know, this is a low blow, having a fire drill Sunday morning." . . . I began halfheartedly loping, which is a good thing as it turned out. Joe [Taussig] was on the starboard anti-aircraft director and I was on the port one. We had the same jobs but different directors.
</p><p>
When I started coming out of the hatch to go up there, machine gun bullets were going right across it. If I had been two minutes earlier, I would have been machine-gunned. That's what happened to Joe. . . . Then somebody shouted, "It's the real thing! It's the real thing!" . . . A five-hundred-pound bomb missed me by eleven inches! But as Joe said, I had a very good view of the whole situation. They had just put in glass to replace the metal in the top so we could see. I hated that later on because I saw things I didn't want to see. . . . We were at the end of the line. I saw the <em>Oklahoma</em> turn over. I saw the <em>Arizona</em> blow up; she was right in front of us. Of course, I saw the torpedo planes come in.
</p><p>
The <em>Nevada</em> was in better shape than most of the ships because our gunnery officer was one of the toughest peacetime officers I have ever known. He was not too popular, but he was one of the best wartime commanders I have ever seen.
</p><p>
. . . . Commander Robertson had apparently thought about war and was thinking about war. . . . He had all of our ready boxes completely filled, with the firing locks already on the guns, so we started firing sooner than anybody else. As a matter of fact, the secondary battery, which was supposed to be used against surface vessels, shot a shell that landed in front of one torpedo plane, splashed water up on him, and he went down. The guy to the left of him saw what had happened so he turned off and delivered his torpedo to one of the other battleships. So we only got one torpedo. We were supposed to get three. We only got one. . . . .
</p><p>
It turned out that the Japanese dive bombers all had a primary target, but the secondary rule was, if anybody got underway, to divert the attack to the moving vessel. . . . Pretty soon, they let one go that was right on our fine of sight. . . . It came in and it had my name on it as far as I could tell. . . . It was a time-delay bomb, so it went down to the protective deck and went off. It didn't cause any damage, however, when I stepped out of the director, I almost stepped into the hole it had made.
</p><p>
From that time on from the . . . the ship never stopped rocking. The smoke would just begin to clear away and the ship would stop trembling a little bit, and they hit us again. Then it would start all over again.
</p><p>
[If you had stayed under the smoke of the <em>Arizona</em>, you probably would have taken very few hits, wouldn't you?]
</p><p>
Yes. We would have been in great shape if we had just stayed back there. But we didn't do it. We got underway. . . . I walked out the door and looked down on our gun deck and it was just completely covered with bodies. There wasn't anything but bodies down there.

</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>John L. Landreth Interview, Oral History Collection, 30 March 1990.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Oral History No. 119, p. 19-32. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0119">Display Collection Guide</a></td>
  </tr>
</table>