---
layout: ecu
title: "Earl A. Luehman Interview (USS Helena)"
customdate: "2.12"
order: 12
---

{% include breadcrumbs.html %}

<h3>Earl A. Luehman Interview (<em>USS Helena</em>), 6 June 1991</h3>

<div class="well">
  <label>Text from Interview Excerpt</label><br/>

  <p>
My first assignment was on a light cruiser, <em>Helena</em> CL-50, at Pearl Harbor. . . . We were at 10-10 dock, which was the berth of the flagship of the Pacific Fleet, the <em>USS Pennsylvania</em>. The <em>Pennsylvania</em> had . . . moved from our buoy position to her position, to fix an anchor engine. When the Japanese attacked the next morning, their maps showed the <em>Pennsylvania</em> in our position; consequently, we caught the first torpedo. Alongside of us was a wooden minesweeper, the <em>Oglala</em>. The torpedo went under the <em>Oglala</em>, blew a hole in our after engine room, killing about sixteen, and tore the bottom out of the <em>Oglala</em>. She had to be towed in back of us, where she rolled over and sank. That was the extent of our damage during the attack. 
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Earl A. Luehman Interview, Oral History Collection, 6 June 1991.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Oral History No. 129, p. 1-5. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0129">Display Collection Guide</a></td>
  </tr>
</table>