---
layout: ecu
title: "Charles J. Merdinger Interview (USS Nevada)"
customdate: "2.22"
order: 22
---

{% include breadcrumbs.html %}

<h3>Charles J. Merdinger Interview (<em>USS Nevada</em>), 31 March 1990</h3>

<div class="well">
  <label>Text from Interview Excerpt</label><br/>

  <p>
During an attack, one of the first things you do is go to general quarters: Everybody goes to a station. Then, after a period, they begin to close watertight doors. Well, during the attack, before the word had come through that all watertight doors were closed, I got the word, "Ensign Taussig has been hit." He was hit in the first few minutes. . .
</p><p>
. . . Charles "Pop" Jenkins (Charles), out of the Class of '39 . . . gave me a copy of [his report] and I don't know what the heck I did with it. His account went something like this: He was on deck. Joe Taussig came up at about a quarter of the hour, roughly. They discussed a few things and Taussig said, "I relieve you, sir." Jenkins was over writing in his log when the attack started about five 'til eight, roughly. So, immediately Taussig said something to Jenkins about, "I think I would be more useful up in my battle station." Jenkins waved his hand, "Go ahead, I relieve you." So Taussig was officer of the deck for ten minutes or something like that and then he went to his battle station. Jenkins was the guy on the site down there. You never hear of Jenkins because he never wrote anything about it, except for this thing I'm telling you now. If I can find it when I get back, I'd be delighted to send you a copy. . .
</p><p>
. . . About three o'clock, it became very clear that we'd had it down there. The plates above us were beginning to buckle and the water was dripping on our heads. We had long ago ceased to have any air. It was like some of these submarine pictures. Everybody has his shirt off and sweating. We said, "Everybody lie down and we'll use as little oxygen as we can so we can keep these phones running," because we were still performing an important function. Normally, our function was to shoot the big guns. Well, they weren't in action. Our function was simply to get word from one place to another. . . .
</p><p>
The door by which we had always entered, the gaskets began to give way and the water was now coming in. . . . We knew, of course, that we were in an air bubble. There wasn't much outside there except water. Now it's running in through the door. So, I called up to the executive officer and said, "Commander, we can hold it about five more minutes. I request permission to secure." He said, "All right. Permission granted." . . .
</p><p>
About half the men were left. They took off their phones, wrapped them up the proper way, (mind you, water is coming up to their ankles now, rushing in) and hung them on the bulkhead where they always hung . . . . We opened the door into the other place, which was full of smoke. . . . So we all went out and, of course, I would have liked to have led the charge out, but I had to hold the door until the last man was out. . . .
</p><p>
There was a ladder that went up all the way to the conning tower. I shouldn't say a ladder -- it was a tube -- a metal tube that went all the way up to the conning tower. It was full of wires, communication lines, but there was a ladder in there underneath all this stuff. You had to kind of push it aside. A fat man couldn't have gotten up that thing, but we were all thin that day. . . . I got about half way up the ladder and smelled fresh air for the first time. I thought it was the most wonderful air I had ever smelled in my life. I got out and looked around the harbor and the harbor was aflame. You know, all the oil. To this day, when I smell diesel oil, I think of Pearl Harbor. . . . The first thing that I saw was a lot of bodies lying around, all black, and we couldn't identify them. A lot of dead people. Of course, there were still fires on the ship. My first though was "Well, thank God, I'm alive." . . . 
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Charles J. Merdinger Interview, Oral History Collection, 31 March 1990.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Oral History No. 121, p. 46-55. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0121">Display Collection Guide</a></td>
  </tr>
</table>