---
layout: ecu
title: "USS California passing under the Golden Gate Bridge"
customdate: "2.26"
order: 26
---

{% include breadcrumbs.html %}

<h3><em>USS California</em> passing under the Golden Gate Bridge (BB-44), 11 October 1936</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPCA/3NPCA001.jpg">
    <img src="../../img/NPCA/7NPCA001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>NavSource Photo Archives. [ USS California passing under the Golden Gate Bridge], 24 September 2002. http://www.navsource.org/archives/01/014402.jpg (25 November 2002).</td>
  </tr>
</table>