---
layout: ecu
title: "USS California, port side view"
customdate: "2.29"
order: 29
---

{% include breadcrumbs.html %}

<h3><em>USS California</em>, port side view (BB-44), circa 1920</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPCL/3NPCL001.jpg">
    <img src="../../img/NPCL/7NPCL001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td> 	[ USS California , port side view], n.d., David L. Martineau Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, David L. Martineau Papers #677/46/541. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-046">Display Collection Guide</a></td>
  </tr>
</table>