---
layout: ecu
title: "USS Nevada beached at Pearl Harbor (BB-36)"
customdate: "2.20"
order: 20
---

{% include breadcrumbs.html %}

<h3>USS Nevada beached at Pearl Harbor (BB-36), 7 December 1941</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPNE/3NPNE001.jpg">
    <img src="../../img/NPNE/7NPNE001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. " USS Nevada beached at Pearl Harbor," 24 September 2002. http://www.history.navy.mil/photos/images/g10000/g19940.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>