---
layout: ecu
title: "USS Raleigh after she was torpedoed"
customdate: "2.04"
order: 4
---

{% include breadcrumbs.html %}

<h3>USS Raleigh after she was torpedoed (CL-7), 7 December 1941</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPRA/3NPRA001.jpg">
    <img src="../../img/NPRA/7NPRA001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. " <em>USS Raleigh</em> after she was torpedoed," 24 September 2002. http://www.history.navy.mil/photos/images/g10000/g19938.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>
