---
layout: ecu
title: "Biographical Sketch of John L. Landreth (USS Nevada)"
customdate: "2.14"
order: 14
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of John L. Landreth (<em>USS Nevada</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
John Lewis Landreth was born in Maryland on May 19, 1917. He received an appointment to the Naval Academy from the state of California. Landreth served aboard the <em>USS Nevada</em> during the attack on Pearl Harbor. He retired from the Navy on September 9, 1943, and has received the Navy Commendation Medal. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr><td>John L. Landreth Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 119. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0119">View Collection Guide</a></td></tr>

</table>

</div>
