---
layout: ecu
title: "Biographical Sketch of Joseph K. Taussig, Jr. (USS Nevada)"
customdate: "2.18"
order: 18
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Joseph K. Taussig, Jr. (<em>USS Nevada</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Joseph K. Taussig, Jr. was born on May 28, 1920, in Maryland. He received an appointment at Missouri to the Naval Academy. Taussig served aboard the <em>USS Nevada</em> during the attack on Pearl Harbor. He retired as U. S. Naval Captain on September 1, 1954, and has received the Navy Cross as well as the Purple Heart. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr><td>Joseph K. Taussig Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 091. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0091">View Collection Guide</a></td></tr>
</table>

</div>
