---
layout: ecu
title: "Joseph K. Taussig, Jr., Naval Academy Yearbook"
customdate: "2.17"
order: 17
---

{% include breadcrumbs.html %}

<h3>Joseph K. Taussig, Jr. (<em>USS Nevada</em>) Naval Academy Yearbook, 1941</h3>

<div class="well">
  <label>Image from Yearbook</label><br/>

  <a href="../../img/TAUS/3TAUS001.jpg">
    <img src="../../img/TAUS/7TAUS001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Joseph K. Taussig, Jr., <em>The Lucky Bag of the Class of 1941</em>. Raleigh: Edwards &amp; Broughton Company, 1941.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Special Ref V 415 J1 L9 1941. <a href="http://catalog.lib.ecu.edu/catalog/443750">Display Catalog Record</a></td>
  </tr>
</table>