---
layout: ecu
title: "Biographical Sketch of August W. Elliott, Jr.(USS Case)"
customdate: "5.24"
order: 26
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of August W. Elliott, Jr. (<em>USS Case</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
William Elliott, Jr. was born in Florida on February 3, 1918. He received an appointment at South Carolina to the Naval Academy. Elliott served aboard the <em>USS Case</em> during the attack on Pearl Harbor. He retired as U. S. Naval Captain on September 1, 1969, and has received the Legion of Merit. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
  <tr>
    <td>A. William Elliot, Jr. Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 168. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0168">Display Collection Guide</a></td>
  </tr>
</table>

</div>
