---
layout: ecu
title: "Biographical Sketch of Thomas C. Buell (USS Helm)"
customdate: "5.14"
order: 16
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Thomas C. Buell (<em>USS Helm</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Thomas Chapin Buell was born in Santiago, Chile, on 18 February 1919. He was appointed to the naval academy from Arizona and was a member of the Class of 1941. Buell earned qualification in Surface Warfare. He attended the Industrial College of the Armed Forces and George Washington University, where he earned an MS. At the time of Pearl Harbor Buell was serving on the destroyer <em>USS Helm</em> (DD 388). He retired from the Navy 1 April 1970. He died 22 April 1994. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>

</table>

</div>
