---
layout: ecu
title: "Biographical Sketch of Robert Hailey(USS Indianapolis)"
customdate: "5.29"
order: 31
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Robert Hailey (<em>USS Indianapolis</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Robert Hailey was born on November 10, 1917, in Virginia. He received an appointment at Texas to the Naval Academy. Hailey served aboard the <em>USS Indianapolis</em> during the attack on Pearl Harbor. He retired as U. S. Naval Captain on July 1, 1965, and has received the Navy and Marine Corps Medal. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr><td><em>Dictionary of American Naval Fighting Ships</em>, 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963).</td></tr>
  <tr>
    <td>Robert Hailey Papers #643, East Carolina Manuscript Collection, Manuscripts and Rare Books Department. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0643">Display Collection Guide</a></td>
  </tr>
</table>

</div>
