---
layout: ecu
title: "Biographical Sketch of Josiah B. Henneberger, Jr. (USS Louisville)"
customdate: "5.36"
order: 38
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Josiah B. Henneberger, Jr. (<em>USS Louisville</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Josiah B. Henneberger was born in Georgia on March 3, 1918. He received an at-large appointment to the Naval Academy. Henneberger served aboard the cruiser <em>USS Louisville</em> (CA 28) during the attack on Pearl Harbor. He retired from the Navy with the rank of Commander on 9 September 1963, and has received the Joint Service Commendation Medal as well as the Naval Unit Commendation Ribbon. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>

</table>

</div>
