---
layout: ecu
title: "Biographical Sketch of David L. Martineau (USS Phelps)"
customdate: "5.19"
order: 21
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of David L. Martineau (<em>USS Phelps</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
David Louis Martineau was born on 4 December 1910. He received an appointment to the naval academy from Illinois and graduated as a member of the Class of 1933. Martineau attended the National War College and was qualified in surface warfare. At the time of Pearl Harbor, Martineau was serving aboard the destroyer <em>USS Phelps</em> (DD 360). For his heroic actions, he earned the Silver Star, Bronze Star and Navy Commendation medals. He retired from the Navy on 1 November 1959 with the rank of Rear Admiral, U.S. Navy. He died on 1 November 1994. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>

</table>

</div>
