---
layout: ecu
title: "Biographical Sketch of Louis Poisson Davis, Jr. (USS Reid)"
customdate: "5.10"
order: 12
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Louis Poisson Davis, Jr. (<em>USS Reid</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Louis Poisson Davis, Jr., the son of a naval officer, was born on 17 July 1919 in Florida. He was appointed to the Naval Academy from the US Marine Corps. A member of the Class of 1941, he earned qualification in Submarine Warfare and earned the Navy and Marine Corps Medal for his service. At the time of Pearl Harbor he was serving on the destroyer <em>USS Reid</em> (DD 369). Davis retired from the service in 1946. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>

</table>

</div>
