---
layout: ecu
title: "Biographical Sketch of Richard L. Stewart (USS Downes)"
customdate: "5.01"
order: 1
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Richard L. Stewart (<em>USS Downes</em>)</h3>
<b>Notes</b>
<p><a href="../stin/">Read an excerpt</a> from the oral history with Richard L. Stewart of the destroyer USS Downes describing how his ship was attacked and exploded while in dry-dock.</p>
<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Richard Lewis Stewart was born 8 June 1919 in Mississippi. He was appointed to Annapolis from Tennessee and was a member of the Class of 1941. At the time of Pearl Harbor, Stewart was serving on the destroyer <em>USS Downes</em> (DD 375). Stewart retired from the Navy with the rank of Lt. Commander.
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>

    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr>
    <td> Richard L. Stewart Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 182. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0182">Display Collection Guide</a></td>
  </tr>
</table>

</div>
