---
layout: ecu
title: "Historical Sketch of USS Phelps (DD-360)"
customdate: "5.21"
order: 23
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS Phelps</em> (DD-360)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Named for Admiral Thomas Stowell Phelps (1822-1901) who commanded the Juniata during the capture of Fort Fisher (NC) in 1865. The <em>Phelps</em> (DD-360) was commissioned 26 February 1936. <em>Phelps</em> shot down one enemy plane at Pearl Harbor 7 December 1941.
</p><p>
<em>Phelps</em> participated in many of the battles of the Pacific War. She aided the carrier <em>Lexington</em> in air battles against the Japanese near Port Moresby, New Guinea, in February and March 1942. Suffering no casualties in the Battle of the Coral Sea 4 to 8 May, she helped to sink <em>Lexington</em> (CV-2) on 8 May to prevent enemy capture of that carrier. In June 1942 she protected the American carriers that dealt a heavy blow to the Japanese Navy in the Battle of Midway. In August 1942 she guarded forces invading Guadalcanal. After a visit to the west coast in October, she participated in landings upon Attu, Alaska, in May 1943. After bombarding Kiska, Alaska, she provided gunfire support for landings at Makin Atoll in November 1943. In the Marshall Islands campaign in February 1944, she bombarded Kwajalein and Eniwetok. In March she guarded tankers during a strike on the Palau Islands. In June she bombarded Saipan to protect American forces that had landed there on the 15th.
</p><p>
Following duty at Saipan, she steamed via the Panama Canal to Charleston, S.C., for armament alterations, arriving 2 August. Departing Norfolk Va., in November, she escorted a convoy to Mers-el-Kebir, Algeria. After three more convoy escort voyages to the Mediterranean in 1945, she arrived at New York 10 June.
</p><p>
Decommissioned 6 November 1945, she was struck from the Naval Vessel Register 28 January 1947, and scrapped by Northern Metals Co., Philadelphia, Pa. <em>Phelps</em> received twelve battle stars for World War II service. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    <td> The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni, 1997 Edition</em>. (Annapolis, 1997).</td>
  </tr>
</table>

</div>
