---
layout: ecu
title: "Robert Hailey, Diary"
customdate: "5.27"
order: 29
---

{% include breadcrumbs.html %}

<h3>Robert Hailey, Diary (<em>USS Indianapolis</em>), 7 December 1941</h3>

<div class="well">
  <label>Text and Images from Diary</label><br/>


  <a href="../../img/HAIL/3HAIL003.jpg">
    <img src="../../img/HAIL/7HAIL003.jpg" />
  </a><br/><br/>

<a href="../../img/HAIL/3HAIL004.jpg">
    <img src="../../img/HAIL/7HAIL004.jpg" />
  </a><br/><br/>

<p>
<b>Transcription for the images above:</b>
</p><p>
[Page 3]
</p><p>
sea - rough<br/>
Roll - max - 22 0
</p><p>
Sunday 7 Dec., 1941
</p><p>
417.5 mi
</p><p>
G.Q. [General Quarters] at 0538-routine drill! Shortly before 0800 no. 1 Higgins boat was placed over the side after we had anchored just off Johnson Is. Before other boats could be placed over the side or any trys made dispatches were received that P.H. [Pearl Harbor] Had been bombed by Japanese planes. All plans for landing on Johnson Is. were abandoned. Boats and planes hoisted aboard - no fuel to the 5 DMS with us - course set for interception of enemy forces south of Hawaii - these forces proceeding from the south, last reported near Palmyra - 8 large ships and one Jap sub sunk by planes off PH. - two carriers engaged just outside P.H. several miles - Hickam - Ford Island - residential Honolulu near the Pali bombed. - G.Q. about noon because of what appeared to be a sub - false alarm but not a drill. War has been declared - now there is to be much required from us all.
</p><p>
[Page 4]
</p><p>
Afternoon- dispatches, newscasts and "scuttlebutt dope" has kept the day a busy one . Division put on a full wartime basis- all excess gear stowed below. We have changed rendezvous several times -mostly in an effort to intercept the fleeing carriers. P.H. seems to have suffered severely, Hickam damaged badly-350 men killed in a bombed barracks, oil tanks at P.H. afire Oklahoma hit by bomb, is afire- no word on other damage-rumors Honolulu also damaged.
</p><p>
Manilla definately bombed -Wake & Guam uncertain . Condition II throughout day & tonight -Everyone excited but with only one thought -glad to get things underway and have uncertainty over. No one can understand how this attack was executed and the Japs gotten so close -why carriers not sunk is also not understandable.
</p><p>
Anticipate with what the chance that we may encounter then and get a whack at them- it would be an enjoyable sensation after today's activity.
</p>
  <a href="../../img/HAIL/3HAIL005.jpg">
    <img src="../../img/HAIL/7HAIL005.jpg" />
  </a><br/><br/>

<a href="../../img/HAIL/3HAIL006.jpg">
    <img src="../../img/HAIL/7HAIL006.jpg" />
  </a><br/><br/>

<p>
[Page 5]
</p><p>
sea rough<br/>
sky cloudy<br/>
-27 kts [knots]
</p><p>
Monday 8 Dec., 1941
</p><p>
417.5 mi
</p><p>
- A quiet night -G.Q. at 0515 - landed two planes- Apparently we contacted the enemy last night about 1:30 -at least three ships located by RDF [Radio Direction Finder]- We avoided action - are to meet COMAIRBAT [Commander Air Batallion] with the Lexiington , several cruisers & DD's near Johnson Is. @0900- Sea calmer than yesterday-no water over forecastle @ 27 knots -1100 [hours] Have joined with other forces, one carrier[aircraft carrier], 3 CA [armored crusiers], and about 6 DD's [destroyers] -anticipate action today. Reported that P.H. bombed again this A.M.
</p><p>
News commentators yesterday thought this just a "mad final plunge" much on the order of hari-kari. Wonder if they would say the same if only knew how nearly they seem to to be getting away with it -wow, and we all mad! Whitaker & I wonder if "hail" insurance is going to get us anything in case the car was hit.- All are concerned over friends, families, and relatives .- Wish I could assume mother that all is well and we missed the air raid.
</p><p>
[Page 6]
</p><p>
No action although Lexington's planes searched a very large area .We headed for P.H. until received a report that Johnson Island being shelled. Returned at high speed and found false alarm - our own radio silence sometimes makes it difficult to know what to do. At 2200 I was awakened to check on #2 unit evaporators which was salting up- pulled 2nd effect brine valve and cleaned - cracked 1st effect coils and cleaned sumps - got over 60 lbs salt out. To bed about 0100 after a talk with Mr Young & one of other civilians in wardroom. 
</p>

<a href="../../img/HAIL/3HAIL007.jpg">
    <img src="../../img/HAIL/7HAIL007.jpg" />
  </a><br/><br/>

<p>

[Page 7]
</p><p>
sea as before<br/>
clear sky<br/>
15-20 knots
</p><p>
Tuesday - 9 Dec. 1941
</p><p>
Headed for P.H. to fuel - no action -no enemy ships yesterday although heard of a reported mix -up between a PBY [Patrol Bomber Y-"Patrol Flying Boat"] , the Portland, and Lex's [Lexington] planes - fortunately no damage done, but the whole affair caused a G.Q. yesterday. @0515 this a.m regular dawn G.Q. did not launch planes - routine work.
</p><p>
Reports that Okla. [Oklahoma] lying on side in P.H. -West Virginia pinned to bollards by Oklahoma, a Jap sub in middle loch just off Ford Island. Manila bombed again - Guam continues to hold out -report that the Prince of Wales and Repulse sunk at Singapore.

</p>
<a href="../../img/HAIL/3HAIL008.jpg">
    <img src="../../img/HAIL/7HAIL008.jpg" />
  </a><br/><br/>

<p>
[Page 8]
</p><p>
cloudy<br/>
sea -calmer
</p><p>
Wednesday- 10 Dec
</p><p>
Had 0400-0800 watch. @ 0400 G.Q.- a light sighted astern not determined. @ 05:30 regular hour before sunrise G.Q. No planes landed since Lexington in area.
</p><p>
Yesterday she is reported to have lost another plane- lost over the side when it launched. British acknowledge loss of Prince of Wales and Repulse-2000 surviors.
</p><p>
Japanese report "suicide squardrons" [kamikaze] attacked P.H. Sunday -pilots dove planes at objectives.
</p><p>
Army bomber scored 3 direct hits on Jap BB [battleship] - left it in flames off the Philpines. Tokio [Tokyo] reported bombed - no confirmation. Heard radio Tokio[Tokyo] giving propaganda in English, Chinese, & Philipino today.
</p><p>
Censorship invoked -all officers busy with crew's mail or junior officers mail . Spirit of men high- suprising, too, how well they rise to the occassion . My Xmas cards not satisfactory as have pictures of Hawaii-. 
</p>
  <a href="../../img/HAIL/3HAIL009.jpg">
    <img src="../../img/HAIL/7HAIL009.jpg" />
  </a><br/><br/>

<a href="../../img/HAIL/3HAIL010.jpg">
    <img src="../../img/HAIL/7HAIL010.jpg" />
  </a><br/><br/>

<p>
[Page 9]
</p><p>
fair<br/>
quite rough
</p><p>
Thursday - 11 Dec
</p><p>
Regular G.Q.- supposed to take fuel, diesel oil, and gasoline today- but too rough for tanker - her decks awash. We are steaming at a steady 15 knots.
</p><p>
Receive frequent news reports from San Franscisco , Tokio [Tokyo], Los Angeles and other cities - radio room places them on our antenna circuit so that we get them. Much English propaganda from Tokio [Tokyo].
</p><p>
Reports from Midway- a Jap cruiser and destroyer sunk by aircraft stationed on island - Marine detachment still holding out. Attack on Luzon [in the Philipine Islands] being repulsed -also attack on Malayan peninsula. PBY [Patrol Bomber Y-"Patrol Flying Boat"] on patrol here has sunk a sub - definately and supposedly damaged two others seriously.
</p><p>
At 1800 just as we were seated at dinner a sudden increase in speed plus sharp maneuvering indicated some type of encounter- Found it was a submarine sighted off port bow- close aboard and apparently move ready to come up for the night than to attack. No torpedoes fired- two "cans" [destroyers] searched and
</p><p>
[Page 10]
</p><p>
dropped depth charges -reported a large oil slick (or so the bridge is supposed to have relayed down).
</p><p>
Also today another Jap BB [battleship] severely damaged off Phillipines by bombing. Secretary of Navy Knox arrived in Honololu today.
</p><p>
We transferred our passengers today - Mr. Young, a karmaiana Honolulu who has a big tug boat company, Colonel Pepper, USMC - formerly stationed on Midway, Major Homer USA, Ensign Morrow assigned to do special work on soundings underwater and two others whose names I can not recall. All censors busy getting mail ready to go with the DD [destroyer] taking these passengers in. 
</p>
<a href="../../img/HAIL/3HAIL011.jpg">
    <img src="../../img/HAIL/7HAIL011.jpg" />
  </a><br/><br/>

<p>
[Page 11]
</p><p>
Sunny<br/>
Moderate
</p><p>
Friday- 12 December
</p><p>
Horror of horrors -I slept through G.Q. this am awakening only for Flight Qtrs. 15 min. later the 2000-2400 watch. so still got lots of sleep , hope never happens again.
</p><p>
Routine work -prepared to fuel from Neosha about noon at 1130 a submarine sighted about 5000 yards off port beam, near Chicago who was then fueling and us. The Chicago & Neosha separated rapidly - using quick release couplings and each up to full speed rapidly. We started fast maneuvering and got up to 27 knots -saw a couple of torpedoes fired -one at us , one at Lexington - both missed. DD's [destroyers] attempted to get the sub - apparently no success. Did not fuel since Neosha lost most of gear- will not fuel tomorrow probably.
</p>

<a href="../../img/HAIL/3HAIL012.jpg">
    <img src="../../img/HAIL/7HAIL012.jpg" />
  </a><br/><br/>

<a href="../../img/HAIL/3HAIL013.jpg">
    <img src="../../img/HAIL/7HAIL013.jpg" />
  </a><br/><br/>

<a href="../../img/HAIL/3HAIL014.jpg">
    <img src="../../img/HAIL/7HAIL014.jpg" />
  </a><br/><br/>

<a href="../../img/HAIL/3HAIL015.jpg">
    <img src="../../img/HAIL/7HAIL015.jpg" />
  </a><br/><br/>

<a href="../../img/HAIL/3HAIL016.jpg">
    <img src="../../img/HAIL/7HAIL016.jpg" />
  </a><br/><br/>

<p>
[Page 12]
</p><p>
Saturday- 13 Dec.
</p><p>
Small sub captured in P.H. yesterday - or so we heard!! It seems these small 65 foot subs with a crew of 6 men follow the ships in and lie on the bottom. At least four subs have been sunk in P.H. , and, as the story goes , the first was a large one which entered flying the Ameican flag and with the name "Pompano" on her stern.
</p><p>
G.Q. on schedule this A.M. - a very beautiful morning with a truley lovely sunrise. Too much beauty to realize these are most dangerous waters in world. Sighted another [submarine] today off Oahu - started in the entrance at 1230, had to wait until after 1530.
</p><p>
As we went in over a dozen destroyers & many planes covered us. Four depth charges were released nearby and the sound made one young sailor remark that he thought it sounded like we had hit some rocks on one side.
</p><p>
[Page 13]
</p><p>
#1 MWB out of commission due to for (EM1C) [Engineman 1st Class] securing without my knowledge -so I got the riot act- but also got to stand on boat deck as we came in and see the damage to P.H.
</p><p>
A pursuit ship washed on beach our first sight of damage, then the burned hangers at Hickam and the barracks gutted by bombs and fire, then we entered the channel to find the Nevada on the bottom at the entrance to Middle Loch across from Ford Island- her deck almost awash, yet her guns manned and flag flying from exposed mast. The story of the Nevada is that she got underway in 13 minutes with several hits and a Chief Qtrmstr [Quartermaster] took her out alone with no other officer on the bridge. In the channel she was torpedoed again and so was directed to get clear of channel. Nose on mud- then tugs pused stern around until she rests as is now.
</p><p>
[Page 14]
</p><p>
Casulties -not exceedingly heavy, 4 officers -7 men.
</p><p>
One hanger on Ford Island burned , wreckage of PBY's [Patrol Bomber Y-"Patrol Flying Boat"] quite prominent, pursuits disabled seen to one side of field -many good PBY's still available.
</p><p>
To right Hosp [Hospital] O.K.- Floating Drydock badly damaged - the 373(Shaw - Walter Seedloch aboard) had a hit on bridge and all fwd part destroyed completely- one other vessel in dock and the dock itself sunk.
</p><p>
The Pennsyvania alongside 1010 dock- bow patched- had been hit only there- O.K. otherwise and with a strong anti-sub net around her.
</p><p>
Honolulu & Helena in drydock slight damage only-ready for action soon. Oglala on side at 1010-seems she has usual berth for Penn [Pennsylvania] and was sunk thereby. Navy Yard & shops in good shape-no hits.
</p><p>
[Page 15]
</p><p>
Now to our left lay the most sickening sight imaginable -namely the result of that dammable
attack made last Sunday. The California on the bottom, decks covered, foremast burned , turrets trained askew, and looking like an old tired water-logged hulk with with fairly good masts stuck
on her.
</p><p>
Thr Oklahoma lay on its side with one screw exposed-no holes seen in her side, but it must have been terrific, for she sank in 12 minutes. I was told that mem are still being removed from closed compartments - many of them alive. The West Virginia astern with the Tennessee inboard.
The West Va. was badly damaged -her decks only a foot or so above the water and her forecastle and bridge completely destroyed -a mass of wreckage - turrets visable, burned badly, boats shattered -aft there was little damage. The Tennessee was burned but not badly enough to delay her long-
</p><p>
[Page 16]
</p><p>
however she is unable to move due to position of WV [West Virginia] & Okla [Oklahoma] .
</p><p>
Astern of these lay the Arizona, or what is left of it. Forecastle under water and the foremast a twisted charred mass of metal-mainmast alone sticking out of water and recognizable. Looks far worse than the Baltimore.
</p><p>
Once in we went into dock at berth 17- anti-sub net astern. Immediately began fueling and provisioning ship. #2 mwb crushed by a barge- bow stove in -can be salvaged -I have duty section- port watch posted. @ 2130 took YO-43 alongside for gas & diesel oil. - Through by 0100-packed suitcase and so to bed.
</p><p>
Sub supposed to have followed us into harbor-(?) 
</p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Diary of Robert Hailey], 7 December 1941, Robert Hailey Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Robert Hailey Papers #643.2.c. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0643>Display Collection Guide</a></td>
  </tr>
</table>