---
layout: ecu
title: "Historical Sketch of USS Helm (DD-388)"
customdate: "5.17"
order: 19
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS Helm</em> (DD-388)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
DD-388 was named for James Meredith Helm (1855 -1927) who commanded gunboat <em>Hornet</em> during the Spanish American War. In the blockade of Cuba, he captured a Spanish steamer and three contraband schooners, and was advanced five numbers in grade for outstanding performance at the Battle of Manzanillo 30 June 1898. During World War I Rear Admiral Helm was Commandant of the 4th Naval District and received the Navy Cross for his achievements. A Gridley class destroyer, <em>Helm</em> was commissioned 16 October 1937.
</p><p>
On the morning of 7 December 1941, <em>Helm</em> was under way in West Loch Channel, Pearl Harbor when the Japanese planes struck. She immediately fought back and shot down at least one of the attackers. <em>Helm</em> was lightly damaged by two near miss bombs. After the attack <em>Helm</em> joined the task group assigned to the carrier <em>Saratoga</em>.
</p><p>
During World War II <em>Helm</em> earned 11 battle stars and was involved in many of the greatest engagements in the Pacific from Guadalcanal to Okinawa. <em>Helm</em> was decommissioned in June 1946 and later used as a target for atomic tests in the Pacific. She was sold for scrap in October 1947. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    <td><em>Dictionary of American Naval Fighting Ships</em>, 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume III, pp.292-294. </td>
  </tr>
</table>

</div>
