---
layout: ecu
title: "V. Dybdal, Helm's Jap at Pearl"
customdate: "5.15"
order: 17
---

{% include breadcrumbs.html %}

<h3>V. Dybdal, "Helm's Jap at Pearl", 7 December 1941</h3>
<b>Notes</b>
<p>Lt(jg) V.A. Dybdal served as the gunnery officer on the <em>USS Helm</em>.</p>
<div class="well">
  <label>Image from Typed Script</label><br/>

 <p>
HELM'S JAP AT PEARL
</p><p>
(7 December 1941)
</p><p>
The week before Pearl Harbor day, all the HELM's ammunition had been struck below, locked up in the magazines, and the keys hung in the Captain's cabin where they belonged. So trying to get ammunition to the guns shortly after 0800 on the 7th was a problem. Ens Pug Sutherland, in violation of the most sacred regulations, got a bull cutter and cut the locks off the magazines. In due time our guns were firing.
(I wonder if the Helm's magazines were EVER locked from that day until 1946?)
</p><p>
I had a very good friend, a Lt(jg)USNR, who was on watch in the harbor net station that morning. He swore that the Jap aircraft that the Helm shot down that morning was headed direct for the net station and for him. He claimed we saved his life.
</p><p>
It was the after 50 caliber that got that airplane. The name of the gunner has been on the tip of my tongue for 40 years, but I still can't remember it.
</p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Lt. V. A. Dybdal, "Helm's Jap at Pearl", 7 December 1941, Thomas C. Buell Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Thomas C. Buell Papers #538.1. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0538">Display Collection Guide</a></td>
  </tr>
</table>
