---
layout: ecu
title: "Josiah B. Henneberger, Diary"
customdate: "5.33"
order: 35
---

{% include breadcrumbs.html %}

<h3>Josiah B. Henneberger, Diary (<em>USS Louisville</em>), 7 December 1941</h3>

<div class="well">
  <label>Text and Images from Diary</label><br/>


  <a href="../../img/HENN/3HENN00F.jpg">
    <img src="../../img/HENN/7HENN00F.jpg" />
  </a><br/><br/>
<a href="../../img/HENN/3HENN358.jpg">
    <img src="../../img/HENN/7HENN358.jpg" />
  </a><br/><br/>
<a href="../../img/HENN/3HENN359.jpg">
    <img src="../../img/HENN/7HENN359.jpg" />
  </a><br/><br/>

<p>
<b>Transcription for the images above:</b>
</p><p>
[Page 358]
</p><p>
December 7
</p><p>
1941 Sun. got good sun bath this afternoon. Had mid & dog watch today. had watch by myself today again.
</p><p>
[Page 359]
</p><p>
December 8
</p><p>
1941 Mon. war plan put into effect against Japan & we are just South of the Japanese islands! Pearl Harbor was cought [caught] unready and bombed quite heavily. several ships supposedly sunk. Manilla & Singapore also bombed. Guam & Wake islands lost.
</p><p>
1942 Tues anniversary of war - & we are back in East Long. at least they aren't in West Long this year. 
</p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Diary of Josiah B. Henneberger], 7-8 December 1941, Josiah B. Hennebeger Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Josiah B. Hennebeger Papers #531.1.e. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0531>Display Collection Guide</a></td>
  </tr>
</table>