---
layout: ecu
title: "Wheeler Air Base during the attack"
customdate: "5.07"
order: 9
---

{% include breadcrumbs.html %}

<h3>Wheeler Air Base during the attack, 7 December 1941</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/HICK/3HICK001.jpg">
    <img src="../../img/HICK/7HICK001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Wheeler Air Base during the attack], 7 December 1941, Henry Champ Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Henry Champ Papers #677/45/28. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-045">Display Collection Guide</a></td>
  </tr>
</table>
