---
layout: ecu
title: "Historical Sketch of USS Indianapolis (CA-35)"
customdate: "5.31"
order: 33
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS Indianapolis</em> (CA-35)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Named for the largest city and capitol of Indiana, the cruiser <em>Indianapolis</em> (CA-35) was commissioned 15 November 1932. Beginning in 1933 she served as flagship of the Scouting Force and frequently bore President Roosevelt on his travels.
</p><p>
When the Japanese struck Pearl Harbor on 7 December 1941, <em>Indianapolis</em> was making a simulated bombardment of Johnston Island. She immediately joined Task Force 12 that was searching for the Japanese carriers that had launched the attack on 7 December. <em>Indianapolis</em> arrived in Pearl Harbor on 13 December and joined Task Force 11 for future operations against the enemy.
</p><p>
Between August 1942 and February 1943 she participated in the attacks on the Japanese positions in the Aleutian Islands leading to the capture of Attu and Kiska in May and August 1943. <em>Indianapolis</em> then became the flagship for Vice Admiral Raymond Spruance commanding the 5th Fleet. Her first action was the assault on the Gilbert Islands of Tarawa and Makin Islands leading to their capture in November 1943. In January - February 1944 she participated in the Marshall, Caroline, Palau, and Marianas Islands campaigns. She fought in the Battle of the Philippine Sea of 19 June 1944 known as the "Great Marianas Turkey Shoot." In February - March 1945 <em>Indianapolis</em> joined Admiral Marc A. Mitscher's fast carrier task force's attack on Tokyo that supported the American invasions of Iwo Jima and Okinawa where she succeeded in shooting down a number of kamikazes that threatened the invasion force. One kamikaze succeeded in causing severe damage requiring repairs in the United States.
</p><p>
In July 1945, after repairs in the United States, <em>Indianapolis</em> returned to action on a secret mission carrying parts and nuclear material for the atomic bombs to be used against Hiroshima and Nagasaki. After delivering her top secret cargo, <em>Indianapolis</em> sailed for Leyte intending to proceed to Okinawa. Early in the morning of 30 July, however, she was torpedoed by the Japanese submarine I-58. Two torpedoes struck the ship and she capsized and sank within 12 minutes.
</p><p>
Most of the crew survived the sinking but were left swimming due to a shortage of life rafts. Furthermore, through a tragic mix-up, <em>Indianapolis</em> was not reported missing immediately. It was not until four days later, on 2 August, that rescuers sighted the survivors on the few rafts that had been cut free before the ship went down. Many of those who had survived the initial sinking of the ship were killed by swarms of sharks that circled the survivors the whole time they were in the water. When the last survivors were picked up, on 8 August, only 316 of the 1,199 men in the crew were saved. Neither Captain Charles B. McVay, III, the commander of the <em>Indianapolis</em> nor any other personnel were found guilty of any blame for the failure to properly report the failure of the ship to arrive in Leyte on schedule. <em>Indianapolis</em> earned 10 battle stars for her actions in World War II which ended only two weeks after she sank.

</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    <td><em>Dictionary of American Naval Fighting Ships</em>, 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume III, pp.432-436.</td>
  </tr>
</table>

</div>
