---
layout: ecu
title: "Historical Sketch of USS Reid (DD-369)"
customdate: "5.11"
order: 13
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS Reid</em> (DD-369)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Named for Samuel Chester Reid, (1794 - 1861) who commanded the privateer General Armstrong and, in 1814, delayed a powerful British squadron long enough to allow General Jackson's successful defense of New Orleans, <em>Reid</em> was commissioned late in 1936.
</p><p>
During the Japanese attack on Pearl Harbor, on 7 December 1941, <em>Reid</em> fired at the Japanese planes and her group of destroyers shot down one of them.
</p><p>
On 11 December 1944, while escorting reinforcements headed for Ormoc Bay near Surigao Straits in the Philippines, she was attacked by kamikazes. Despite shooting down seven of the attacking planes, she was struck repeatedly and sank. Her 150 survivors were picked up other ships she had been convoying. During World War II, <em>Reid</em> served throughout the Pacific and earned 7 battle stars. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    <td><em>Dictionary of American Naval Fighting Ships</em>, 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume VI, pp.63-64. </td></tr>
<tr>
    <td>Louis P. Davis Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 252. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0252">Display Collection Guide</a></td>
  </tr>
</table>

</div>
