---
layout: ecu
title: "Righting USS Oklahoma, at Pearl Harbor"
customdate: "5.06"
order: 8
---

{% include breadcrumbs.html %}

<h3>Righting <em>USS Oklahoma</em>, at Pearl Harbor" (BB-37), 29 March 1943</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/LAHO/3LAHO001.jpg">
    <img src="../../img/LAHO/7LAHO001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. "Righting USS Oklahoma , at Pearl Harbor," 24 September 2002. http://www.history.navy.mil/photos/images/g410000/g410534.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>
