---
layout: ecu
title: "August W. Elliott, Jr. Interview (USS Case)"
customdate: "5.26"
order: 28
---

{% include breadcrumbs.html %}

<h3>Richard L. Stewart Interview (<em>USS Downes</em>), 24 January 1998</h3>

<div class="well">
  <label>Text from Interview Excerpt</label><br/>

  <p>
[So, your first assignment was to the <em>Case</em> at Pearl?]
</p><p>
We were there that morning when the war started, aboard ship. . . . We were nested. There were four ships nested alongside the <em>Whitney</em>, which was the mother ship. We had taken about five to eight days dismantling quite a bit of the machinery and the blowers. Work was being done on the electrical systems and we were getting all of our support from the Whitney that is electrical and water and all those. . . .
</p><p>
[During the attack] everybody went to do their job, and we have laughed about my first most heroic movement . . . down in the throttle room. The two chiefs were down below the grating, trying to put a feed pump together, which was absolutely essential to us getting together. They were soaked with perspiration, soaked but working diligently, and I'm standing over them. I said to the chief, "Chief Brode, what can I do to help you?" He said, "For God's sake Mr. Elliott, go get us some cigarettes." So, I went up through the watertight doors. The guns were firing; the .50-calibers were making a hell of a racket. We were firing five-inch and .50-calibers. That was my first heroic effort to get cigarettes for the chief who was putting the ship back together. . . .
</p><p>
I went to see Walter [Seedlock] in the hospital. He was in pretty good shape; he wasn't banged up. He had been immersed in the oil-covered water, because he and some of the other people were helping the sailors in the water get to the dock. He said to me, "Bill, I damned near drowned. I was the duty officer. I had a belt with a forty-five and seven-fifty binoculars on." (You signed up for all those things.) "I went over the side, I thought I was going to drown. Finally, I decided, well, I could get rid of these things." He was in the hospital bed and he said, "All I have left, no clothes or anything, is my class ring." He survived very well.
</p><p>
. . . We stayed inside Pearl, sort of as the anti-aircraft ship, all of the night of December the seventh, steaming slowly around Ford Island, with plenty of light. The ships were burning. There was a lot of light from Hickam Field, which was burning. I was on the watch, up on the gun Mark 37 director. We were up fairly near the net to exit.
</p><p>
We were looking to see if the submarines were there -- we had been told that there were two small subs in there -- when we saw a formation of airplanes with their navigational lights on. There were F4F's from the <em>Enterprise</em> flying in. The <em>Shaw's</em> guns were free, but the batteries opened up. Of the six airplanes, I think only one airplane made it down. That was Jim Daniels, whom I have known over the years; he is still alive in Hawaii. He managed to get in. The rest of them cut off their lights. Four of them were shot down as I recall. The fifth one was damaged but only two of the pilots survived. I am proud to say that I had our guns tight. I would not let out. It was obvious to me they were our planes, because about an hour before that we had helped a PBY [Patrol Bomber Y-"Patrol Flying Boat"] find his way and we lighted a path with our searchlight for him to get in. There were enemy airplanes, however, so whoever was on the beach, the other ships, were firing at them. Because we had been through both of the attacks, I guess, truly, we were a little trigger-happy. . . .
</p><p>
Incidentally, the <em>Shaw</em> had all of our pay records on it. We only had one paymaster in the Division and he was on the Shaw, so all of our pay records were destroyed. So, we didn't have any money. Of course we didn't make any liberties. When we went into Dutch Harbor, I think we used our small recreation fund and gave everybody something like three to four maybe five dollars. That's all we had; we didn't have any pay. 
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>August W. Elliott, Jr. Interview, Oral History Collection , 24 January 1998.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Oral History No. 168, p. 6-13. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0168">Display Collection Guide</a></td>
  </tr>
</table>