---
layout: ecu
title: "Historical Sketch of USS Louisville (CA-28)"
customdate: "5.34"
order: 36
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS Louisville</em> (CA-28)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Named for the largest city in Kentucky, the cruiser CA-28, was the third US naval vessel to bear the name <em>Louisville</em> was commissioned in January 1931.
</p><p>
On 7 December 1941, <em>Louisville</em> was far away from Pearl Harbor, escorting A. T. Scott and President Coolidge, en route from Tarakan, East Borneo, to Pearl Harbor. Despite the attack, the convoy continued on to Pearl Harbor, where she stopped briefly to survey the damage, and proceeded to California.
</p><p>
While en route to Lingayen Gulf on 5-6 January 1945, <em>Louisville</em> was struck by two kamikazes. Despite extensive damage she continued in service, shelling the beaches and shooting down several enemy planes before retiring for repairs. During the war <em>Louisville</em> earned 13 battle stars. Continuing in service after the war, she was finally struck from the Navy List in March 1959 and was sold shortly thereafter. 

</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    <td><em>Dictionary of American Naval Fighting Ships</em>, 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume IV, pp. 150-151. </td>
  </tr>
  <tr>
    <td>Joseph B. Henneberger Papers #452, East Carolina Manuscript Collection. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0452">Display Collection Guide</a></td>
  </tr>
</table>

</div>
