---
layout: ecu
title: "David L. Martineau (USS Phelps)"
customdate: "5.18"
order: 20
---

{% include breadcrumbs.html %}

<h3>David L. Martineau (<em>USS Phelps</em>) no date </h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NEAU/3NEAU001.jpg">
    <img src="../../img/NEAU/7NEAU001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>David L. Martineau, n.d., Henry Champ Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Henry Champ Papers #677/45/624. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-045">Display Collection Guide</a></td>
  </tr>
</table>
