---
layout: ecu
title: "View of USS Case (DD-370)"
customdate: "5.22"
order: 24
---

{% include breadcrumbs.html %}

<h3>View of <em>USS Case</em> (DD-370), no date</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPCS/3NPCS001.jpg">
    <img src="../../img/NPCS/7NPCS001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>NavSource Photo Archives. "View of USS Case ," 24 September 2002. http://www.navsource.org/archives/05/0537002.jpg (25 November 2002).</td>
  </tr>
</table>
