---
layout: ecu
title: "View of USS Helm (DD-388)"
customdate: "5.16"
order: 18
---

{% include breadcrumbs.html %}

<h3>View of <em>USS Helm</em> (DD-388), circa 1942</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPHM/3NPHM001.jpg">
    <img src="../../img/NPHM/7NPHM001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>NavSource Photo Archives. "View of USS Helm ," 24 September 2002. http://www.navsource.org/archives/05/0538803.jpg (25 November 2002).</td>
  </tr>
</table>
