---
layout: ecu
title: "USS Indianapolis, view forward (CA-35)"
customdate: "5.30"
order: 32
---

{% include breadcrumbs.html %}

<h3><em>USS Indianapolis</em>, view forward (CA-35), 19 April 1942</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPIN/3NPIN001.jpg">
    <img src="../../img/NPIN/7NPIN001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. " USS Indianapolis , view forward," 24 September 2002. http://www.history.navy.mil/photos/images/n20000/n29301.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Photograph from the Bureau of Ships Collection in the U.S. National Archives</td>
  </tr>
</table>
