---
layout: ecu
title: "View of USS Louisville (CA-28)"
customdate: "5.32"
order: 34
---

{% include breadcrumbs.html %}

<h3>View of <em>USS Louisville</em> (CA-28), no date</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPLO/3NPLO001.jpg">
    <img src="../../img/NPLO/7NPLO001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>NavSource Photo Archives. "View of USS Louisville ," 24 September 2002. http://www.navsource.org/archives/04/0402802.jpg (25 November 2002).</td>
  </tr>
</table>
