---
layout: ecu
title: "View of USS Reid (DD-369)"
customdate: "5.12"
order: 14
---

{% include breadcrumbs.html %}

<h3>View of <em>USS Reid</em> (DD-369), no date</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPRE/3NPRE001.jpg">
    <img src="../../img/NPRE/7NPRE001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>NavSource Photo Archives. "View of USS Reid ," 24 September 2002. http://www.navsource.org/archives/05/0536901.jpg (25 November 2002).</td>
  </tr>
</table>
