---
layout: ecu
title: "Wrecks of USS Downes and USS Cassin"
customdate: "5.03"
order: 4
---

{% include breadcrumbs.html %}

<h3>Wrecks of USS Downes &amp; USS Cassin, 7 December 1941</h3>
<b>Notes</b>
<p><em>USS Downes</em> is on the left and <em>USS Cassin</em> is on the right.</p>
<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPWR/3NPWR001.jpg">
    <img src="../../img/NPWR/7NPWR001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. "Wrecks of USS Downes & Cassin," 24 September 2002. http://www.history.navy.mil/photos/images/g10000/g19943.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>