---
layout: ecu
title: "Deployment of attacking Japanese aircraft"
customdate: "5.05"
order: 7
---

{% include breadcrumbs.html %}

<h3>Deployment of attacking Japanese aircraft, no date</h3>

<div class="well">
  <label>Image from Map</label><br/>

  <a href="../../img/OUTE/3OUTE001.jpg">
    <img src="../../img/OUTE/7OUTE001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Pearl Harbor Remembered. "Deployment of attacking Japanese aircraft" 7 July 2001. http://my.execpc.com/~dschaaf/routex.html (25 November 2002).</td>
  </tr>
</table>