---
layout: ecu
title: "View of USS Phelps (DD-360)"
customdate: "5.20"
order: 22
---

{% include breadcrumbs.html %}

<h3>View of <em>USS Phelps</em> (DD-360), no date</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/PHEL/3PHEL001.jpg">
    <img src="../../img/PHEL/7PHEL001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[View of USS Phelps ], n.d., David L. Martineau Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, David L. Martineau Papers #677/46/23. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-046">Display Collection Guide</a></td>
  </tr>
</table>
