---
layout: ecu
title: "Louis P. Davis, Jr., Diary"
customdate: "5.08"
order: 10
---

{% include breadcrumbs.html %}

<h3>Louis P. Davis, Jr., Diary (<em>USS Reid</em>), 7 December 1941</h3>
<b>Notes</b>
<p>The word "Director" in the text stands for the fire control center for the aiming of the 5" guns on board the vessels in question. Also, the mention of the "Wesley" not being able to supply enough for five vessels is in referrence to a power source that supplied power to the "Directors" as mentioned above.</p>

<div class="well">
  <label>Text and Images from Diary</label><br/>

  <a href="../../img/POIS/3POIS00F.jpg">
    <img src="../../img/POIS/7POIS00F.jpg" />
  </a><br/><br/>


  <a href="../../img/POIS/3POIS049.jpg">
    <img src="../../img/POIS/7POIS049.jpg" />
  </a><br/><br/>

<a href="../../img/POIS/3POIS050.jpg">
    <img src="../../img/POIS/7POIS050.jpg" />
  </a><br/><br/>

<p>
<b>Transcription for the images above:</b>
</p><p>
[Page 49]
</p><p>
Dec 7 1941<br/>
Pearl Harbor
</p><p>
Was peacefully reminicing in my bunk about last night. Had been to a party with the Wilhmots at the Hickam Field Officer's club. Several alarm sounded the clock said 0800 so I surmised that they must be testing it. Heard a yell from passageway "Mr Davis"we are being attackd" I jumped up ran
</p><p>
[Page 50]
</p><p>
to the door of the Wardroom. As I went up a Japanese plane bellied up over Ford Island clearly showing the rising sun on it's wings. Made the director in nothing flat to get battery firing. I am senior gunnery officer aboard and only one who knows how to work the director. I got the machine guns going about 0803. God damn locks on magazine. 
</p>
<a href="../../img/POIS/3POIS051.jpg">
    <img src="../../img/POIS/7POIS051.jpg" />
  </a><br/><br/>

<a href="../../img/POIS/3POIS052.jpg">
    <img src="../../img/POIS/7POIS052.jpg" />
  </a><br/><br/>

<p>
[Page 51]
</p><p>
Had a hell of a time getting 5" firing. About 0820 I got them ready with ammunition. During time I was getting ammunition for 5" battery I saw Utah capsize astern of us. We are second DD in Harbor to open upwith machine guns, first with 5" [gun] Arizona is burning fiercely. Her back is broken. Raleigh is torpedoed astern of us [q] Quickly gets bad list to port. All DDs are
</p><p>
[Page 52]
</p><p>
firing now. This is hottest part of harbor. Plane is attacking our west. "All guns fw'd train 45" [degrees] "Fire when hearing" Fw'd machine guns are firing steadily. Several Machine seen bullets ricochet off sides of director and mast. One 6" from my head a bunch about a foot away. Glad this is my lucky day.
</p><p>
Gun #2 is firing. Machines guns hit planes burst into 
</p>
<a href="../../img/POIS/3POIS053.jpg">
    <img src="../../img/POIS/7POIS053.jpg" />
  </a><br/><br/>

<a href="../../img/POIS/3POIS054.jpg">
    <img src="../../img/POIS/7POIS054.jpg" />
  </a><br/><br/>
<p>
[Page 53]
</p><p>
flame and crashes on hill dead ahead of ship. No one hurt yet. Port fw'd machine gun burning up "Fire until it blows up" Johny is getting ready to get underway. Plane just connected with 5" shell over Curtiss. Nothing left of him. 2nd attacks starting must be only about 0845. God it's cold only have on skinny troa [trousers] Plane coming over "Give
</p><p>
[Page 54]
</p><p>
to him All guns fw'd" Tally two for us today; hope he fries in hell Quickest hangover I ever got rid of in my life. Jesus we need water and everything is shut off. Comparitive lull now. About ten planes shot down during their last visit near the DDs. These ships can sure shoot.
</p><p>
High altitude bomber. No power for director! Engines have been secured Whitney 
</p>
<a href="../../img/POIS/3POIS055.jpg">
    <img src="../../img/POIS/7POIS055.jpg" />
  </a><br/><br/>

<a href="../../img/POIS/3POIS056.jpg">
    <img src="../../img/POIS/7POIS056.jpg" />
  </a><br/><br/>

<p>
[Page 55]
</p><p>
cannot supply enough for 5 ships. Cannot get near them with local control "Cease firing" Wonder whats happening over on battleship row? All DDs out here are safer. Cassen and Downes, other half of [our] hour division burning furiously. Monaghan just sunk sub in harbor. My clothes got here. Must be 0945 California and West Virginia are sinking. Sub just torpedoed
</p><p>
[Page 56]
</p><p>
Nevada. She is burning fw'd. Wonder how Joe Taussig is? Am so mad am crying. First time in years. Damn dumb admirals and generals. Locking up all the ammunition Good thing we belted machine guns ammo yesterday 200 rds [rounds] 5" expended no casualties 10,000 rds [rounds] 50 Cal. expended one gun burned up. "Cut off all magazine locks." God damn good thing no carriers and crusiers are in. 
</p>
<a href="../../img/POIS/3POIS057.jpg">
    <img src="../../img/POIS/7POIS057.jpg" />
  </a><br/><br/>

<a href="../../img/POIS/3POIS058.jpg">
    <img src="../../img/POIS/7POIS058.jpg" />
  </a><br/><br/>
<p>
[Page 57]
</p><p>
Only Helena is slighlty damaged and Raleigh Curtiss hit by bomb aft. Oklahoma just capsized. Poor S.O.B.'s
</p><p>
Captain and rest of officers returned.
</p><p>
"Mr. Davis single up." 1005 under way "Mr Davis report to executive officer" Exec bawled me out for cutting locks off magazines. Says I act too quickly should wait and reflect first Goddamn fool sits home on his fat ass
</p><p>
[Page 58]
</p><p>
then comes out and tells we are all wet and gives us hell for the way we fought the battle. Ted says he was too scared move coming out. Hope he gets one in the gut So the big thing will spill all over the deck.
</p><p>
"Mr. Davis Captain says clear ship for action" Am hungry as hell. No breakfast. Thrown over all wood and canvas, all excess gear topside
</p>
<a href="../../img/POIS/3POIS059.jpg">
    <img src="../../img/POIS/7POIS059.jpg" />
  </a><br/><br/>

<a href="../../img/POIS/3POIS060.jpg">
    <img src="../../img/POIS/7POIS060.jpg" />
  </a><br/><br/>
<p>

[Page 59]
</p><p>
and below. "Mr Davis report to Executive officer" "What the hell are you doin you fool"
</p><p>
"Captain's orders clear ship for action sir."
</p><p>
Hope he fries in hell. They are bombing Honolulu. Can see them from ship. We are forming up to attack 77 destroyers and Detroit all that's left of battle force. Passed Nevada in channel burning furiously
</p><p>
"secure from GQ set
</p><p>
[Page 60]
</p><p>
condition three watch one" Rest at last its 1500. Of all the stupid cowards are exec is the worst. Ford at last. Have mid better get some sleep. What a day 5 battleships sunk 2 cruisers hit Agala sunk Half of our division sunk. All because people try to kid themselves. 
</p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Diary of Louis P. Davis, Jr.], 7 December 1941, Louis Poisson Davis Jr. Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Louis Poisson Davis Jr. Papers #452.1.d. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0452">Display Collection Guide</a></td>
  </tr>
</table>