---
layout: ecu
title: "Richard L. Stewart, Naval Academy Yearbook, 1941"
customdate: "5.02"
order: 2
---

{% include breadcrumbs.html %}

<h3>Richard L. Stewart (<em>USS Downes</em>) <em>Naval Academy Yearbook</em>, 1941</h3>
<b>Notes</b>
<p><a href="../stin/">Read an excerpt</a> from the oral history with Richard L. Stewart of the destroyer USS Downes describing how his ship was attacked and exploded while in dry-dock.</p>
<div class="well">
  <label>Image from Yearbook</label><br/>

  <a href="../../img/STEW/3STEW001.jpg">
    <img src="../../img/STEW/7STEW001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Richard L. Stewart, <em>The Lucky Bag of the Class of 1941</em>. Raleigh: Edwards &amp; Broughton Company, 1941.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Special Ref V 415 J1 L9 1935 <a href="http://catalog.lib.ecu.edu/catalog/443750">View Catalog Record</a></td>
  </tr>
</table>
