---
layout: ecu
title: "Biographical Sketch of Henry Champ (USS Medusa)"
customdate: "4.04"
order: 4
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Henry Champ (<em>USS Medusa</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Henry Champ was born on 26 April 1918 and received his naval training at Great Lakes Naval Training Center. Upon his graduation in 1939 he was assigned to the repair ship <em>USS Medusa</em>, at Pearl Harbor, and was a witness to the Japanese attack on 7 December 1941. He served aboard the <em>Medusa</em> until 1944, first, as an apprentice seaman and later as a fireman, storekeeper, and chief storekeeper. He later served aboard the heavy cruiser <em>USS Columbus</em> (1944-45). Champ retired from the Navy in 1959. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr>
    <td> Henry Champ Papers #677/45, East Carolina Manuscript Collection, Manuscripts and Rare Books Department. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-045">Display Collection Guide</a></td>
  </tr>
</table>

</div>
