---
layout: ecu
title: "Henry Champ on the USS Medusa"
customdate: "4.04a"
order: 5
---

{% include breadcrumbs.html %}

<h3>Henry Champ on the <em>USS Medusa</em>, no date </h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/CHAM/3CHAM001.jpg">
    <img src="../../img/CHAM/7CHAM001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Henry Champ on the USS Medusa ], n.d., Henry Champ Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Henry Champ Papers #677/45/97. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-045">Display Collection Guide</a></td>
  </tr>
</table>