---
layout: ecu
title: "Reproduction of 2nd Extra Edition, Honolulu Star-Bulletin"
customdate: "4.13"
order: 14
---

{% include breadcrumbs.html %}

<h3>Reproduction of 2nd Extra Edition, <em>Honolulu Star-Bulletin</em>, 7 December 1941</h3>

<div class="well">
  <label>Text and Images from News-Articles</label><br/>
<p>[Page 1]</p>
  <a href="../../img/EXTR/3EXTR001a.jpg">
    <img src="../../img/EXTR/7EXTR001a.jpg" />
  </a><br/><br/>
<p>
Four Waves, Start At 7:55, Oahu Hit In Many Places
</p><p>
BULLETIN
</p><p>
By The Associated Press
</p><p>
TOKYO, Dec. 7- Imperial headquarters announced at 6 o'clock tonight that Japan had entered a state of war with the United States and Great Britain in the western Pacific from dawn today.
</p><p>
Honolulu and Oahu came through a baptism of fire today with calm and determination as wave after wave of Japanese bombers rained missles all over the island.
</p><p>
At 3 this afternoon army, navy, the police and various civilian agencies were on a war footing, and faced possible further attacks with undaunted vigor and courage.
</p><p>
At 3 p. m. the police reported that, based on information from the city emergency hospital and the morgue there are 25 known dead and 56 known injured in the bombing raids.
</p><p>
In Washington President Roosevelt announced that the raids were by Japanese bombers.
</p><p>
A United Press dispatch at 3 this afternoon said that estimates given out at Washington are that 400 are dead and 300 injured, of the army forces on Oahu alone.
</p><p>
Japanese raiding planes struck hardest at the army and navy bases, but the city of Honolulu itself suffered severe damage.
</p><p>
Deaths on Oahu are reported at more than 400, counting army and civilian fatalities. Navy casualties have not been announced.
</p><p>
Estimate of the army deaths was given out in a White House statement at Washington tonight.
</p><p>
REPORTS GUAM, PANAMA ATTACKED
</p><p>
Unconfirmed reports this afternoon based oh fragmentary broadcast reports heard on mainland stations, were that both Guam and Panama had been attacked by the Japanese.
</p><p>
Press association dispatches mentioned possible attacks on Manila but there was no confirmation of this.
</p><p>
WASHINGTON, Dec. 7. (U.P.)-The White House tonight issued a preliminary estimate that 400 were dead and more than 300 wounded in the army forces alone on Oahu. Civilian casualties were not mentioned.
</p><p>
NEW YORK, Dec. 7. (U.P.)-NBC tonight heard the Panama radio broadcast that a Japanese aircraft carrier was sunk off Honolulu.
</p><p>
SHANGHAI, Monday, Dec. 8. (U.P.)-The Osaka Mainichi reported from Tokyo today that Japanese imperial headquarters announced a naval battle between the Japanese and the British and American fleets is going on "in the western Pacific." 
</p>

<p>
Governor Proclaims National Emergency
</p><p>
Governor Poindexter said he would make a full report to President Roosevelt of the bombing attacks on Honolulu by radiophone immediately after his radio message to the people of Honolulu.
</p><p>
The governor said at 11:30 that there had been no evidence of sabotage by local Japanese residents.
</p><p>
Governor Poindexter this morning issued the following proclamation declaring a defense period to exist throughout the territory: thereby putting into effect the provisions of the M-Day act of the special session of the legislature:
</p><p>
"Under and by virtue of the powers vested in me by Act 24 of the special session laws of Hawaii, 1941, and particularly Section 5 thereof, and under by virtue of all powers in me vested by law, I, J. B. Poindexter, governor of the territory of Hawaii, do hereby find that a state of affairs exist arising out of an attack upon the territory of Hawaii and that all of the cricumstances [circumstances] make it advisable to protect the territory and its inhabitants as provided in and by said Act 24 of the special session laws of Hawaii, 1941, and all other laws relating thereto; and by reason of the foregoing.
</p><p>
"I do declare and proclaim a defense period to exist throughout the territory of Hawaii.
</p><p>
"This proclamation shall take effect upon promulgation thereof by official announceemnt [announcement] by me by means of radio broadcast which I do further declare to have taken place at 10 o'lcock [o'clock] a.m. on the date hereof, done at Honolulu, territory of Hawaii this 7th day of December 1941.
</p><p>
"Governor of the territory of Hawaii, Joseph B. Poindexter."
</p><p>
This hereby puts the M-Day bill into full effect.
</p><p>
-- 
</p><p>
Known Oahu Casualties
</p><p>
With eight persona dead upon arrival at the emergency hospital and at least 20 reported dead at Hickam field the death toll from air attacks on Oahu this morning continued to mount after noon.
</p><p>
Two identified bodies, mangled by shrapnel, taken to the emergency hospital about 11 a. m. brought the total number dead there to eight.
</p><p>
Dead at the emergency hospital included:
</p><p>
DEAD
</p><p>
Portuguese girl, 10 years old, unidentified, puncture wound left temple.
</p><p>
Caucasian male, 35, unidentified, HAD initials on shirt.
</p><p>
Frank Ohashi, 29, puncture wound in cheat, 2705 Kamanaiki St.
</p><p>
Migita Taro, 26, Schofield.
</p><p>
Japanese girl, unidentified, age about 9, fur collar on coat only identification.
</p><p>
Mrs. White, 44 Dowsett Tract, puncture wound in chest.
</p><p>
Toshio Tokusaki, 5, Peleula lane.
</p><p>
Unidentified, 30 to 40.
</p><p>
Patrick J. Chong, 30, 1457 Fort St.
</p><p>
A report to the police early this afternoon was that two members of the provisional police were shot and killed by machine gun fire from low flying planes at Wailupe this morning.
</p><p>
INJURED
</p><p>
Joseph Akana, Chinese-Hawaiian, 27, Papakolea.
</p><p>
George Stanley, 4, 1920 Colburn St.
</p><p>
Mrs. Ida Gouveia, 41, 2708 Kalihiuka.
</p><p>
Kaneshiro Uto, 145-A Fort St.
</p><p>
Thomas Fujimuro, 13, 610 I Rd., Damon tract.
</p><p>
Elton Capps, 19, signal service corps, Ft. Shafter.
</p><p>
Ruth Sakamoto, 37, 44-C N. School St.
</p><p>
Alfred Moniz, 20, 298th infantry, company D.
</p><p>
Irene Bradley, 15, Moanalua gardens.
</p><p>
Cecelia Bradley, 38, Moanalua gardens.
</p><p>
Harriet Ida, 20, 1332 Nuuanu Ave.
</p><p>
Rudolph Bartels, U. S. district engineer.
</p><p>
H. Dallas, 18, headquarters 18th wing, Wheeler field.
</p><p>
Eunice Wilson, 22, 1457 Fort St.
</p><p>
George Correa, company No. 1, fire department, was brought in injured from Hickam field and rushed to emergency hospital.
</p><p>
Albert Fong, 45, 627-E Waipa lane.
</p><p>
Yoshio Ogura, 23, 1453 Fort St.
</p><p>
Sidney Carlson, 37, 2210 Kuhio Ave.
</p><p>
Glen Hinkle, 21, Ft. Shafter.
</p><p>
Hurt in Second Raid
</p><p>
Persons injured in the second raid, taken to the emergency hospital, were:
</p><p>
Uso Konda, 50, 1630 Leilehua lane.
</p><p>
Mildred Irvine, 1113 Duval St.
</p><p>
Charles Harking, no address.
</p><p>
John Rim, 989 Akepo lane.
</p><p>
Edward Lilikoa, 1282 Ala Moans.
</p><p>
Caesar Costs, 35, 1821 Colburn St.
</p><p>
Tony Oshiro, 20, 944 McCully St.
</p><p>
Alfred La Forge, 38, 607 Mokauea St.
</p><p>
Unidentified female, no age, no address, both legs amputated.
</p><p>
Yoshiko Konda, no age, no address given.
</p><p>
R. Izumi, 19 Pelehula lane.
</p><p>
Abel Gleason, 32 Leilehua lane.
</p><p>
Toshio Tokusato, Pelehula lane.
</p><p>
H. Yoshiki, no address.
</p><p>
James Konda, Kukui St.
</p><p>
Matthews Kitchen, 38, 2813 Kamiki St., discharged.
</p><p>
Eishien Tamanaha, 24, 50 Peleula lane.
</p><p>
Janice Koga, 20, Kukui St.
</p><p>
Teruya Kenichi, 18, 19 Peleula lane.
</p><p>
Eddie Sakar, 38, 149 N. Vineyard St.
</p><p>
Warren Tong, 18, 911-B, Luka St.
</p><p>
Hisao Uyene, 20, 15 Palua St.
</p><p>
Yoshiro Toshisaka, no age, 10 Peleula lane.
</p><p>
Mida Escoller, 42, 970 Kawaiahao St.
</p><p>
Unidentified, 25, no address, female.
</p><p>
Abraham Kaulia, 5, 1920 Colburn St.
</p><p>
Ellen Kondo, 11, 1830 Leilehua.
</p><p>
An unidentified 10 year old Japa
</p><p>
nese girl with a mangled left leg and shock, in critical condition, was taken to the Children's hospital.
</p><p>
Yoichi Tomisaka, 8, was taken from 1497 River St. to the Japanese hospital.
</p><p>
Fire Chief William Benedict has been injured by shrapnel in his head and legs at Hickam field.
</p><p>
Frederick Malarsie, Hickam fireman, injured by shrapnel in the legs and stomach, was taken to Tripler hospital.
</p><p>
Bernice Gouvela, 12, 2708 Kalihi St.
</p><p>
Peter Lopes, 34, 2641 Kamanaiki St.
</p><p>
Mildred Gouveia, 3, 2708 Kamanaiki St.
</p><p>
Unidentified woman, address unknown.
</p><p>
Unidentlifed Japanese man, 28 years old.
</p><p>
Malani Chun, 21. 2112 Coyne St.
</p><p>
Mildred Irvine, 8, Ft. Ruger.
</p><p>
Olive Ishiro, 4, 22 Peleula lane.
</p><p>
Solomon Napailoea, 4, 1260 Kamanuwai lane.
</p><p>
Laura Carlton, 4, 714 15th St., navy housing.
</p><p>
Usa Kondo, 50, 1630 Peleula lane.
</p><p>
Unidentified Japanese boy, 6 address unknown.
</p><p>
Unidentified Japanese girl, 3, address unknown.
</p><p>
John Hopeau, 23, 2012 Democrat St.
</p><p>
Matilda Faufata, 12, 2009 Oholena Bt.
</p><p>
K. Horinouchi, 54, 952 Robello lane, Laceration of the head.
</p><p>
Mrs. K. Horiuchi, 39, 952 Robello lane. Lacerated wound on cheek.
</p><p>
Yoshiko Harauchi, 28, 952 Robello lane. Laceration of arm.
</p><p>
Toshimi Harauchi, 952 Robello lane. Injury of ear.
</p><p>
Ichiko Hiroki, 36, 987 Robello lane. Laceration, right shoulder.
</p><p>
Yoshiko Matsumoto, 20, 952 Robello lane. Ear injury.
</p><p>
Ventura Mathias, 31, 101 N. School St. Contusion, right arm.
</p><p>
Akio Harauchi, 21, 952 Robello lane. Laceration on right shoulder.
</p><p>
-- 
</p><p>
Inter-Island Ships, Planes Are Held Up
</p><p>
All Inter-Island sailings to and from Honolulu were ordered cancelled by President Stanley C. Kennedy.
</p><p>
Hawaiian Airlines planes remain grounded until further notice, following the straffing of John Rodgers airport.
</p><p>
-- 
</p><p>
Two Japanese Fliers Captured
</p><p>
United States army intelligence officers said this afternoon that two Japanese aviators were captured and were awaiting questioning by army officials.
</p><p>
One of the fliers was reportedly captured in the vicinity of Ft. Kamehameha and the other at Kahuku. 
</p>

<a href="../../img/EXTR/3EXTR001b.jpg">
    <img src="../../img/EXTR/7EXTR001b.jpg" />
  </a><br/><br/>
<p>
BULLETINS
</p><p>
By THE UNITED PRESS
</p><p>
WASHINGTON, Dec. 7.-The White House announced tonight it feared there was heavy loss of life in Hawaii.
</p><p>
NEW YORK, Dec. 7.-The National Broadcasting Co. tonight reported 350 men killed in a direct hit on Hickam field, the army's giant air field on Oahu.
</p><p>
NEW YORK, Dec. 7.-NBC reported from Honolulu tonight that the battleship Oklahoma was set afire during the Pearl Harbor attack.
</p><p>
-- 
</p><p>
Military Censorship On All Messages
</p><p>
Hawaii was under strict emergency rule this afternoon, with close military censorship applied to all outgoing messages.
</p><p>
Governor Poindexter had talked,with President Roosevelt by radio telephone and had acquainted him with all details of the attack on Oahu by waves of Japanese planes.
</p><p>
At least four attacks were made on Oahu.
</p><p>
The first was at 7:55 a.m.; the second at 11:29; the third at 11:59 and the fourth at 12:41.
</p><p>
The governor received instructions from the president but declined to reveal what they were.
</p><p>
Meanwhile the death and injury toll increased with incidents being reported from widely scattered areas of the city.
</p><p>
While no information was forthcoming from army or navy sources it is known that many service men were killed during the attack on Pearl Harbor early this morning.
</p><p>
An entire family of eight or nine persons was reported killed by a bomb at Nuuanu and Kuakini Sts. 
</p>
<a href="../../img/EXTR/3EXTR001c.jpg">
    <img src="../../img/EXTR/7EXTR001c.jpg" />
  </a><br/><br/>
<p>
Blackout For Oahu Ordered
</p><p>
A complete blackout on Oahu has been ordered for tonight, T.G.S. Walker, coordinator of the mayor's disaster committee, announced at 12:30 this afternoon.
</p><p>
The order was requested by the army, he said.
</p><p>
He added that all civilians, except those with special permit cards, must stay off the streets at all times.
</p><p>
At 1:50 p. m., Edouard R. L. Doty, territorial director of civilian defense, ordered a complete blackout every night until further notice.
</p><p>
The captain of the port announced that all aids to navigation, such as lights, buoys, lighthouses, have been extinguished.
</p><p>
It also was announced that no vessel will be permitted to move in the harbor or leave the harbor without special permission from the captain of the port.
</p><p>
Another order said that all licenses of alien owned small crafts have been revoked. This means that all alien owned small craft are subject to seizure. E. L. Doty, civilian defense director, said the civilian population is advised to keep radios on 24 hours a day and all orders would be read over the radio.
</p><p>
He also announced that all moving picture theaters have been ordered closed until further notice.
</p><p>
All householders are instructed to fill bath tubs and other receptacles with water in the event that the water works are damaged and unable to function.
</p><p>
-- 
</p><p>
Editorial
</p><p>
HAWAII MEETS THE CRISIS
</p><p>
Honolulu and Hawaii will meet the emergency of war today as Honolulu and Hawaii have met emergencies in the past-coolly, calmly and with immediate and complete support of the officials, officers and troops who are in charge.
</p><p>
Governor Poindexter and the army and navy leaders have called upon the public to remain calm; for civilians who have no essential business on the streets to stay off; and for every man and woman to do his duty.
</p><p>
That request, coupled with the measures promptly taken to meet the situation that has suddenly and terribly developed, will be needed.
</p><p>
Hawaii will do its part-as a loyal American territory.
</p><p>
In this crisis, every difference of race, creed and color will be submerged in the one desire and determination to play the part that Americans always play in crisis.
</p>
<p>
City Rocks To Blasts As Japanese Drop Bombs
</p><p>
(Associated Press by Transpacific Telephone)
</p><p>
SAN FRANCISCO, Dec. 7. - President Roosevelt announced this morning that Japanese planes had attacked Manila and Pearl Harbor.
</p><p>
Attack Made On Island's Defense Areas
</p><p>
By UNITED PRESS
</p><p>
WASHINGTON, Dec. 7. -Text of a White House announcement detailing the attack on the Hawaiian islands is: "The Japanese attacked Pearl Harbor from the air and all naval and military activities on the island of Oahu, principal American base is the Hawaiian islands."
</p><p>
Oahu was attacked at 7:55 this morning by Japanese planes.
</p><p>
The Rising Sun, emblem of Japan, was seen on plane wing tips.
</p><p>
Wave after wave of bombers streamed through the clouded morning sky from the southwest and flung their missiles on a city resting in peaceful Sabbath calm.
</p><p>
According to an unconfirmed report received at the governor's office, the Japanese force that attacked Oahu reached island waters aboard two small airplane carriers.
</p><p>
It was also reported that of the governor's office either an attempt had been made to bomb the USS Lexington, or that it had been bombed.
</p><p>
CITY IN UPROAR
</p><p>
Within 10 minutes the city was in an uproar. As bombs fell in many parts of the city, and in defense areas the defenders of the islands went into quick action.
</p><p>
Army intelligence officers at Ft. Shafter announced officially shortly after 9 a. m. the' fact of the bombardment by an enemy but long previous army and navy had taken immediate measures in defense.
</p><p>
"Oahu is under a sporadic air raid," the announcement said.
</p><p>
"Civilians are ordered to stay off the streets until further notice."
</p><p>
CIVILIANS ORDERED OFF STREETS
</p><p>
The army has ordered that all civilians stay off the streets and highways and not use telephones.
</p><p>
Evidence that the Japanese attack has registered some hits was shown by three billowing pillars of smoke in the Pearl Harbor and Hickam field area.
</p><p>
All navy personnel and civilian defense workers, with the exception of women, have been ordered to duty at Pearl Harbor.
</p><p>
The Pearl Harbor highway was immediately a mass of racing cars.
</p><p>
A trickling stream of injured people began pouring into the city emergency hospital a few minutes after the bombardment started.
</p><p>
Thousands of telephone calls almost swamped the Mutual Telephone Co., which put extra operators on duty.
</p><p>
At The Star-Bulletin office the phone calls deluged the single operator and it was impossible for this newspaper, for sometime, to handle the flood of calls. Here also an emergency operator was called.
</p><p>
HOUR OF ATTACK-7:55 A. M.
</p><p>
An official army report from department headquarters, made public shortly before 11, is that the first attack was at 7:55 a. m.
</p><p>
Witnesses said they saw at least 50 airplanes over Pearl Harbor.
</p><p>
The attack centered in the Pearl Harbor, Army authorities said: "The rising sun was seen on the wing tips of the airplanes."
</p><p>
Although martial law has not been declared officially, the city of Honolulu was operating under M-Day[Mobilization Day] conditions.
</p><p>
It is reliably reported that enemy objectives under attack were Wheeler field Hickam field, Kaneohe bay and naval air station and Pearl Harbor.
</p><p>
Some enemy planes were reported short shot down.
</p><p>
The body of the pilot was seen in a plane burning at Wahiawa.
</p><p>
Oahu appeared to be taking calmly after the first uproar of queries.
</p><p>
ANTIAIRCRAFT GUNS IN ACTION
</p><p>
First indication of the raid came shodtly before 8 this morning when anti-aircraft guns around Pearl Habor began sending up a thunderous barrage.
</p><p>
At the sane time a vast cloud of black smoke arose from the naval base and also from Hickam field where flames could be seen.
</p><p>
BOMB NEAR GOVERNOR'S MANSION
</p><p>
Shortly before 9:30 a bomb fell near Washington Place, the residence of the governor. Governor Poindexter and Secretary Charles M. Hite were there.
</p><p>
It was reported that the bomb killed an unidentified Chinese man across the street in front of the Schuman Carriage Co. where windows were broken.
</p><p>
C. E. Daniels, a welder, found a fragment of shell or bomb at South and Queen Sts. which he brought into the City Hall. This fragrent [fragment] weighed about a pound.
</p><p>
At 10:05 a. m. today Governor Poindexter telephoned to The Star-Bulletin announcing he' has declared a state of emergency for the entire territory.
</p><p>
He announced that Edouard L. Doty, executive secretary of t he major disaster council, has been appointed director under the M-Day law's provisions.
</p><p>
Governor Poindexter urged all residents of Honolulu to remain off the street, and the people of the territory to remain calm.
</p><p>
Mr. Doty reported that all major disaster council wardens and medical units were on duty within a half hour of the time the alarm was given.
</p><p>
Workers employed at Pearl Harbor were ordered at 10:10 a. m. not to report at Pearl Harbor.
</p><p>
The mayor's major disaster council was to meet at the city hall at about 10:30 this morning
</p><p>
At least two Japanese planes were reported at Hawaiian department headquarters to have been shot down.
</p><p>
One of the planes was shot down at Ft. Kamehameha and the other back of the Wahiawa courthouse.
</p><p>
DAMAGE DONE AROUND THE CITY
</p><p>
At 9:38 a. m., a live wire was reported down at Richards and Beretania Sts.
</p><p>
At 9:42 a. m., Nuuanu above Vineyard, a gas line was leaking.
</p><p>
At 9:44 a. m., at 2840 Kalihi St., a bomb in the road. There was a mysterious Japanese in a tent camped near there.
</p><p>
At 9:45 a. m., at 2683 Pacific Heights Rd., a bomb struck a house.
</p><p>
REPORT AIRPLANE CRASHES, WAHIAWA
</p><p>
It was reported that an airplane (nationality undisclosed) crashed near the Hawaiian Electric Co. plant at Wahiawa. It was destroyed by fire as were two houses near which it fell. The army and police flung a guarding cordon around the location and civilians were kept at a distance.
</p><p>
MANY INJURIES ARE REPORTED
</p><p>
An unidentified army witness arriving at Hawaiian department headquarters about 9:30 reported that two oil tanks at Pearl Harbor were ablaze.
</p><p>
A bomb was reported to have struck at 9:25 this morning near 624 Ala Moana.
</p><p>
At 8:35 a. m. the police department broadcast a statement to all afficers to warn persons to leave the streets and return to their homes.
</p><p>
All soldiers, sailors and marines off duty were ordered to report at once to their respective posts and stations.
</p><p>
Residents were ordered by radio not to use their telephones.
</p><p>
At 8:17 a. m. a Honolulan at Pearl Harbor gate heard marines ordered out.
</p><p>
BOMB HITS HOME IN DAMON TRACT
</p><p>
At 8:05 a. m., according to a police report, a bomb crashed through the kitchen of the home of Thomas Fujimoto, 810 E Rd., Damon tract, while the family of three was eating breakfast. No one was injured, according to the police.
</p><p>
According to another police report, several persons were injured by a bomb dropping in Kalihi St.
</p><p>
At 9:10 a. m. a report was made to the police that a wave of five dive bombers attacked the oil tanks at Pearl Harbor, the planes flying as low as 100 feet. .
</p><p>
At 9:10 a. an. Ilia Pearl Harbor housing area was reported ordered evacuated.
</p><p>
At 9:12 a. m., according to the police, two planes were reported to have dropped bombs on Pearl Harbor road.
</p><p>
At 9:13 s. m., the police received a report that. a house on Alewa Heights had been bombed.
</p><p>
At 9:17 a. m., Damon Tract residents, according to a police report, were ordered evacuated and the police said nearby residents were cooperating in helping them leave the area.
</p><p>
INCENDIARY BOMB AT FORT AND SCHOOL
</p><p>
A wooderi frame house was split in half by an incendiary bomb at Fort and School Sts., about 9:20 a. m.
</p><p>
Fire department could not stop the flames.
</p><p>
About 100 firemen are operating out of headquarters at Fort and Beretania Sts.
</p><p>
All departments of the fire department have been called at headquarters.
</p><p>
At present, there are six companies operating.
</p><p>
Three companies were sent to Hickam field this morning.
</p><p>
The fire trucks are sent out to investigate a fire and after investigating and doing all possible to put it out, return to headquarters for the next assignment.
</p><p>
At 9:25 a. m. a bomb broke a power line at 825 Ala Moans.
</p><p>
At 9:28 a man was injured at Richards and Beretania Sts.
</p><p>
At 9:27 a. m. a sampan, heavily laden, was reported off Moanalua.
</p><p>
At 9:30 a. m. a bomb fell at Kuhio and aKlakaua Aves. No one was hurt.
</p><p>
At 9:34 a. m. a Japanese plane was reported shot down at Wahiawa.
</p><p>
At 9:32 a. m. a bomb fell near E St. in Damon tract.
</p><p>
At 9:38 a. m. a bomb hit on N. School St.
</p><p>
At 9:50 a. m. all truck drivers and motor boat operators of the U. S. engineers and Hawaiian Constructors were ordered to report at Kewalo basin.
</p><p>
All legionnaires who are not on the emergency police force are being emergency police force were reporting to the police station.
</p><p>
All lgionnaires who are not on the emergency police force are being held wt the legion clubhouse, Kapiolani Blvd., for call.
</p><p>
The emergency disaster council headed by Maj. Robert Faus, was called and are at their posts at schoolhouses.
</p><p>
Col. James R. Mahaffay and Joe McGettigan, coordinators, were on duty.
</p><p>
At 10:08 a. m., two Japanese were, reported near the water tank at Sierra drive and Wilhelmina Rise.
</p><p>
At 10:22 a. m., Yuz Marimatsu reported that his house at 758 Kaaloa St. was bombed. A five inch shell went directly through the house, injuring no one.
</p><p>
A house at 1807 Liliha St. was reported bombed with no injuries.
</p><p>
Police have been ordered to guard vital spots throughout the city where soldiers have not yet been stationed.
</p>
<a href="../../img/EXTR/3EXTR02aa.jpg">
    <img src="../../img/EXTR/7EXTR02aa.jpg" />
  </a><br/><br/>
<p>
BULLETINS
</p><p>
Reported 'Dealt Succesfully' [successfully] With
</p><p>
WASHINGTON, Dec. 7. (U.P.)-Unconfirmed reports said tonight that United States forces "dealt successfully" with Japanese bombers over Hawaii and Manila.
</p><p>
Hull Accuses Japanese of Outright Lies
</p><p>
WASHINGTON, Dec. 7. (U.P.)-Secretary of State Cordell Hull tonight . angrily told Saburo Kurusu and Kichsaburo Nomura, Japanese negotiators, that their government's answer to his memorandum was "crowded with infamous falsehoods and distortions."
</p><p>
Hull's statement was read directly to Kurusu and Nomura after he read Japan's document handed to him at 2:20 p. m. EST.
</p><p>
The state department thus far had not published the document. However, a departmental statement described the scene as follows:
</p><p>
"Hull carefully read the statement presented by the Japanese ambassador and with the greatest indignation said, 'I must say that in all my conversations with you during the last nine months I never uttered one word of untruth. This is borne out absolutely by the record. In all my 50 years of public service I have never seen a document that was more crowded with infamous falsehoods and distortions-on a scale so huge that I never imagined until today that any government on this planet was capable of uttering them."
</p><p>
Attacks on Hawaii Understood Continuing
</p><p>
WASHINGTON, Dec. 7. (U.P.)-White House Secretary Stephen Early issued a statement tonight declaring that Japanese attacks are continuing so far as the U. S. government knows. Mr. Early said that the Honolulu and Manila attacks occurred when both nations were "at peace and within an hour or so of the time Nomura and Kurusu handed Secretary of State Hull the Japanese reply to Hull's memorandum.
</p><p>
Mr. Early said the army received distress signals from an American vessel, presumably a cargo ship, 700 miles west of San Francisco.
</p><p>
"This indicates that Japanese submarines are strung out over the entire sees," Mr. Early said.
</p><p>
U. S. Army Transport Reported Torpedoed
</p><p>
WASHINGTON. Dec. 1. An army transport was torpedoed 1,300 miles west of San Francisco, It was announced tonight.
</p><p>
Naval Engagement Reported Off Honolulu
</p><p>
NEW YORK, Dec. 7. (U.P.)-The National Broadcasting Company tonight reported a naval engagement in progress off Honolulu.
</p><p>
6 Planes, 4 Subs Reported Sunk
</p><p>
WASHINGTON Dec. 7. (U.P.)-It was reliably reported tonight that anti-aircraft and naval action bagged six Japanese planes and four submarines during the Hawaii action. 
</p>
<a href="../../img/EXTR/3EXTR02ab.jpg">
    <img src="../../img/EXTR/7EXTR02ab.jpg" />
  </a><br/><br/>
<p>
Guam Bombed; Attack on Manila Reported Repulsed
</p><p>
Paul Findelsen, radio editor of The Star-Bulletin, while listening in by shortwave this afternoon at his home at 2512 Waolani Ave., reports the following news items received by broadcast:
</p><p>
The island of Guam was subjected to a bombing attack this afternoon.
</p><p>
The Japanese also attempted to take Cavite in the Philippine islands but the attack was successfully repulsed.
</p><p>
Manila denies any reports of damage to that city.
</p><p>
-- 
</p><p>
Mokapu Attacked
</p><p>
A Mokapu resident reporting at Iolani palace for emergency duty reported the first bomb at 8:10 a. m. today took the Kaneohe bay naval air base there completely by surprise and struck and set on fire a large seaplane moored on the eastern side of the hangars in the bay
</p><p>
Bombs exploded oil tanks causing such a conflagration that the hangars could not be seen but it is certain that they were in great danger.
</p><p>
Another plane was struck and set on fire at Kokokahi near the coral gardens.
</p><p>
A witnesses reported that there was no answering gunfire from the base and no planes went up to drive off the attackers. As the enemy planes swooped low and machine gunned the base scattered rifle fire was directed against them.
</p><p>
Witnesses said the Japanese machine gunners' marksmanship was very poor.
</p><p>
-- 
</p><p>
HRT Buses Run on Reduced Schedule
</p><p>
Addison E. Kirk, president and general manager of the Honolulu Rapid Transit Co., reported that although there were several hits by bombs on overhead power wires, the company is running its buses on a reduced schedule.
</p><p>
-- 
</p><p>
Parachutists Land on Oahu, Army Reports
</p><p>
Parachuite [parachute] troops wearing blue uniforms and red shields have landed on Oahu, army authorities reported to police at 1:10 this aFternoon.
</p><p>
-- 
</p><p>
Parachutist Report Is Probed By Police
</p><p>
An unidentified parachute was seen to land at St. Louis Heights about 2 p. m., it was reported. Lookouts reported to the police within five minutes and an investigation was started.
</p><p>
Sixteen provisional policemen and all regular patrolmen in that district were ordered to proceed to the area behind St. Louis college and make a search.
</p><p>
Police have been instructed to shoot on sight.
</p><p>
The landing was made at Makapuu, according to the report.
</p><p>
-- 
</p><p>
Suspicious Group Probed By Police
</p><p>
A guard patroling a water tank at Diamond Head circle reported he had observed a suspicious group of Japanese at a Monsarrat Ave. address at 2 p. m., and a squad of police was sent to investigate.
</p>

<p>
In the mass confusion of the December 7th attack, the pictures and information on this page could not be made available to the general public immediately. The historical material presented here is part of a collection in the War Records Depository at the University of Hawaii. All other pages in this souvenir edition are direct copies of the actual front pages that appeared in Honolulu's two leading daily papers directly following the attack, reprinted here through the courtesy of the Honolulu Star-Bulletin and Advertiser Newspapers.
</p><p>
The surprise attack started at 7:55 a.m. and ended shortly before 10 o'clock. There were 96 American ships in Pearl Harbor, and 31 Japanese ships in the striking force, including six aircraft carriers that sent 353 planes on the raid. The smallest Japanese vessels were five midget submarines released from larger subs. (Pictured below is one of the two-man subs discovered the morning after the raid. Note the torpedoes still in the tubes mounted one above the other. A Japanese officer on this sub became the first U.S. Prisoner of WWII. He was the only man of ten assigned to the midget subs who survived the attack.)
</p><p>
At Pearl Harbor, 18 American ships were sunk or seriously damaged. At the airfields 188 planes were destroyed. The Navy personnel casualties were 2008 killed (nearly half lost on the U.S.S. Arizona) and 710 wounded. The Marines lost 109 men, with 69 wounded. The Army lost 218 men, with 364 wounded.
</p><p>
During the attack there were about 40 explosions in the city of Honolulu, all except one the result of fallen U.S. anti-aircraft fire. Among the civilian population 68 were killed and 35 wounded.
</p><p>
The striking force lost 29 planes (15 dive bombers, 9 fighters, and 5 torpedo planes) and one large submarine and all five midget subs. The Japanese casualties are estimated at 75 to 100 killed.
</p><p>
Rows of aircraft burning on the ground at Wheeler Air Base, near Schofield Barracks, in the central part of the island.
</p><p>
U.S.S. Shaw explodes during the height of the attack at Pearl Harbor.
</p><p>
The sinking battleship U.S.S. Arizona is a flaming ruin with her towers blasted away. Behind her, the leaning towers of the U.S.S. West Virginia also going down, with her hull smashing the U.S.S. Tennessee hard against the quay. The extensive smoke is caused by oil fires on the water, from the Arizona.
</p><p>
Demosihed American fighter aircraft after the attack on Wheeler Air Base.
</p><p>
All hands abandon ship as the U.S.S. California (bow view) slowly settles to the bottom of Pearl Harbor. The battleship was struck by two torpedoes and a bomb.
</p><p>
In Drydock Number One at Pearl Harbor, the U.S.S. Cassin leans crumpled against the U.S.S. Downes. Both destroyers were total losses after three 100-pound incendiary bombs ignited oil tanks on the Downes, which caused the detonation of the ship's - ammunition and war heads. The battleship U. S. S. Pennsylvania (behind) took a blow from a 500-pound fragmentation bomb, but was easily repaired. At right is the crane which a civilian yard worker operated to ward off low-flying enemy dive bombers.
</p><p>
Tattered Stars and Stripes waving in the midst of the blitz at Hickam Air Base, adjacent to Pearl Harbor.
</p><p>
Japanese two-man submarine abandoned on the beach at Bellows Air Base, windward Oahu.
</p><p>
The same flag again run up the Hickam flagpole for a memorial ceremony on December 7, 1947. The historical banner was sent back to Hawaii from Washington, D.C.
</p><p>
Sailors and civilians leap into action repairing the damaged runways at Pearl Harbor Naval Air Station.
</p><p>
Wrecked aircraft hangar at Pearl Harbor Naval Air Station.
</p>
<a href="../../img/EXTR/3EXTR003a.jpg">
    <img src="../../img/EXTR/7EXTR003a.jpg" />
  </a><br/><br/>
<p>
Bombs rained from the skies on many sections of Honolulu this morning during the Japanese air attacks.
</p><p>
A bomb fell about 200 feet from Iolani palace during the second bombing raid at 11:30.
</p><p>
Observers estimated it was about a 25 pound bomb.
</p><p>
It left a crater in the capitol lawn near the tree planted by President Roosevelt when he visited Hawaii several years ago.
</p><p>
The bomb landed about 200 feet from the mauka waikiki corner of the capitol.
</p><p>
Bombs which fell at Hauoli and McCully Sts. apparently were incendiary bombs, police said, as fires started immediately after they fell.
</p><p>
Two unexploded bombs were reported at 11:02 a. m. at the Kalihi pumping station and at 1225 Pualane, police said.
</p><p>
All traffic lights have been ordered turned off and fire alarm boxes are reported not working in all sections of the city.
</p><p>
At Channel and Ala Moana, a bomb hit a car squarely, twisted it out of shape and blew parts across the street.
</p><p>
Another hit the motor pool at Ft. Armstrong. The fire was quickly brought under control by civilian and army firemen.
</p><p>
Another bomb fell at Nuuanu Ave. and Kukui St. at 11:35 a. m. and a fire also reported at a house at 734 McCully St.
</p><p>
A fire was reported at the Hawaiian Gas Products Co.
</p><p>
At 12:10 p. m. Lunalilo school was reported on fire and a live wire was reported down at 940 Punahou St.
</p><p>
Additional bombings were reported from: 3122 Duval St., Washington intermediate school, 2113 Bingham St., Judd St. at Iolani school where a bomb hit an automobile containing four persons.
</p><p>
At 11:35 a time bomb was reported at the upper end of Henry St.
</p><p>
Other bombings were reported at 1848 Puowaina St., at 734 McCully St. where a house was reported afire and at 66 Wyllie St.
</p><p>
In the first attack of the morning, what was evidently a small bomb struck at Lewers Rd. and Kewala St. leaving a small hole in the street wrecking a palm tree and shattering the windows and doors of nearby apartment houses.
</p><p>
At 1:50 p. m. lookouts on Kamehameha heights reported that several unexploded bombs had fallen in that vicinity.
</p><p>
-- 
</p><p>
Wireless Bulletin
</p><p>
BRITISH OFFICIALS RESERVE COMMENT
</p><p>
LONDON, Dec. 7. (U.P.)-News of the attack on Pearl Harbor and army and navy bases at Manila tonight electrified British officials who reserved comment on the possibility of British assistance, but one said, "this looks like the real thing."
</p><p>
CHURCHILL EXAMINES BRITAIN'S POSITION
</p><p>
LONDON, Dec, 7. (U.P.)-Prime Minister Winston Churchill tonight was "examining Britain's position" in face of the new Japanese outbreak in the Pacific, it was stated authoritatively.
</p><p>
ROOSEVELT CALLS CABINET, CONGRESSMEN
</p><p>
WASHINGTON, Dec. 7. (U.P.)President Roosevelt tonight summoned the cabinet and congressional leaders.
</p><p>
RADIO, CABLE CENSORSHIP ESTABLISHED
</p><p>
WASHINGTON, Dec. 7. (U.P.)The navy tonight announced censorship has been established on all outgoing cable and radio messages.
</p><p>
LONDON PAPER FLAYS ATTACK
</p><p>
LONDON, Dec. 7. (U.P.)-The London Daily Mail reported tonight that "not even Hitler has yet achieved the infamy of a stab in the back while his envoys were still ostensibly negotiating terms of an agreement with an intended victim .... that degradation has been achieved by Japan alone."
</p><p>
ROME RADIO BLAMES ROOSEVELT
</p><p>
ROME, Dec. 7. (U.P.)-The Rome Radio, broadcasting in English, tonigt blamed hostilities in the Far East on President Roosevelt.
</p><p>
"Roosevelt's war mongering program has started the war," the radio said, "First hostilities have occurred between Japanese and American forces in the Far East." Press reaction, however, was reserved.
</p><p>
The first impression after the surprise part was that Italy must wait for the reaction before any clear cut attitude can be adopted or action taken.
</p><p>
PRESIDENT HARRISON BELIEVED SUNK
</p><p>
SHANGHAI, Monday; Dec. 8. (U.P.)-The Japanese are believed to have sunk or seized the U. S. Liner President Harrison, according to reports here today.
</p><p>
The Harrison should be off the mouth of the Yangtse en route to pick up U. S. marines on December 10.
</p><p>
It was expected the Japanese would probably intern and disarm 203 remaining United States
marines, except those at Tientsin.
</p><p>
Fate of a group of U. S. navy men aboard the USS Wake also was not known.
</p><p>
JAPANESE NATIONAL ARRESTED IN PANAMA .
</p><p>
PANAMA, Dec. 7. (U.P.)-It was announced officially tonight that the Panama government ordered arrest of all Japanese nationals.
</p><p>
STIMSON ORDERS ARMY INTO UNIFORM WASHINGTON, Dec. 7. (U.P.)-Secretary of War Henry L. Stimson tonight ordered the entire U. S. army into uniform.-1,600,000 men, including thousands of officers and men on duty in administrative posts who heretofore have been allowed civilian clothes.
</p><p>
GERMANS REPORT TOKYO WAR ANNOUNCEMENT
</p><p>
BERLIN, Monday, Dec. 8. (U.P.)-The official DNB news agency reported from Tokyo today that "according to the Tokyo radio Japanese military headquarters announced a state of war exists from Monday at 6 a. m. between Japan and British and United States forces in the Pacific."
</p><p>
ADMIRAL HART SAYS U. S.-JAPAN AT WAR
</p><p>
MANILA, Dec. 7. (U.P.)-Admiral Thomas Hart announced tonight that the United States was at war with Japan and "taking steps accordingly."
</p><p>
Eenemy planes or ships had not yet been sighted.
</p><p>
Street lights were burning In the capital, but the city was quiet. Newspaper extras had not yet appeared on the streets.
</p><p>
Sleepy-eyed army and navy intelligence officers were Informed by the United Press of the Japanese attack on Oahu.
</p><p>
At first they were doubtful of the report, generally commenting "it doesn't make sense."
</p><p>
The United Press flash here was apparently ahead of the army and navy radio.
</p><p>
Admiral Hart and Lt. Gen. Douglas McArthur immediately Issued full mobilization orders.
</p><p>
A navy spokesman said enemy planes had not yet been sighted in Philippine waters but declined to say whether U. S. warships were steaming out of Manila bay. The spokesman merely reiterated Admiral Hart's announcement of existence of a state of war with Japan.
</p><p>
Apparently army men suspected something brewing since during the night numerous units were alerted. Heavy troop transport activities were noticeable in the vicinity of Manila.
</p><p>
TOJO REPORTS TO EMPEROR HIROHITO
</p><p>
NEW YORK, Dec. 7. (U.P.) - A Domel (Japanese) news agency broadcast heard here tonight said Minister of Navy Admiral Shigetaro Shimada reported to an emeregncy [emergency] cabinet meeting that fighting occurred between the United States and the Japanese navy.
</p><p>
The broadcast also said that after the cabinet meeting Premier Gen. Hideki Tojo reported to Em. peror Hirohito.
</p><p>
TOKYO RADIO SILENT ON JAPANESE ATTACKS
</p><p>
LOS ANGELES, Dec. 7. (U.P.)-A Tokyo radio broadcast tonight (at 6:20 a. m. Tokyo time) did not mention any attack on Hawaii or the Philippines.
</p><p>
-- 
</p><p>
Kennedy Is Acting Chief
</p><p>
Lt.[ lieutenant] Eugene Kennedy of the police department was appointed acting chief of police shortly before noon to serve at the police headquarters in the absence from the station of Police Chief W. A. Gabrielson.
</p><p>
Mr. Kennedy announced that all leaves and days off for police officers have been canceled.
</p>
<p>
U.S. Fleet Steams To Sea Ready To Attack Enemy
</p><p>
By UNITED PRESS
</p><p>
The United States fleet steamed from Pearl Harbor Sunday after a Japanese dive bomber, torpedo plane and parachute raid on the great American naval and air base, causing heavy loss of life and property damage ina b unproved assault which precipitated a general war on the Pacific.
</p><p>
Reportedly the sound of gunfire was heard off Oahu and gun flses were seen.
</p><p>
The White House said it was unable to confirm reports of an attack on Manila.
</p><p>
Reportedly Hawaiian officials have been expecting the attack for about a week and gave the raiders a warm reception.
</p><p>
SEVERAL PLANES ARE SHOT DOWN
</p><p>
Attacking planes, several of which were reported shot down, clearly bore the insignia of the rising sun.
</p><p>
Hickam field appeared to be the principal objective, but fires were also started on Ford island in the middle of the harbor.
</p><p>
Reportedly 50 planes attacked later and parachute troops were sighted. However, the parachutists were believed handled.
</p><p>
The National Broadcasting Co. said 350 were killed in a direct bomb hit on Hickam field.
</p><p>
The battleship Oklahoma, according to NBC was also reported attacked and set afire in Pearl Harbor.
</p><p>
Governor Joseph Poindexter of Hawaii declared a state of emergency and the islands operated under a prearranged plan.
</p><p>
Meanwhile, at Washington President Roosevelt conferred with the cabinet and then summoned congressional leaders. It was believed Mr. Roosevelt was preparing a messge to a joint session of congress asking a declaration of war-which we expected to pass as soon as asked.
</p><p>
COMPLETE CENSORSHIP ESTABLISHED
</p><p>
The navy established censorship immediately on all outgoing cable and radio messages.
</p><p>
Army and navy posts throughout the nation were mobilized. Secretary of War Henry L. Stimson and Secretary of Navy Frank Knox ordered army and navy men to wear uniforms at all times.
</p><p>
DAMAGE AT PEARL HARBOR
</p><p>
Huge fires were raging at Pearl Harbor at 1:10 this afternoon and five navy vessels appeared to have been destroyed in the air raids.
</p><p>
One ship had turned over on its side.
</p><p>
Fires raging on four other warships appeared to be gaining in intensity and they ahd settled low in the water.
</p><p>
The base itself apparently was extensively damaged in the raids and great clouds of smoke rose above it.
</p><p>
Patrols were scouring the hills above Pearl Harbor for parachute troops reported to have been seen in the vacinity.
</p><p>
-- 
</p><p>
Japan Consul Raided
</p><p>
WASHINGTON, Dec. 7. (U.P.)-The Japanese embassy late today started burning secret documents. There was no police protection in front of the embassy.
</p><p>
A dramatic raid on the Japanese consulate this morning by detectives and police caught the staff of the consulate in the act of burning ocuments and records.
</p><p>
A tipoff from one of the four policemen who had been assigned to guard the Nuuanu St. consulate brought seven men headed by Lt. Benjamin Van Kuren, chief of detectives, and Lt. Yoshio Hasegawa to force their way into the consulate ffice where a small fire was burning to destroy documents.
</p><p>
Nagao iKta, consul general, was being interviewed by a Star-Bulletin reporter on the steps behind the consulate office when the car carryiyg the detectives entered the grounds at 12:20.
</p><p>
Lt. Hasegawa rushed up the steps, the men following him, past the consul general and Into the hallway of the consulate office.
</p><p>
Inside the building the smell of burning paper was strong and in a moment the detectives had forced their way into a rear room, completely surprising three consulate staff members who were grouped around a small fire on which were burning records and documents.
</p><p>
Several safes in this room were wide open and apparently the consulate workers were taking out records and burning them as fast as possible.
</p><p>
A police guard stationed at the consulate said it was the smell of burning paper which prompted him to call the detectives.
</p><p>
Two carloads of detectives were dispathced [dispatched] .
</p><p>
When the detectives broke into a back room, they found a smoke filled room with doors and windows tightly locked.
</p><p>
The fire was immediately put out. It was burning on an overturned washtub with buckets of water nearby to extinguish the flames.
</p><p>
Detectives threw water on the burning documents and carefully searhced all consulate personnel, including the consul general. Several were in other rooms.
</p><p>
Throughout the raid, neither the consul general nor his staff resisted, though one of them cussed, evidently resenting the what he believed was rough intrusoin [intrusion] and handling.
</p><p>
Four regular police and provisional guards were sent at 10:30 this morning to guard the consulate, 1748 Nuuanu Ave.
</p><p>
They patrolled outside the consulate grounds, on Nuuanu Ave. and Kuakini St., and also were stationed on the grounds.
</p><p>
One of them remarked after [the] raid that though he suspected "something" was going on inside the consulate office, he did not have authority to brake [break] in.
</p><p>
The raid interrupted an interview in which the consul general urged the Japanese people In the islands "to remain calm and law abiding".
</p><p>
Earlier In the morning, at another interview, he said he had thought the bombing of Honolulu was "maneuvers" by the U. S. forces here.
</p><p>
When informed that there were casualties, he remained unconvinced that the bombing by Japanese planes had actually taken place.
</p><p>
Likewise, Otojiro Okuda, vice consul, expressed surprise and disbelief when told that "this bombings serious."
</p><p>
All Japanese banks were taken over this morning, it was reported at Iolani palace.
</p>
<a href="../../img/EXTR/3EXTR003b.jpg">
    <img src="../../img/EXTR/7EXTR003b.jpg" />
  </a><br/><br/>
<p>
Palama Station Reports 5 Dead
</p><p>
Five deaths were reported up to 1:30 today at the Palama settlement first aid station as a result of the Japanese plane attack this morning.
</p><p>
Twelve year old Matilda Faufata, died from a bullet wound in the lung incurred at her home on 2009 Iholena St. near Lanikai park.
</p><p>
The bodies of remaining four were unidentified up to this afternoon. They were believed to be Hawaiians.
</p><p>
-- 
</p><p>
Governor Has Instructions From President
</p><p>
Governor Poindexter talked to President Roosevelt by long distance telephone today noon and received certain confidential orders from the chief executive.
</p><p>
The governor said the orders could not be disclosed at present.
</p><p>
The governor said that the president had already heard the news, but was intensely interested as he explained the situation more fully.
</p><p>
The president was pleased at the attitude of the civilian population when he was told that civilian morale was high and defense organization was functioning smoothly.
</p><p>
Governor Poindexter said this afternoon he has asked the police department to furnish him with an estimate of the number of casualties resulting from the bombing of Honolulu.
</p><p>
Director Doty shortly before 2 this afternoon, announced that provisional police have been ordered to form a cordon around lolani palace grounds and admit no one without an official pass.
</p><p>
-- 
</p><p>
Blood Donors Are Called In
</p><p>
T. G. S. Walker, civilian defense coordinator, asked that blood donors report immediately to Queen's hospital.
</p><p>
He also announced that store owners who wish to protect their plate glass windows with sand bags to telephone 6161.
</p><p>
All employes of the Welding Co., Ltd., 1028 Ala Moana Rd., were asked to report for work immediately.
</p><p>
-- 
</p><p>
West Loch is Under Attack
</p><p>
A Pearl Harbor worker reporting to the capital for emergency duty reported that at 7:45 he was just opposite the Pearl Harbor basin when 11 bombers in formation of five and six planes dropped five bombs into the west loch.
</p><p>
Another bomb hit the bow of what he took to be a light cruiser and took the bow off.
</p><p>
Shortly after that a single plane strafed the road with his [it's] machine guns.
</p><p>
A moment after he had done this bystanders could see his motor stop and as the plane went out of control he crashed into the inferno that was the oil tanks.
</p><p>
-- 
</p><p>
Gas Company Tank Is Hit
</p><p>
A Honolulu Gas Co. tank at Iwilei was aflame at 11:40 this morning.
</p><p>
The fire was extinguished at 12:57 p. m. and generation of gas resumed.
</p><p>
E. S. Jones, chief engineer of the company, said workers had two hours to fight, the flames before there would be danger of explosion.
</p><p>
About 30 men played their hoses on the tanks and Mr. Jones said that they would attempt to put out the blaze with water pressure.
</p><p>
Hoses were to be concentrated on the opening in the top of the tank and by the concentrated pressure attempt to put out the fire, he said.
</p><p>
Mr. Jones said that it was not a bomb but probably shrapnel that hit the tank.
</p><p>
-- 
</p><p>
Mrs. Kate Bartlett Dies Here at 78
</p><p>
Mrs. Kate M. Bartlett, 78, widow of the late Charles W. Bartlett, died at her home, 3181 Woodlawn drive, early this morning.
</p><p>
Mr. Bartlett, internationally famous artist, died here in 1940.
</p><p>
Mrs. Bartlett was born in Scotland July 20, 1883, and came to Hawaii in 1917.
</p><p>
She is survived by a sister in New York, several relatives in Scotland and two nieces, Dorothy and Rosalind Bartlett, in Honolulu.
</p><p>
Funeral services will be announced later.
</p><p>
-- 
</p><p>
Slightly Injured Persons Sent Home
</p><p>
From the governor's office this afternoon it was announced the army has ordered that about 90 percent of persons now in hospitals, who can be removed to their homes without endangering them, be sent home.
</p><p>
-- 
</p><p>
Comment Reserved By Kita
</p><p>
Four armored policemen were dispatched at 10:30 this morning to guard the Japanese consulate, 1748 Nuuanu St.
</p><p>
Two uniformed guards patrolled outside the consulate grounds, on Nuuanu Ave. and Kuakini St., and two ununiformed men were stationed on the grounds.
</p><p>
Nagao Kita, Japanese consul general here, said this morning that he thought the bombing of Honolulu was "maneuvers" by the U. S., forces here.
</p><p>
When informed that there were casualties, he remained unconvinced that the bombing by Japanese planes had actually taken place.
</p><p>
"I was lazy this morning and didn't get up till late," he said, at the Japanese consulate where he was asked for a statement by The Star-Bulletin.
</p><p>
"I heard a lot of gunfire but I thought the U. S. army and navy were on maneuvers," he added.
</p><p>
He said he would reserve comments "until I find out what this is all about," and did not make any statement.
</p><p>
Otojiro Okuda, vice consul who was with Mr. Kita and other consulate staff members at the Nuuanu St. consulate, expressed surprise and disbelief when told that "this bombing was serious."
</p><p>
"I heard quite a lot of noise this morning but I never imagined that this was a real bombing," Mr. Okuda said.
</p><p>
-- 
Japanese Told To Remain Calm
</p><p>
The Honolulu United Japanese society, through representatives of affiliated organizations throughout the city, is informing the local Japanese community of developments, including the blackout tonight and the closing of schools Monday.
</p><p>
The Japanese people are being urged to remain calm.
</p><p>
A program sponsored by the society was, held as scheduled at 9:30 this morning at the Kokusai theater, when 800 Japanese-speaking emergency medical volunteers were presented their certificates for completion of their basic first air training.
</p><p>
-- 
</p><p>
Gas Company Men Are Standing By
</p><p>
Twenty trucks and 40 employes of Honolulu Gas Co. are standing by ready to repair any gas main breaks.
</p><p>
Two gas mains at Lewers and Kuhio Sts., one at Damon tract and another at 1429 Damon tract have been repaired.
</p><p>
A. A. Wilson, inspector for the company who is in charge of the dispatching of men with L. L. Gowns of the distribution department, reported at 10:40 that all breaks have been repaired.
</p><p>
Edward Jones is in charge of the company's Iwilei plant.
</p><p>
At 1 p. m. the fire at the gas tank was reported under control.
</p><p>
-- 
</p><p>
Farrington High To Be a Hospital
</p><p>
Farrington high school was taken over by the army this morning as a hospital.
</p><p>
-- 
</p><p>
Mattresses Taken
</p><p>
Police were assisting army engineers in taking mattresses from a furniture store at Beretania and Punchbowl Sts.
</p><p>
The mattresses will be used for bombed out persons.
</p><p>
-- 
</p><p>
Fire Hose Delivered
</p><p>
Trucks of the Honolulu Construction & Draying Co. were delivering lengths of firehose about the city, where they were being connected to hydrants, and firemen were stationed at the hydrants.
</p><p>
-- 
</p><p>
Water is O.K.
</p><p>
Fred Ohrt manager, city-county board of water supply, said the water supply has not been tampered with, contrary to rumors.
</p><p>
He added that all such reports coming to his office are being checked.
</p><p>
-- 
</p><p>
Schools Closed
</p><p>
All schools on Oahu, both public and private, will remain closed until further notice, Edouard L. Doty, territorial director of civilian defense, announced at 11 a. m. today. This does not apply elsewhere in the territory.
</p><p>
Principals of schools have been instructed by Mr. Doty to stand by with staffs of teachers on 24 hour shifts to make the buildings available as needed for army or civilian purposes.
</p><p>
-- 
</p><p>
Two Japanese Taken at Short Wave Station
</p><p>
Police reported they have in custody two Japanese who were allegedly operating a short wave station across from 2310 Booth Rd.
</p><p>
The report was made first about noon and police rushed to the scene.
</p><p>
-- 
</p><p>
Actions of Japanese Are Investigated
</p><p>
Police this afternoon said they were investigating reports that Japanese had been seen lurking in bushes near the water tank at Diamond Head circle.
</p><p>
They were also investigating a report that Japanese at a tea house at Alewa Heights had been seen using high power telescopes.
</p><p>
-- 
</p><p>
All Sampans Ordered Detained at Kewalo
</p><p>
Col. M. L. Craig, USA, today ordered all sampans to be detained at Kewalo basin. Soldiers are posted on each of the vessels.
</p><p>
-- 
</p><p>
Two Radio Stations Close
</p><p>
Radio station KGMB and KGU left the air voluntarily at the request of military authorities at 11:40 this morning.
</p><p>
-- 
</p><p>
Report of Man Amok Is Proved False
</p><p>
The report of a man running amok with a knife at 1346 King St. was determined to be false.
</p><p>
All police have been ordered out on duty and vital spots are being guarded.
</p><p>
The bomb that fell on the house at Nuuanu and Vineyard hit a Japanese language school.
</p><p>
-- 
</p><p>
Sabotage Reported In Waikiki Area
</p><p>
Sabotage of an undisclosed nature was reported on Ohua Ave.
</p><p>
Investigation proved that it was the owner of the house removing personal belongings at 10:45 this morning.
</p><p>
Police also are investigating a report that the home of the Vichy consulate at 203 Dowsett Ave. is endangered.
</p><p>
-- 
100 Trucks Respond For Volunteer Duty
</p><p>
More than 100 volunteer trucks assembled at the palace grounds under the ambulance committee of the governor's emergency council at 11 this morning. One detachment was sent to Hickam field for ambulance and evacuation duty. A number of families there were reported to be in distress.
</p><p>
-- 
</p><p>
A. M. Bettencourt Residence Struck
</p><p>
A bomb struck the residence of A. M. Bettencourt, 2653 Rooke Ave, an employe of the Union Oil Co., injuring his wife and completely demolishing one side of residence.
</p><p>
-- 
</p><p>
Evacuees Taken To the University
</p><p>
Several truckloads of evacuees from Hickam field, mostly women and children, were taken to the University of Hawaii today.
</p><p>
The national guard armory on Hotel St. was being equipped to receive wounded persons.
</p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Reproduction of the Honolulu Star's 2d Extra Edition, 7 December 1941, John Wallace Gilpin Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>John Wallace Gilpin Papers #833.3.d. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0833">Display Collection Guide</a></td>
  </tr>
</table>