---
layout: ecu
title: "John W. Gilpin's calculation of when USS Monaghan was put to sea"
customdate: "4.10"
order: 11
---

{% include breadcrumbs.html %}

<h3>John W. Gilpin's calculation of when <em>USS Monaghan</em> was put to sea, 7 December 1941</h3>

<div class="well">
  <label>Image from Telegram</label><br/>

  <a href="../../img/GILP/3GILP001.jpg">
    <img src="../../img/GILP/7GILP001.jpg" />
  </a><br/><br/>
<p>
<b>Transcription for the image above:</b>
</p><p>
HAWAII - 10 HRS.
</p><p>
18:21 - GCT. [Greenwich Civil Time]<br/>
10:00
</p><p>
8:21 AM
</p><p>
(Jack's figuring of time) 
</p>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[John W. Gilpin's calculation of when USS Monaghan was put to sea], 7 December 1941, John Wallace Gilpin Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>John Wallace Gilpin Papers #833.3.c. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0833">Display Collection Guide</a></td>
  </tr>
</table>