---
layout: ecu
title: "Scene of a heavy cruiser at sea"
customdate: "4.02"
order: 2
---

{% include breadcrumbs.html %}

<h3>Scene of a heavy cruiser at sea, no date</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/HEAV/3HEAV001.jpg">
    <img src="../../img/HEAV/7HEAV001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Scene of a heavy cruiser at sea], n.d., Henry Champ Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Henry Champ Papers #677/45/39. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-045">Display Collection Guide</a></td>
  </tr>
</table>