---
layout: ecu
title: "Historical Sketch of USS Monaghan (DD-354)"
customdate: "4.08"
order: 9
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS Monaghan</em> (DD-354)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Named for Ensign John R. Monaghan, (1873-1899) who was killed in action against natives in Samoa, standing steadfastly by his wounded superior, Lieutenant Lonsdale, against a score of attackers. The second to bear the name, <em>Monagha</em>n (DD-354) was commissioned 19 April 1935. Thereafter, she operated primarily in the North Atlantic.
</p><p>
On 7 December 1941, however, <em>Monaghan</em> was ready duty destroyer in Pearl Harbor, and at 0751 was ordered to join Ward , who had just sunk an unidentified submarine off the entrance to Pearl Harbor. Four minutes later, before <em>Monaghan</em> could get underway, the Japanese air attack began. <em>Monaghan</em> opened fire, and at 0827 was underway to join <em>Ward</em> when notified of the presence of a midget submarine in the harbor. <em>Monaghan</em> headed for the trespasser, rammed and then sank the submarine with two depth charges. She headed on out of the harbor to patrol offshore for the next week and then joined <em>Lexington</em> in an unsuccessful attempt to relieve doomed Wake Island.
</p><p>
<em>Monaghan's</em> first major action came 7 May, when U.S. naval forces successfully threw back a Japanese fleet, including several transports guarded by the light carrier Shoho that was attempting to enter the Coral Sea. In early June she participated in the critical battle of the Pacific War, the Battle of Midway. Through the first 2 days of the battle, <em>Monaghan</em> screened <em>Enterprise</em> (CV-6). Then, on the evening of 5 June, she joined the group of destroyers struggling unsuccessfully to save the badly damaged aircraft carrier <em>Yorktown</em>, and guard her from further damage.
</p><p>
<em>Monaghan</em> served in the Aleutians, Gilberts and Marshall Islands operations, during which she guarded the carriers. From 13 April to 4 May 1943, she covered the Hollandia landings, and struck at Satawan, Truk, Ponape, and Saipan. On 11 November 1944 <em>Monaghan</em> served as escort for three fleet oilers bound for a rendezvous 17 December 1944 with TF 38, whose planes had been attacking central Luzon in support of the Mindoro invasion. The fueling day was the first of the great typhoon that struck the 3d Fleet and claimed 790 seamen and sank three destroyers, including the <em>Monaghan</em>. Six survivors, rescued after drifting on a raft for 3 days, reported that <em>Monaghan</em> took roll after roll to starboard, before finally going over. The tragedy, Admiral Nimitz said, "represented a more crippling blow to the 3d Fleet than it might be expected to suffer in anything less than a major action." Veteran of so many actions against a human enemy, <em>Monaghan</em> fell victim to the sailor's oldest enemy, the perils of the sea. <em>Monaghan</em> received 12 battle stars for her World War II service. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>Dictionary of American Naval Fighting Ships , 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume IV, pp.412-414.</td></tr>
</table>

</div>
