---
layout: ecu
title: "Portrait of John W. Gilpin"
customdate: "4.16"
order: 17
---

{% include breadcrumbs.html %}

<h3>Portrait of John W. Gilpin <em>USS Monaghan</em>, 1945</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/LPIN/3LPIN001.jpg">
    <img src="../../img/LPIN/7LPIN001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Portrait of John W. Gilpin], by Freda L. Reiter, <em>USO Camp Shows, Inc.</em>, 1945, John Wallace Gilpin Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>John Wallace Gilpin Papers #833.3.os. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0833">Display Collection Guide</a></td>
  </tr>
</table>