---
layout: ecu
title: "Repair ship USS Medusa (AR-1)"
customdate: "4.03"
order: 3
---

{% include breadcrumbs.html %}

<h3>Repair ship <em>USS Medusa</em> (AR-1), no date </h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/MEDU/3MEDU001.jpg">
    <img src="../../img/MEDU/7MEDU001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Repair ship USS Medusa ], n.d., Henry Champ Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Henry Champ Papers #677/45/98. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-045">Display Collection Guide</a></td>
  </tr>
</table>