---
layout: ecu
title: "Description of USS Monaghan sinking a submarine"
customdate: "4.07"
order: 8
---

{% include breadcrumbs.html %}

<h3>Description of <em>USS Monaghan</em> sinking a submarine, <em>The Rising Sun in the Pacific</em>, September 1948)</h3>

<div class="well">
  <label>Text from Book</label><br/>
<p>
[Page 115]
</p><p>
Monaghan, the ready destroyer in East Loch which had been ordered to sortie and support Ward two minutes before the attack opened, was the first away at 0827. She had a very eventful trip down-harbor. Only eight minutes after casting off mooring pendants, steaming at low speed north of Ford Island, a signalman noticed that tender Curtiss was flying a signal indicating presence of an enemy submarine. The midget was sighted two minutes later, under fire from Curtiss and Medusa. It launched a torpedo which missed Curtiss and hit a dock at Pearl City. The two auxiliaries checked fire when the destroyer was about to foul their range and enjoyed a few minutes' relaxation as they applauded the fine seamanship and attack technique exhibited by Lieutenant Commander Burford and his merry men of the Monaghan. Her first shot was an "over" that ricocheted into a derrick barge moored off Beckoning Point. She then made ready to ram. The midget fired a torpedo at Monaghan which missed and detonated against the shore. Monaghan rammed at 0843, passed over the midget, depthcharged it twice and sank it. But the destroyer was now making such speed that she was unable to clear the shore. Just as the crew were about to make suitable acknowledgment of Curtiss's cheers, Monaghan's bow fouled the unfortunate derrick barge, now ablaze and a serious explosive hazard. While she was backing away from this unwanted and mutually embarrassing contact, a second submarine alarm sounded, and one shot was fired at what proved to be a black harbor-buoy. Monaghan then stood out of the harbor and "remainder of day was spent in organizing and clearing ship." 
</p>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Morison, Samuel Eliot. 1948. <em>The Rising Sun in the Pacific</em>; 1931-April 1942 , Boston: Little, Brown and Company.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Stacks, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>D 773 M6 vol.3. <a href="http://catalog.lib.ecu.edu/catalog/273947">Display Catalog Record</a></td>
  </tr>
</table>