---
layout: ecu
title: "USS Arizona sinking"
customdate: "4.18"
order: 19
---

{% include breadcrumbs.html %}

<h3><em>USS Arizona sinking</em> (BB-39), 7 December 1941</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPAR/3NPAR001.jpg">
    <img src="../../img/NPAR/7NPAR001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy." <em>USS Arizona</em> burning at Pearl Harbor," 24 September 2002. http://www.history.navy.mil/photos/images/g10000/g19942.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>