---
layout: ecu
title: "USS Arizona's forward magazines explode"
customdate: "4.17"
order: 18
---

{% include breadcrumbs.html %}

<h3><em>USS Arizona's</em> forward magazines explode (BB-39), 7 December 1941</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPEX/3NPEX001.jpg">
    <img src="../../img/NPEX/7NPEX001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. " <em>USS Arizona's</em> forward magazines explode," 24 September 2002. http://www.history.navy.mil/photos/images/k13000/k13513.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>