---
layout: ecu
title: "Destroyer USS Monaghan"
customdate: "4.06"
order: 7
---

{% include breadcrumbs.html %}

<h3>Destroyer <em>USS Monaghan</em>, no date </h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPMO/3NPMO001.jpg">
    <img src="../../img/NPMO/7NPMO001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>NavSource Photo Archives. "Destroyer USS Monaghan ," 24 September 2002. http://www.navsource.org/archives/05/0535405.jpg . (25 November 2002).</td>
  </tr>
</table>