---
layout: ecu
title: "USS Maryland and capsized USS Oklahoma"
customdate: "4.15"
order: 16
---

{% include breadcrumbs.html %}

<h3><em>USS Maryland</em> and capsized <em>USS Oklahoma</em>, 7 December 1941</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPMY/3NPMY001.jpg">
    <img src="../../img/NPMY/7NPMY001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy." <em>USS Maryland</em> and capsized <em>USS Oklahoma</em>," 24 September 2002. http://www.history.navy.mil/photos/images/g10000/g19949.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>