---
layout: ecu
title: "Battleship USS Utah capsizing"
customdate: "4.19"
order: 20
---

{% include breadcrumbs.html %}

<h3>Battleship <em>USS Utah</em> capsizing (AG-16), 7 December 1941</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPUT/3NPUT001.jpg">
    <img src="../../img/NPUT/7NPUT001.jpg" />
  </a>

</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. "Battleship <em>USS Utah</em> capsizing at Pearl Harbor," 24 September 2002. http://www.history.navy.mil/photos/images/g260000/g266626.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>