---
layout: ecu
title: "View of USS Pennsylvania (BB-38)"
customdate: "4.01"
order: 1
---

{% include breadcrumbs.html %}

<h3>View of <em>USS Pennsylvania</em> (BB-38)</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/PENN/3PENN001.jpg">
    <img src="../../img/PENN/7PENN001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[View of USS Pennsylvania ], n.d., David L. Martineau Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, David L. Martineau Papers #677/46/455. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-046">Display Collection Guide</a></td>
  </tr>
</table>