---
layout: ecu
title: "Biographical Sketch of John W. Gilpin (USS Monaghan)"
customdate: "4.11"
order: 12
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of John W. Gilpin (<em>USS Monaghan</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
John W. (Jack) Gilpin was born on September 8, 1918, and died on July 13, 1994. He received an appointment from Vermont to the Naval Academy. Gilpin served aboard the <em>USS Monaghan</em> during the attack on Pearl Harbor. He retired as U. S. Naval Commander and has received the Silver Star Medal as well as the Purple Heart. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr>
    <td>John W. Gilpin Papers #833, East Carolina Manuscript Collection, Manuscripts and Rare Books Department. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0833">Display Collection Guide</a></td>
  </tr>
</table>

</div>
