---
layout: ecu
title: "Henry Champ on the USS Medusa"
customdate: "4.09"
order: 10
---

{% include breadcrumbs.html %}

<h3>Telegram to <em>USS Monaghan</em> (DD-354), 7 December 1941</h3>

<div class="well">
  <label>Image from Telegram</label><br/>

  <a href="../../img/TELE/3TELE001.jpg">
    <img src="../../img/TELE/7TELE001.jpg" />
  </a>
</div>
<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Telegram to <em>USS Monaghan</em>], 7 December 1941, John Wallace Gilpin Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>John Wallace Gilpin Papers #833.3.c. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0833">Display Collection Guide</a></td>
  </tr>
</table>