---
layout: ecu
title: "David H. Jackson, Naval Academy Yearbook"
customdate: "1.12"
order: 12
---

{% include breadcrumbs.html %}

<h3>David H. Jackson (<em>USS Preble</em>) <em>Naval Academy Yearbook</em>, 1941</h3>

<div class="well">
  <label>Image from Yearbook</label><br/>

  <a href="../../img/ACKS/3ACKS001.jpg">
    <img src="../../img/ACKS/7ACKS001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>David H. Jackson, <em>The Lucky Bag of the Class of 1941</em>. Raleigh: Edwards &amp; Broughton Company, 1941.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Special Ref V 415 J1 L9 1941. <a href="http://catalog.lib.ecu.edu/catalog/443750">Display Catalog Record</a></td>
  </tr>
</table>
