---
layout: ecu
title: "Chart of USS Zane's sortie (DD-337)"
customdate: "1.26"
order: 28
---

{% include breadcrumbs.html %}

<h3>Chart of <em>USS Zane's</em> sortie (DD-337), no date </h3>

<div class="well">
  <label>Image from Map</label><br/>

  <a href="../../img/ANES/3ANES001.jpg">
    <img src="../../img/ANES/7ANES001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Chart of USS Zane's sortie], n.d., David M. Armstrong Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>David M. Armstrong Papers #555.1.e. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0555">Display Collection Guide</a></td>
  </tr>
</table>