---
layout: ecu
title: "Aerial view of attack on Battleship Row"
customdate: "1.19"
order: 20
---

{% include breadcrumbs.html %}

<h3>Aerial view of attack on Battleship Row, 7 December 1941</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/APAN/3APAN001.jpg">
    <img src="../../img/APAN/7APAN001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Attack on "Battleship Row"], 7 December 1941, Henry Champ Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Henry Champ Papers #677/45/29. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-045">Display Collection Guide</a></td>
  </tr>
</table>