---
layout: ecu
title: "Report on Japanese air raid"
customdate: "1.16"
order: 17
---

{% include breadcrumbs.html %}

<h3>Alexander Coxe, Jr., [Report on Japanese air raid], 9 December 1941</h3>

<div class="well">
  <label>Text from Report</label><br/>

  <p>
[Page 1]
</p><p>
A16-3/DM18
</p><p>
U.S.S. BREESE (DM18)
</p><p>
At sea,<br/>
December 9, 1941
</p><p>
From: Executive Officer.<br/>
To: Commanding Officer.
</p><p>
Subject: Japanese Air Raid on Pearl Harbor, T.H. [Territory of Hawaii] , 7 December 1941.
</p><p>
1. In compliance with reference (a) the following report is submitted.
</p><p>
2. The BREESE was nested in berth D-3, Middle Loch, in company with Mindiv 2, order of ships from north: GAMBIE, MONTGOMERY, BREESE, and RAMSAY.
</p><p>
3.The BREESE was the division guard ship with the Executive Officer as nest duty officer.
</p><p>
4. At 0755, two dive bombing planes approached Ford Island from the west at an altitude of 200 ft., in horizontal flight and bombed the sea plane hangar and adjacent gasoline tanks on the west end of Ford Island. The general alarm was sounded and the anti-aircraft battery manned. This ship opened fire with 50 cal. machine guns at 0757, the first ship to open fire in the Middle Loch area. The duty officers of all ships were instructed to prepare to get underway. By this time there were many planes coming in from the north and west. The U.S.S. UTAH was bombed immediately after the Ford Island Hangar. Fires broke out on Ford Island and there was heavy black smoke coming across the harbor from the direction of the submarine base. The sky was filled with H.E. [High Explosive] bursts. The were many bombs exploding in the vicinity of the MEDUSA, CURTIS, and Cruisers moored next to the UTAH. The UTAH listed badly to starboard and subsequently turned bottom up. The stern of the CURTIS was on fire. During this melee a PBY [Patrol Bomber Y-"Patrol Flying Boat"] took off from Ford Island and passed directly overhead.
</p><p>
6. The effectiveness of the bombing decreased noticeably with the increase of AA [Anti-Aircraft] fire.
</p><p>
7. Four planes were observed by this officer as they were shot down in the Middle Loch area. one of these was hit by a 3" projectile from this ship, which blew the after part of the fuselage away the remainder of the plane crashed into the west bank of the channel in flames. A fifth plane was observed by members of the crew as it caught on fire and was deliberately flown into the stern of the CURTIS.
</p><p>
8. It is estimated that about 70 planes were used in the attack.
</p><p>
[Page 2]
</p><p>
A16-3/DM18
</p><p>
U.S.S. BREESE (DM18)
</p><p>
Subject: Japanese Air Raid on Pearl Harbor, T.H., 7 December 1941.
</p><p>
8.(continued) The dive bombers seemed to be very slow. They were equipped with two machine guns forward and one machine gun aft. Most bombs were released from a horizontal position. About 30 high altitude bombers were observed. These plane flew in formation and were painted white on their underside, which made them blend in perfectly with the high alta cumulus clouds. This was highly effective camoflage. All anti-aircraft fire was below these planes.
</p><p>
9. At about 0900, a submarine was sighted in the middle of the channel north west of Ford Island with its conning tower above the water proceeding at high speed. At the moment the conning tower broke water the vessel was hit with a hail of machine gun fire. The Destroyer MONAGHAN was leaving the north channel at high speed and attempted to ram the submarine. As the MONAGHAN stern paseed over the submarine the two depth charges were dropped.
</p><p>
10. The BREESE got underway at 0917 and proceeded out of the harbor. A supersonic search was conducted off of the harbor entrance. At 1108 followed a motor torpedo boat to a position where a periscope had been sighted. Dropped two depth charges. Bearings: Barbers Point 297(degrees)(t), Diamond Head 078(degrees)(t), Hickam Tower 357 (degrees)(t). continued supersonic search. At 1133 picked up and tracked a submarine, dropped five depth charges. Bearings: Barbers Point 296 (degrees)(t), Diamond Head 088(degrees)(t), Hickam Field 013(degrees)(t).
</p><p>
11. Ammunition expended:<br/>
45 rounds 3" 23 cal. AA [Anti-Aircraft].<br/>
1700 rounds .50 cal. AP [Anti-Personnel] and tracer.<br/>
11 depth chrages.
</p><p>
12. Casualties:<br/>
Material;<br/>
Miner damage to rigging.<br/>
Personnel;<br/>
Received in loading 3" 23 cal. gun.<br/>
Faucett, K.N., Flc, #410 01 43, USNR, V-6.,<br/>
deep laceration palm of right hand.<br/>
Ford, W.E., F2c, #337 24 95., abrasion right index finger.
</p><p>
13. The spirit and behavior of the crew was in accordance with the traditions of the Naval Service.
</p><p>
[Page 3]
</p><p>
A16-3/DM18
</p><p>
U.S.S. BREESE (DM18)
</p><p>
Subject: Japanese Air Raid on Pearl Harbor, T.H., 7 December 1941.
</p><p>
14. The following members of the ship's company were not on board.<br/>
Lt. (jg) R.A. BENNETT, U.S.N.R.<br/>
Ensing, G.W.MCKNIGHT, U.S.N.R.-reported on board GAMBLE.<br/>
HARTT, Kenneth R., CMM(PA), #310 60 41.<br/>
HEBBE, Elwood R., CCStd(AA), #243 27 19.<br/>
MCPHERSON, Albert E., CCStd(PA), #336 38 28.<br/>
GLENZ, Frederick G., GM1c, #368 35 49.<br/>
SLOVER, Walter P., GM2c, #223 07 19.<br/>
ISELL< Robert M., MM2c, #385 70 13.<br/>
YORK, Conrad A., Bmkrlc, #383 01 14.<br/>
WEATHERS, Eugene T., Bmkr2c, #355 77 05.<br/>
CLARKE, Howard E., WT2c, #261 99 76.<br/>
GUEST, Oliver C. Jr., Flc, #268 22 77.<br/>
WALKER, Hugh E., MM2c, #341 87 23.- On emergency leave.<br/>
SHIVELY, Clarence J., Flc, #337 41 28.<br/>
PETERSON, Joe Jr., Mattlc, #346 55 19.- reported on board-<br/>
BURNETT, Benjamin C., Ylc, #346 46 52. GAMBLE.
</p><p>
15. The anti-aircraft battery of this vessel is considered inadequate. It is compsed of two 50 cal. machine guns and one 3" 23 cal. AA gun. The following landing force equipment was used to augment the anti-aircraft battery and although its effectiveness is doubtful it served as a means of satisfying the offensive spirit of te crew. 3 30 cal. Lewis machine guns. 3 Browning automatic rifles. (A.B. Coxe)
</p><p>
[Page 4]
</p><p>
U.S.S. BREESE (DM18)
</p><p>
At about five minutes to eight I went up on deck [and] was startled at a loud exploision [and] flame from the old hangr [hangar] on Ford Island. I told the Boatswain Mate to call away the fire and rescue party. I notice planes flying low over Ford Island and one of them drop a bomb. I ordered the gangwatch who was a qualified machine gunner to man fifty caliber machine gun and commence firing onthe plane. The general alarm was sounded and the 3" inch gun was manned. The fifty caliber machine gun opened up at about seven fifty seven and I believe that this was the first gun fired by the vessels afloat in Pearl Harbor. There was some confusion on the ship but we tried to unrig forestale awning so that the 3" gun could fire. I gave orders to the assistant Engineering Officer and to all the nest duty officers to get ready to get underway. Shortly after we opened fire with 50 cal. A bomb struck the UTAH and she listed badly to starboard. Bombs were seen [to] strike nermous [numerous] Cruisers moored alongside Ford Island and numerous building [buildings] and oil tanks on the beach were on flame.
</p><p>
I estimate that there was seventy or eighty planes participating in the attack. The whole fleet opened up anti-aircraft battery and filled the sky with high explosive projectile. There was numerous high altitude bombers painted white on the underside so that they would blend in perfectly with the high culmulus clouds and were very difficult to see unless they were against the blue sky. These high altitude bombers were apparently above all the anti-aircraft fire. Dive bombers attacking what was apparently their main objective, Ford Island after releasing their bombs would peal off and fly directly over Mine Division TWO. Three planes were observed to burst into flame on our starboard side. One of these was hit directly with a projectile which was probably fired by the BREESE's forecastle gun and broke into many fragments in the air. Another plane crossed our bow and plunged into the water just beyond the Yacht club a few hundred ards [yards] to the ship. To [Two] members of the planes crew were seen floating in the water apparently still alive The men on watch on the bridge were of the unumous [unanimous] desire to go get the "sun-of-bitches". The RAMSAY had left our side by this time and we were making preparations to cast off so we could not stop to capture the aviators in the water.
</p><p>
Just prior to leaving the nest report was received that there were submarines in pearl Harbor. A submarine was sighted in the middle of the channel near buoy #3 with conning tower out of the proceeding at high speed.
</p><p>
[Page 5]
</p><p>
At the moment the conning tower broke water the vessel was met with a hail of 3", 5", 50 cal., 30 cal. fire. The destroyer MONAHAHM [MONAGHAN] was coming down the channel at high speed fire was attempted and it looked as if the MONAHAHM was attempting to ram the submarine. Just before the Monohahm [MONAGHAN] would have hit her the submarine submerged, or sank. As the Monahahm [MONAGHAN] passed over the spot where the submarine had been she droppd two depth charges. The Monahahm [MONAGHAN] was making high speed and could not stop until she had run her bow up into the mud on the west side of the channel.
</p><p>
The BREESE proceeded down the channel at high speed and started to attack what appeared to be a periscope on starboard bow and which turned out to be part of a Mine sweeps sweeping gear.
</p><p>
After leaving the harbor the BREESE proceeded with a Supersonic off the harbor entrance for submarines. A PT [Patrol Torpedo Boat] Boat approached us at high speed and said that they had sighted a periscope and to follow them. We kicked all engine ahead flamk [flank] and proceeded to a spot designated by the PT Boat. We slowed to standard speed searched with our sound gear and could hear nothing but dropped two depth charges just to be sure. We continued searching. Upon receipt of a signal we rendzvoued on the Detroit and were instructed to take station as off shore patrol. We carried out these orders and while passing through an area a few hundred yards from the spot where we had previously dropped two depth charges our sound operator picked up what he believed was a submarine. The submarine tracked to within forty yards of the BREESE when we let loose wit 5 depth charges. A great deal of debris appeared in the gyser from the depth charge and we might have had some luck with this attack.
</p><p>
An interesting sight which I failed to observe was that of the dive bombers on fire which deliberately dove into the CURTIS.
</p><p>
From a report made by RUGG, BM2c, and WHITAKER,Slc, Hickam Field was attacked simultaneously with Ford Island. The Field was put in such a condition that planes could not take off. WHTAKER [WHITAKER] noticed formation of torpedo planes passing over his home in the Hickam Field house project towards Pearl Harbor. Two of these planes was shot down by Marine machine gunners as they passed over Pearl Harbor Navy Yard.
</p><p>
Ammunition fired:
1700 50 cal.
45 3"
500 30 cal.
7 depth charges 
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Alexander B. Coxe, Jr., [Report on Japanese air raid], 9 December 1941, Alexander B. Coxe, Jr. Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Alexander B. Coxe Jr. Papers #194.3.b. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0194">Display Collection Guide</a></td>
  </tr>
</table>