---
layout: ecu
title: "Victor Delano, Pearl Harbor [Before the Attack]"
customdate: "1.20"
order: 21
---

{% include breadcrumbs.html %}

<h3>Victor Delano, "Pearl Harbor [Before the Attack]", no date</h3>

<div class="well">
  <label>Text from Report</label><br/>

  <p>
[Page 3]
</p><p>
PEARL HARBOR
</p><p>
After my graduation from the Naval Academy on February 7, 1941, I was ordered to the USS West Virginia for duty. At that time the West Virginia was the flagship of Commander Battleships, Battle Force and Commander Battleship, Division Four, Rear Admiral Walter Stratton Anderson. The Commanding Officer was Captain H. T. Markland who was subsequently relieved by Capt. M. S. Bennion, during September 1941, I believe. The executive 'Officer, was Commander B. R. Alexander who himself was relieved by Comdr. O. N. Hillenkoeter, a short time before the raid on the seventh of December.
</p><p>
Upon reporting, I was assigned as an "F" (Fire Control) Division, junior watch and junior division officer. My battle station was the forward group graphic plotter but in about 5 months I was given charge of' the after group of turrets and the after range keeper. All of these stations were in the plotting room and I remained in the plotting room, for my battle station, throughout my tour of duty on the West Virginia. Within a short time I became the ship's rangefinder officer and later the assistant radar officer.
</p><p>
Most of the period from the time I reported until the raid was spent in normal operations in the West Virginia with the task force to which the West Virginia was assigned.
</p><p>
The usual schedule was to be at sea for one- week and in port for two weeks. This varied slightly at times but it was followed very closely to insure that there was always one-third of the Pacific Fleet at sea as a security measure. At sea, we usually spent, three days engaged in fleet tactics which merely consisted of a problem involving the use of one of the three task forces, into which the fleet was divided against one of the other two task forces. It is significant to note that during this period the commander-in-chief of the fleet Admiral Kimmel, apparently very seldom assumed tactical command of one of the task forces involved in the problems but generally served as the umpire in chief.
</p><p>
Our last problem at sea, in which the West Virginia was engaged, commenced on November 22 and the basic problem was to bring a large, slow convoy down from the north to Pearl Harbor. Acting as escorts for the convoy were the battleships, a few light forces and one carrier plus the support of shore based aircraft. Against us (the convoy) was a raiding force of cruisers and at least one carrier.
</p><p>
To me this was by far the most interesting problem we had undertaken for I thought it was one in which we definitely would become involved when we entered the war. Throughout the period after the start of the problem we were subjected to raids by the carrier based planes of the enemy despite all the screens and patrols that we placed in the air. All of these raids by the enemy planes appeared to me, when I was able to see them, definitely effective and successful. During other periods at sea we had been subjected to very heavy and repeated air attacks by army and navy planes but I was struck during this operation by the inability of our aircraft to defend us adequately as well as the inability of our radars to give us the proper warning of approaching enemy raids. Since none of the planes were fitted with identification devices, it was easy for enemy planes to completely fool our radars.
</p><p>
It may be noted here that air raid drills in port as far as the West Virginia was concerned, frequent though they were served more the purpose of training the control and gun crews at their stations than to perfect the defense of the fleet as a whole against an air attack while in port. The element of surprise was apparently forgotten. At night, in port, my battle station was the port anti-
</p><p>
[Page 4]
</p><p>
aircraft director and I can never remember a time when I was not warned that a raid would take place at a scheduled time in the evening, never later than 2200,
</p><p>
As a prelude to the surprise element of the attack by the Japanese on December 7, I had been told several times by classmates of mine serving in destroyers of submarine contacts they had made with their listening devices as early as the summer of 1941. One of these contacts involved a sampan found suspiciously near the contact. Throughout the period after my reporting, I can remember sampans aimlessly cruising about in the midst of the operating area around the entrance to Pearl Harbor. There was always at least one in that vicinity during every one of our sorties and entrances.
</p><p>
About three weeks before the raid one of my classmates informed me that as a result of a submarine contact he personally had made and had reported, an order was placed in effect directing all destroyers making contact, that were definitely not American submarines, to attack and destroy the contacts immediately.
</p><p>
Toward the end of our last operating period at sea, the destroyers in advance of the battleships, which had been operating well to the south of Oahu, reported that there were unidentified submarines directly in the course of the battleships. This was on the night of November 28 following the firing of a night battle practice by the battleships. Upon receipt of this information, the West Virginia set war condition watches on the secondary battery and supplied ready ammunition to the guns. At the same time, the course of the Task Group was altered in order to clear the area of the submarines and the ships commenced to zig-zag. No more was heard of this scare upon our entrance into Pearl Harbor late the next morning and it apparently was forgotten. I never heard the full details of the scare until later so I did not fully appreciate the action we took at the time.
</p><p>
Upon our entrance to Pearl harbor shortly before noon, we moored starboard side to the port side of the TENNESSEE which was in turn moored starboard side to interrupted quays F-6 North and South. Our usual berth was F-5 but since Admiral Anderson had shifted his flag to the Maryland because of the West Virginia'S probable return to PSNY [Puget Sound Naval Yard] for overhaul, the Maryland took our place at F-5l. We had also embarked Rear Admiral D. W. Bagley, CBD 2 [Commander Battle Division 2] for the previous period at sea and by being alongside the TENN. [Tennessee] it would facilitate his return to his usual flagship, the TENN.
</p><p>
During this period in port nothing unusual occurred to arouse excitement and to a lot of minds in the junior officers areas of the West Virginia the war was extremely remote. During this period, most of the officers who were my friends were worrying more about getting all the Christmas parcels destined for the mainland packed and aboard the steamer (Matson Line) that was to leave on December 5, Friday. On Wednesday, December 3, I was engaged in readying my packages for mailing and did not get ashore until later after completing all my mailing.
</p><p>
While in port during this period, Ens. [Ensign] McClelland, USNR [United States Naval Reserve] , who later was the only ensign killed in the WVA [West Virginia] during the attack, and I had discussed the idea of inviting two Honolulans, Dr. and Mrs. F. L. Putman, friends of ours out to the ship for dinner to repay their hospitality to both of us. I believe McClelland was related in some way to Dr. Putman but I am not sure.
</p><p>
That Wednesday night, after my work was done, I drove into town and I remember one call, in particular, that I paid. I called on Captain and Mrs. Overesch and their daughter, Emily. The Captain had gone to bed but Mrs. Overesch awoke him since I had never met him and she wanted me to [meet him] lest I disappear to the mainland. Throughout the ensuing conversation I was deeply impressed with the grimness of all three, particularly the two women, who previously were seldom anywhere near grim, as regards the Far Eastern situation. All thought it was far more sever [severe] than anything I had imagined in my weakest moments and thought that we were separated from war by but a few days. Captain Overesch was in command of Destroyer Squadron Five and spoke during the evening of a very
</p><p>
[Page 5]
</p><p>
mysterious conference to be held early the next morning on R.Adm. [Rear Admiral] Theobald's flagship (Flotilla Commander) prior to getting underway. Whatever may have been the subject or purpose of the conference, if any of them knew or guessed, was a definite source of uneasiness for the entire family.
</p><p>
I returned to my ship that evening rather disturbed by this conversation but not too disturbed to enjoy a good night's sleep.
</p><p>
Friday December 5, 1 had dinner with Capt. [Captain] and Mrs. Bunkley at the Halekulani Hotel and again the war was forgotten in a very pleasant evening.
</p><p>
Saturday December 6 was started by the first day of the annual military inspection of the Maryland. My job was to inspect all magazines, ordnance storerooms and workshops. I did this thoroughly half out of a sense of duty and half out of a desire to learn about the location of all the magazines and compare them to those in the West Virginia which I had inspected but two days before. That afternoon I had planned to play golf but returning late from the Maryland I was unable to. That afternoon I paid one call and then had dinner with some friends in town, the Ed Harrisons who were highly entertaining. Following the dinner I stopped in for a talk with ADM. [Admiral] and Mrs. Anderson who probably were about my best friends on the islands. Their home was on the side of Diamond Head overlooking the sea. Both were in and I spent all of two hours in an animated conversation with them. A visit with them was always pleasant for their actions toward me practically placed me in the role of their own son. That evening the conversation was initiated by ADM. Anderson and after my favorite subject, rangefinders, had been thoroughly worn out we discussed the anti-aircraft activities and defenses of the fleet. I had always thought several of the defense ideas then in vogue foolish and that evening felt free to say so for the Andersons always asked, expected, and received my true beliefs. Finally I took my leave and returned to the ship. I cannot remember at any time during that evening the mention of a possible raid on Pearl Harbor by the Japanese though I am convinced that the Admiral had long held that they would attack us treacherously whenever they did. 
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Victor Delano, "Pearl Harbor [Before the Attack]", n.d., Victor Delano Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Victor Delano Papers #539.1. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0539">Display Collection Guide</a></td>
  </tr>
</table>