---
layout: ecu
title: "Historical Sketch of USS Breese (DD-122 & DM-18)"
customdate: "1.15"
order: 15
---

{% include breadcrumbs.html %}

<h3>Historical Sketch of <em>USS Breese</em> (DD-122 & DM-18)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p><em>Breese</em> was named for Kidder Randolph Breese (1831-1881) who served in <em>Mississippi</em>, flagship of Commodore Perry, during the expedition to Japan (1854-55) and as captain of Black Hawk , flagship of Admiral Porter's Mississippi Squadron during the Civil War. She was commissioned 23 October 1918 as a destroyer but was re-designated as a light minelayer in 1931. <em>Breese</em> was attached to Mine Division 2, Minecraft, Battle Force based at Pearl Harbor, Hawaii. On 7 December 1941, <em>Breese</em> was anchored at Pearl Harbor and by 0757 she was firing at the attacking Japanese planes at close range with her machine guns. Although she received no material damage from the Japanese attack, <em>Breese</em> aided in the sinking of one midget submarine and damaged numerous enemy planes during the action. </p>
<p><em>Breese</em> served in the Pacific Theater throughout World War II, earning 10 battle stars. After the war, she was decommissioned and sold on 14 May 1946. </p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td> Dictionary of American Naval Fighting Ships , 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume I, pp.154-155. </td>
  </tr>
    <tr>
    <td>Alexander B. Coxe, Jr. Papers #194.3, East Carolina Manuscript Collection, Manuscripts and Rare Books Department <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0194">Display Collection Guide</a></td>
  </tr>
</table>

</div>
