---
layout: ecu
title: "Biographical Sketch of Richard M. Wright (USS Tennessee)"
customdate: "1.37"
order: 39
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Richard M. Wright (<em>USS Tennessee</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Richard M. Wright was born on March 14, 1918, in Virginia. He received an appointment from California to the Naval Academy. Wright served aboard the USS Tennessee during the attack on Pearl Harbor. He retired as U. S. Naval Captain on August 31, 1969, and has received the Silver Star Medal, the Legion of Merit, the Navy and Marine Corps Medal, the Bronze Star Medal, the Combat Action Ribbon, the Naval Unit Commendation Ribbon, and all foreign decorations.
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
        <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
</tr><tr>
    <td>Richard M. Wright Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 202. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0202">Display Collection Guide</a></td>
  </tr>
</table>

</div>
