---
layout: ecu
title: "Sunken USS Oklahoma (BB-37)"
customdate: "1.35"
order: 37
---

{% include breadcrumbs.html %}

<h3>Sunken <em>USS Oklahoma</em> (BB-37), circa 1941</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/KLAH/3KLAH001.jpg">
    <img src="../../img/KLAH/7KLAH001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Sunken USS Oklahoma ], Dec. 1941, Henry Champ Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, Henry Champ Papers #677/45/36. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-045">Display Collection Guide</a></td>
  </tr>
</table>