---
layout: ecu
title: "Biographical Sketch of David H. Jackson"
customdate: "1.13"
order: 13
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of David H. Jackson (<em>USS Preble</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>David Henry Jackson was born in Smackover, Arkansas, on June 5, 1917, and died March 14, 1994. He received an appointment to the Naval Academy from Arkansas. Jackson served aboard the <em>USS Preble</em> during the attack on Pearl Harbor. He retired as Rear Admiral of the U.S. Navy on August 31, 1974, and has received three Legion of Merit's, two Meritorious Service Medals, all foreign decorations, and the Naval Commendation Medal. </p>
<p>Compiled from:</p>
<table class="table">
  <tr>

    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni, 1997 Edition.</em> (Annapolis, 1997).</td>
  </tr>
    <tr>
    <td>David H. Jackson Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 128. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/OH0128">Display Collection Guide</a></td>
  </tr>
</table>

</div>
