---
layout: ecu
title: "Biographical Sketch of Victor Delano (USS West Virginia)"
customdate: "1.21"
order: 22
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Victor Delano (<em>USS West Virginia</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Victor Delano was born in Maryland on December 20, 1919. He received an appointment at Kansas to the Naval Academy. Delano served aboard the <em>USS West Virginia</em> during the attack on Pearl Harbor. He retired as U. S. Naval Captain on December 1, 1969, and has received two Legion of Merit awards, the Bronze Star Medal, the Purple Heart, the Joint Service Commendation Medal, the Navy Commendation Medal, and the Air Force Commendation Medal. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
</table>

</div>
