---
layout: ecu
title: "Biographical Sketch of Archie Parmelle Kelley (USS West Virginia)"
customdate: "1.23"
order: 24
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Archie Parmelle Kelley (<em>USS West Virginia</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Archie P. Kelley was born in Arizona on July 31, 1918. He received an appointment to the Naval Academy from the state of Washington. Kelley served aboard the <em>USS West Virginia</em> during the attack on Pearl Harbor. He retired as Captain of the U.S. Navy Reserves on February 1, 1965, and has received the Bronze Star Medal. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr>
    <td>Archie Parmelee Kelley Interview, Oral History Collection, Manuscripts and Rare Books Department, Collection No. 197. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0197">Display Collection Guide</a></td>
  </tr>
</table>

</div>
