---
layout: ecu
title: "Pearl Harbor Anchorage 7:55 A.M. Dec. 7, 1941"
customdate: "1.02"
order: 2
---

{% include breadcrumbs.html %}

<h3>"Pearl Harbor Anchorage 7:55 A.M. Dec. 7, 1941" no date</h3>


<div class="well">
  <label>Image from Map</label><br/>

  <a href="../../img/MAPS/3MAPS001.jpg">
    <img src="../../img/MAPS/7MAPS001.jpg" />
  </a>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Maps.com. "Pearl Harbor Anchorage 7:55 A.M. 7 December 1941" 2002. http://media.maps.com/magellan/Images/PEARLH-W1.gif (25 November 2002).</td>
  </tr>
</table>
