---
layout: ecu
title: "Biographical Sketch of Charles P. Trumbull"
customdate: "1.07"
order: 7
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of Charles P. Trumbull (<em>USS Louisville</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>Charles Pendleton Trumbull, Jr. was born in North Carolina on 25 February 1918. He received an appointment from Ohio to the Naval Academy. At the time of the attack on Pearl Harbor he was stationed on the cruiser <em>USS Louisville</em> (CA 28). He earned qualification in submarine warfare and won two Navy Commendation medals. Trumbull retired from the Navy with the rank of Commander on 30 June 1961. </p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., Register of Alumni, 1997 Edition. (Annapolis, 1997). </td>
  </tr>
    <tr>
    <td>Charles Pendleton Trumbull Papers #829.3.12. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0829">Display Collection Guide</a></td>
  </tr>
</table>

</div>

