---
layout: ecu
title: "View of USS Breese"
customdate: "1.15a"
order: 16
---

{% include breadcrumbs.html %}

<h3>"View of <em>USS Breese</em>" (DD-122 & DM-18), no date </h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPBR/3NPBR001.jpg">
    <img src="../../img/NPBR/7NPBR001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>NavSource Photo Archives. "View of the <em>USS Breese</em>," 24 September 2002. http://www.navsource.org/archives/05/122.htm (25 November 2002).</td>
  </tr>
</table>