---
layout: ecu
title: "View of USS Preble"
customdate: "1.09"
order: 9
---

{% include breadcrumbs.html %}

<h3>[View of <em>USS Preble</em>] (DD-345) circa 1940</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPPR/3NPPR001.jpg">
    <img src="../../img/NPPR/7NPPR001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>NavSource Photo Archives. [View of USS Preble ], 24 September 2002. http://www.navsource.org/archives/05/0534501.jpg (25 November 2002).</td>
  </tr>
</table>
