---
layout: ecu
title: "View of USS West Virginia (BB-48)"
customdate: "1.25a"
order: 27
---

{% include breadcrumbs.html %}

<h3>View of <em>USS West Virginia</em> (BB-48) circa April 1943</h3>

<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPWE/3NPWE001.jpg">
    <img src="../../img/NPWE/7NPWE001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. " USS West Virginia off Pearl Harbor after temporary repairs," September 24, 2002. http://www.history.navy.mil/photos/images/k00001/k00571.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>