---
layout: ecu
title: "Rescuing survivor near USS West Virginia"
customdate: "1.03"
order: 3
---

{% include breadcrumbs.html %}

<h3>"Rescuing survivor near <em>USS West Virginia</em>" (BB-48) 7 December 1941</h3>


<div class="well">
  <label>Image from Online Source</label><br/>

  <a href="../../img/NPWV/3NPWV001.jpg">
    <img src="../../img/NPWV/7NPWV001.jpg" />
  </a>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. "Rescuing survivor near USS West Virginia ," 24 September 2002. http://www.history.navy.mil/photos/images/g10000/g19930.jpg (25 November 2002).</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Official U.S. Navy Photograph, now in the collections of the National Archives</td>
  </tr>
</table>
