---
layout: ecu
title: "The USS Zane off San Francisco (DD-337)"
customdate: "1.18"
order: 19
---

{% include breadcrumbs.html %}

<h3>The <em>USS Zane</em> off San Francisco (DD-337) 21 September 1943</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/NPZA/3NPZA001.jpg">
    <img src="../../img/NPZA/7NPZA001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Naval Historical Center, Department of the Navy. "The USS Zane off San Francisco, California," 24 September 2002. http://www.history.navy.mil/photos/images/n50000/n57504.jpg (25 November 2002).</td>
  </tr>
<tr>
    <td>Location:</td>
    <td>Photograph from the Bureau of Ships Collection in the U.S. National Archives</td>
  </tr>
</table>