---
layout: ecu
title: "Battleship USS Oklahoma (BB-37)"
customdate: "1.34"
order: 36
---

{% include breadcrumbs.html %}

<h3>Battleship <em>USS Oklahoma</em> (BB-37), no date</h3>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/OKLA/3OKLA001.jpg">
    <img src="../../img/OKLA/7OKLA001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Battleship USS Oklahoma ], n.d., David L. Martineau Papers, U.S. Navy Memorial Foundation Collection.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>U.S. Navy Memorial Foundation Collection, David L. Martineau Papers #677/46/388. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0677-046">Display Collection Guide</a></td>
  </tr>
</table>