---
layout: ecu
title: "Serviceman watching the cruiser USS Louisville"
customdate: "1.05"
order: 5
---

{% include breadcrumbs.html %}

<h3>Serviceman watching the cruiser <em>USS Louisville</em>, circa November 1941</h3>
<b>Notes</b>
<p>This photo is on the inside front cover of Charles P. Trumbull's diary.</p>

<div class="well">
  <label>Image from Diary</label><br/>

  <a href="../../img/PALM/3PALM001.jpg">
    <img src="../../img/PALM/7PALM001.jpg" />
  </a><br/><br/>
<b>Transcription for the image above:</b>
<p>The Lucky Lady Lou [Louisville] at Pier 7, Manila, P.I. [Philippine Islands] November 20 - November 25, 1941 </p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[A Serviceman watching the cruiser USS Louisville in Manila], November 1941, Charles Pendleton Trumbull Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Charles Pendleton Trumbull Papers #829.3.12. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0829">Display Collection Guide</a></td>
  </tr>
</table>
