---
layout: ecu
title: "Joseph C. Spitler, Naval Academy Yearbook"
customdate: "1.33"
order: 35
---

{% include breadcrumbs.html %}

<h3>Joseph C. Spitler (<em>USS Oklahoma</em>) Naval Academy Yearbook, 1941</h3>

<div class="well">
  <label>Image from Yearbook</label><br/>

  <a href="../../img/PITL/3PITL001.jpg">
    <img src="../../img/PITL/7PITL001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Joseph C. Spitler, <em>The Lucky Bag of the Class of 1941</em>. Raleigh: Edwards & Broughton Company, 1941.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Special Ref V 415 J1 L9 1941. <a href="http://catalog.lib.ecu.edu/catalog/443750">Display Catalog Record</a></td>
  </tr>
</table>