---
layout: ecu
title: "Biographical Sketch of USS West Virginia (BB-48)"
customdate: "1.25"
order: 26
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of <em>USS West Virginia</em> (BB-48)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
Named for the 40 western counties in Virginia that remained loyal when the rest of the state seceded at the start of the civil war and that were admitted to the Union as the 36th state on 20 June 1863, (BB-48) was the second navy ship to bear the name. The "super-dreadnought" battleship <em>West Virginia</em> ("Wee Vee") was commissioned on 1 December 1923. Designed in light of the lessons learned at the Battle of Jutland (1916), <em>West Virginia</em> employed the very latest improvements in naval architecture, including water-tight compartments and armor plating.
</p><p>
Upon commissioning <em>West Virginia</em> became the flagship for the Commander, Battleship Division, Battle Fleet. By 1940, with the dangers of war increasing, <em>West Virginia</em> was based at Pearl Harbor, where she engaged in a schedule of intensive training, practicing operations with various task forces and groups of ships in the vicinity of Hawaii. On 7 December 1941, <em>West Virginia</em> lay moored outboard of USS Tennessee (BB-43) at berth F-6 at Ford Island, having returned to Pearl Harbor for in-port maintenance and upkeep. Shortly before 0800 Japanese planes attacked her. She was struck by five 18-inch aircraft torpedoes in her port side and hit by two bombs (15 inch armor-piercing artillery shells fitted with fins). The first bomb penetrated the superstructure deck, wrecking the port casemates and causing that deck to collapse to the level of the galley deck below. Four casemates and the galley immediately burst into flames and causing the ready-service projectiles stored there to begin exploding. The second bomb hit further aft, wrecking one of the aircraft catapults and pitching its plane onto the main deck below. While the bomb did not explode, the fuel from the wrecked plane caused some damage. The torpedoes caused even greater damage and only quick action to counterflood the ship prevented <em>West Virginia</em> from capsizing, a fate which befell the Oklahoma (BB-37) moored ahead of her.
</p><p>
Numerous accounts of outstanding heroism exist. The ship's commanding officer, Capt. Mervyn S. Bennion arrived on the bridge early in the battle. Almost immediately he was struck by splinters of a bomb that hit the Tennessee's gun turret II. Mortally wounded, Bennion crumpled to the deck, but clung to life until just before the ship was abandoned, and stayed actively involved in the defense of the ship until his last moments. For his actions he was posthumously awarded the Medal of Honor.
</p><p>
After <em>West Virginia</em> was abandoned, she sank into the mud of the harbor floor upright, on an even keel, with her superstructure above water. A volunteer crew then returned to fight the fires that still raged on board. By the afternoon of 8 December the crew had extinguished the flames with the material assistance of the garbage lighter YG-17 which remained alongside the <em>West Virginia</em> despite the danger of exploding ammunition and fuel. Later examination revealed that the <em>West Virginia</em> had taken not five but six torpedo hits.
</p><p>
Efforts to put the <em>West Virginia</em> back into action were intense. Patched, she was pumped out and refloated on 22 May 1942. In the process the bodies of 70 members of her crew who had been trapped below decks during the attack were discovered. In one compartment a calendar was found the last scratch-off date being 23 December.
</p><p>
After repairs and modernization at the Puget Sound Naval Shipyard, Bremerton, WA <em>West Virginia</em> rejoined the fleet with new anti-aircraft weapons and an entirely new silhouette Despite missing so much of the war, <em>West Virginia</em> earned 5 battle stars during the last year of combat in the Pacific where she served as flagship for Battleship Division 4.
</p><p>
<em>West Virginia</em> was decommissioned in 1947 and sold for scrap in 1959.
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr><td>Dictionary of American Naval Fighting Ships , 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume VIII, pp. 222-227. </td></tr>
<tr>
    <td>
Victor Delano Papers #539, East Carolina Manuscript Collection, Manuscripts and Rare Books Department. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0539">Display Collection Guide</a></td>
  </tr>
</table>

</div>
