---
layout: ecu
title: "Richard M. Wright, Naval Academy Yearbook"
customdate: "1.38"
order: 40
---

{% include breadcrumbs.html %}

<h3>Richard M. Wright (<em>USS Tennessee</em>) Naval Academy Yearbook, 1941</h3>

<div class="well">
  <label>Image from Yearbook</label><br/>

  <a href="../../img/RICH/3RICH001.jpg">
    <img src="../../img/RICH/7RICH001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Richard M. Wright, <em>The Lucky Bag of the Class of 1941</em>. Raleigh: Edwards & Broughton Company, 1941.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Special Ref V 415 J1 L9 1941. <a href="http://catalog.lib.ecu.edu/catalog/443750">Display Catalog Record</a></td>
  </tr>
</table>