---
layout: ecu
title: "Lt. Charles Trumbull and friends"
customdate: "1.08"
order: 8
---

{% include breadcrumbs.html %}

<h3>[Lt. Charles Trumbull and friends] circa November 1941</h3>
<b>Notes</b>
<p>This photo was originally in Charles P. Trumbull's diary.</p>

<div class="well">
  <label>Image from Photo</label><br/>

  <a href="../../img/RUMB/3RUMB001.jpg">
    <img src="../../img/RUMB/7RUMB001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Lt. Charles Trumbull and friends], November 1941, Charles Pendleton Trumbull Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Charles Pendleton Trumbull Papers #829.3.12. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0829">Display Collection Guide</a></td>
  </tr>
</table>
