---
layout: ecu
title: "Biographical Sketch of David M. Armstrong (USS Zane)"
customdate: "1.30"
order: 32
---

{% include breadcrumbs.html %}

<h3>Biographical Sketch of David M. Armstrong (<em>USS Zane</em>)</h3>

<div class="well">
  <label>Text from Principal Investigator</label><br/>

  <p>
David M. Armstrong was born in North Carolina on February 16, 1919. He received an at-large appointment to the Naval Academy. Armstrong served aboard the <em>USS Zane</em> during the attack on Pearl Harbor. He retired as U.S. Naval Commander on July 1, 1961, and has received the Bronze Star Medal as well as the Navy Commendation Medal. 
</p>
<p>Compiled from:</p>
<table class="table">
  <tr>
    
    <td>The U.S. Naval Academy Alumni Association Inc., <em>Register of Alumni</em>, 1997 Edition. (Annapolis, 1997) </td>
  </tr>
<tr><td>Dictionary of American Naval Fighting Ships , 8 vols., (Navy Department, Office of Chief of Naval Operations, Naval History Division, Washington, DC, 1963), Volume VIII, pp. 222-227. </td></tr>
<tr>
    <td>
David M. Armstrong Papers #555, East Carolina Manuscript Collection, Manuscripts and Rare Books Department. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0555">Display Collection Guide</a></td>
  </tr>
</table>

</div>
