---
layout: ecu
title: "Charles P. Trumbull, Naval Academy Yearbook"
customdate: "1.06"
order: 6
---

{% include breadcrumbs.html %}

<h3>Charles P. Trumbull (<em>USS Louisville</em>) <em>Naval Academy Yearbook</em>, 1941</h3>

<div class="well">
  <label>Image from Yearbook</label><br/>

  <a href="../../img/TRUM/3TRUM001.jpg">
    <img src="../../img/TRUM/7TRUM001.jpg" />
  </a>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Charles P. Trumbull, <em>The Lucky Bag of the Class of 1941</em>. Raleigh: Edwards &amp; Broughton Company, 1941.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Special Ref V 415 J1 L9 1941. <a href="http://catalog.lib.ecu.edu/catalog/443750">Display Catalog Record</a></td>
  </tr>
</table>
