---
layout: ecu
title: "Friend of David M. Armstrong to Armstrong's father"
customdate: "1.28"
order: 30
---

{% include breadcrumbs.html %}

<h3>Frank , [Friend of David M. Armstrong to Armstrong's father], 8 December 1941</h3>

<div class="well">
  <label>Text and Image from Autographed Letter Signed</label><br/>
<a href="../../img/WALT/3WALT001.jpg">
    <img src="../../img/WALT/7WALT001.jpg" />
  </a><br/><br/>
  <p>
Transcription for the image above:
</p>
<p>
Mon AM
</p>
<p>
Dec 8, 1941
</p>
<p>
Dear Walter,
</p>
<p>
I know how anxious and worried you and Edith must be about the action in the pacific. On the other hand I know too that you're mighty proud as you have good reason to be that you and yours can take such an important part in the services of the country.
</p>
<p>
It's too bad that we couldn't have struck first but that I suppose is the price we had to pay for the unity I talked about. Now there is no longer any question about it and the Japs are in for a hell of a licking. I don't suppose we'll know for certain what really happened but from what you've told us about the Navy I can't ever imagine that they were caught flat-footed. Jack was due here next week on furlough which of course may be cancelled. He had to take some exams for flying cadet but thinks he passed them. He's already passed all the physicals.
</p>
<p>
We're most [almost] as anxious and proud of Dave as you are so please keep me informed about him when you hear. Meanwhile keep your chin up.
</p>
<p>
Luck,<br/>
Frank 
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Friend of David M. Armstrong to Armstrong's father], 8 December 1941, David M. Armstrong Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>David M. Armstrong Papers #555.1.b. <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0555">Display Collection Guide</a></td>
  </tr>
</table>